.text-right { text-align: right !important;}
.text-center { text-align: center !important;}
.text-left { text-align: left !important;}
mark{background-color: yellow;}
.option{cursor: pointer;}
.draggable{cursor: move;}
.q_content{line-height: 150%;font-size: 105%;}
.insertHere{font-size: 105%;font-weight: bold;}