/* Testimonials Slider Area css
============================================================================================ */
.testimonials_area {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 161px;
  left: 0px;
}
.testi_slider {
  max-width: 408px;
  .testi_item {
    img {
      margin-bottom: 40px;
      width: 200px;
      height: 200px;
    }
    h4 {
      color: $dip;
      font-size: 24px;
      margin-bottom: 10px;
      line-height: 2rem;
      font-weight: 400;
      @include l-space-1;
    }
    h5 {
      color: $dip;
      font: 16px $sw;
      line-height: 1.6rem;
      margin-bottom: 30px;
      @include l-space-1;
      a {
        color: $baseColor;
      }
      span {
        color: $baseColor;
      }
    }
    p{
      @include l-space-2;
    }
  }
}
.testi_inner {
  .col-lg-6 {
    // background: #1b1b1b;
    // background-color: #b3bbc9;
    background-image: linear-gradient(218deg, rgba(43, 255, 209, .7) 0%, rgba(131, 70, 150, 0.75) 40%, rgba(6, 9, 27, .9) 100%);
  }
  .testi_slider {
    // background: #1b1b1b;
    // background: rgba(6, 26, 39, 0.6); 
    padding-top: 70px;
  }
  .testi_slider_box {
    max-width: 538px;
    width: 100%;
    float: right;
  }
  .navigation {
    margin-top: 20px;
    padding-bottom: 20px;
    .slick-arrow {
      display: inline-block;
      cursor: pointer;
      i {
        font-size: 22px;
        color: $dip;
        font-weight: 900;
        &:hover{
          color: $baseColor;
        }
      }
    }
    .next {
      margin-left: 18px;
    }
  }
}
.video_big_image {
  margin-top: 200px;
  position: relative;
  .main_title {
    margin-bottom: 75px;
  }
}
/* End Testimonials Slider Area css
============================================================================================ */

/* Text Testimonials Area css
============================================================================================ */
.testi_text {
  text-align: center;
  padding-top: 120px;
  .nav {
    justify-content: center;
    margin-bottom: 115px;
    li {
      color: $dip;
      font: 16px $swb;
      margin-left: 20px;
      &:first-child {
        position: relative;
        top: 5px;
      }
      a {
        color: #adadad;
        font-size: 24px;
        @include transition;
        &:hover {
          color: $baseColor;
        }
      }
    }
  }
}
.testi_text_slider {
  .item {
    border: none;
    outline: none;
    p {
      color: $dip;
      font: 25px/50px $sw;
      margin-bottom: 25px;
    }
    h4 {
      color: #adadad;
      font-size: 16px;
      span {
        color: $dip;
      }
    }
  }
}
/* End Text Testimonials Area css
============================================================================================ */
