@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;900&display=swap");
.hhide {
  display: none;
}

.sidebar .navbar-brand .logo {
  width: 36px;
}

.sidebar .navbar-brand span {
  font-size: 17px;
  margin-left: 8px;
  color: var(--brandtxt);
}

.sidebar .metismenu li.active ul li.active a {
  color: var(--blush-high) !important;
}

.sidebar.light_active .navbar-brand span {
  color: var(--font-777);
}

.sidebar.light_active .metismenu li.header {
  color: var(--font-333);
}

.sidebar.light_active .metismenu li.active ul li.active a {
  color: #F56F4A !important;
}

.auth-main {
  background: var(--primary-gradient-d);
}

.auth-main .auth_div {
  border-radius: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  background: rgba(245, 245, 245, 0);
}

.auth-main .auth_div .card .body .c_form_group {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--font-ccc);
}

.auth-main .auth_div .auth_brand {
  margin-bottom: 30px;
  margin-top: 46px;
}

.auth-main .auth_div .auth_brand .navbar-brand {
  color: var(--font-eee);
  font-size: 22px;
  line-height: 50px;
  font-weight: 700;
}

.auth-main .auth_div .auth_brand .navbar-brand:hover {
  color: var(--white-color) !important;
}

.auth-main .auth_div .helper-text {
  color: var(--white-color);
}

.auth-main .auth_div:hover {
  -webkit-box-shadow: 0 20px 70px 0 var(--white-color);
          box-shadow: 0 20px 70px 0 var(--white-color);
  -webkit-transform: translateY(-5px) !important;
          transform: translateY(-5px) !important;
  background: rgba(255, 255, 255, 0);
}

.auth-main .auth_div:hover .auth_brand .navbar-brand {
  color: var(--white-color);
}

.auth-main .auth_div:hover .card .body .c_form_group {
  border: 1px solid var(--white-color);
}

.auth-main .auth_div:hover .card .body .c_form_group label {
  color: var(--white-color);
}

.auth-main .auth_div:hover .card .body .form-control:focus {
  color: var(--card-color);
}

.auth-main .auth_div .fancy-checkbox input[type="checkbox"]:checked + span:before {
  color: var(--white-color);
  border-color: var(--white-color);
  line-height: 19px;
  font-size: 15px;
}

.auth-main .auth_div .fancy-checkbox input[type="checkbox"]:checked + span {
  color: var(--white-color);
}

.auth-main .auth_div .btn:hover {
  -webkit-box-shadow: 0 5px 12px 0 var(--white-color);
          box-shadow: 0 5px 12px 0 var(--white-color);
}

/* BG - login */
#bg {
  -webkit-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  height: 100%;
  left: 0;
  opacity: 0.25;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#bg div {
  -webkit-transition: opacity 3s ease, visibility 3s;
  transition: opacity 3s ease, visibility 3s;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 120%;
}

#bg div.visible {
  -webkit-animation: bg 45s linear infinite;
  animation: bg 45s linear infinite;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

#bg div.visible.top {
  z-index: 2;
}

@media screen and (max-width: 1280px) {
  #bg div.visible {
    -webkit-animation: bg 29.25s linear infinite;
    animation: bg 29.25s linear infinite;
  }
}

@media screen and (max-width: 736px) {
  #bg div.visible {
    -webkit-animation: bg 18s linear infinite;
    animation: bg 18s linear infinite;
  }
}

#bg div:only-child {
  -webkit-animation-direction: alternate !important;
  animation-direction: alternate !important;
}

body.is-loading #bg {
  opacity: 0;
}

@-webkit-keyframes bg {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
}

@keyframes bg {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
}

#inspire {
  height: 100vh;
}

.bg_v {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
}

.v-application {
  font-family: PingFangSC-Medium, PingFang SC, pingfang, 微软正黑体, "Montserrat", sans-serif !important;
  font-weight: 700 !important;
}

.v-application .bg {
  background-image: url(../images/baby_2.jpg);
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
}

.page_login .v-carousel {
  height: 100vh !important;
}

.page_login .v-carousel .theme--dark.v-image {
  height: 100vh !important;
}

.page_login .login_title {
  font-family: "Montserrat", sans-serif !important;
  color: var(--white-color);
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.page_login .login_t {
  color: var(--brandtxt-dark2);
}

.page_login .icon_color {
  color: var(--link-color);
}

.page_login a {
  text-decoration: none;
}

.loginstep .v-select__slot {
  height: 3.6rem;
}

.loginstep .v-select__slot .v-select__selections {
  display: block;
  text-align: center;
  line-height: 2.2rem;
}

.loginstep .v-select__slot .v-select__selections input {
  display: none;
}

.loginstep .v-select__slot .v-select__selections .v-list .v-list-item--active {
  color: var(--txt-dark) !important;
}

.loginstep .v-select__slot .v-select__selections .v-select__selection--comma {
  font-size: 1.9rem;
  color: var(--txt-light1) !important;
}

.loginstep .v-select__slot .v-icon.v-icon {
  margin-top: 1rem;
  font-size: 2.2rem;
}

.loginstep .v-text-field__slot {
  height: 2.8rem;
}

.loginstep .v-text-field__slot input {
  font-size: 1.9rem;
  color: var(--txt-light1) !important;
}

.menuable__content__active:not(.v-menu__content--fixed) .v-list-item .v-list-item__title {
  font-size: 1.4rem !important;
}

.navbar_title {
  color: var(--txt-dark);
}

.mdi-checkbox-blank-outline::before {
  content: "\f765";
}

.mdi-checkbox-marked::before {
  content: "\f133";
}

.theme--light.v-navigation-drawer {
  background-color: var(linear-gradient(45deg, #e76f73, #ffd3c8)) !important;
}

.text_co {
  color: var(--brandtxt-dark2) !important;
}

.text_fff {
  color: var(--font-fff) !important;
}

.red_gradient {
  background: var(--gradient-red-d) !important;
}

body {
  font-family: PingFangSC-Medium, PingFang SC, pingfang, 微软正黑体, "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  color: var(--brandtxt-dark) !important;
}

.v-application {
  font-family: PingFangSC-Medium, PingFang SC, pingfang, 微软正黑体, "Montserrat", sans-serif !important;
  font-weight: 700 !important;
}

.v-btn {
  font-weight: 700 !important;
  color: #795548 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.v-btn:focus, .v-btn:active, .v-btn:hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: #fff !important;
}

.v-btn:focus.border, .v-btn:active.border, .v-btn:hover.border {
  -webkit-box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.2) !important;
          box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.2) !important;
}

.v-btn.txt_w_btn {
  color: #fff !important;
}

.v-btn.txt_w_btn:focus, .v-btn.txt_w_btn:active, .v-btn.txt_w_btn:hover {
  color: #795548 !important;
  background: none !important;
}

.v-btn.txt_w_btn:focus:before, .v-btn.txt_w_btn:active:before, .v-btn.txt_w_btn:hover:before {
  opacity: 0;
}

.v-btn.txt_w_btn:before {
  opacity: 0;
}

.v-btn.primary_r {
  background: var(--gc-primary) !important;
  color: #fff !important;
}

.v-btn.primary_r:focus, .v-btn.primary_r:active, .v-btn.primary_r:hover {
  -webkit-box-shadow: 0px 0px 0px 10px rgba(255, 112, 109, 0.2) !important;
          box-shadow: 0px 0px 0px 10px rgba(255, 112, 109, 0.2) !important;
  color: #e94f4c !important;
  background: #fff !important;
}

.v-btn.secondary_r {
  background: var(--gc-secondary) !important;
  color: #fff !important;
}

.v-btn.secondary_r:focus, .v-btn.secondary_r:active, .v-btn.secondary_r:hover {
  -webkit-box-shadow: 0px 0px 0px 10px rgba(163, 123, 123, 0.2) !important;
          box-shadow: 0px 0px 0px 10px rgba(163, 123, 123, 0.2) !important;
  color: #5f3e32 !important;
  background: #fff !important;
}

.v-btn.info_r {
  background: var(--gc-info) !important;
  color: #fff !important;
}

.v-btn.info_r:focus, .v-btn.info_r:active, .v-btn.info_r:hover {
  -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 200, 227, 0.2) !important;
          box-shadow: 0px 0px 0px 10px rgba(0, 200, 227, 0.2) !important;
  color: #0ca5b9 !important;
  background: #fff !important;
}

.v-btn.success_r {
  background: var(--gc-success) !important;
  color: #fff !important;
}

.v-btn.success_r:focus, .v-btn.success_r:active, .v-btn.success_r:hover {
  -webkit-box-shadow: 0 14px 26px -12px rgba(63, 190, 143, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 190, 143, 0.2) !important;
          box-shadow: 0 14px 26px -12px rgba(63, 190, 143, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 190, 143, 0.2) !important;
  background-color: #3fbe8f !important;
}

.v-btn.accent_r:focus, .v-btn.accent_r:active, .v-btn.accent_r:hover {
  -webkit-box-shadow: 0 14px 26px -12px rgba(137, 155, 255, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(137, 155, 255, 0.2) !important;
          box-shadow: 0 14px 26px -12px rgba(137, 155, 255, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(137, 155, 255, 0.2) !important;
  background-color: #8c9eff !important;
}

.v-btn.warning_r:focus, .v-btn.warning_r:active, .v-btn.warning_r:hover {
  -webkit-box-shadow: 0 14px 26px -12px rgba(255, 128, 69, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 128, 69, 0.2) !important;
          box-shadow: 0 14px 26px -12px rgba(255, 128, 69, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 128, 69, 0.2) !important;
  background-color: #ff9563 !important;
}

.v-btn.error_r:focus, .v-btn.error_r:active, .v-btn.error_r:hover {
  -webkit-box-shadow: 0 14px 26px -12px rgba(255, 58, 58, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 58, 58, 0.2) !important;
          box-shadow: 0 14px 26px -12px rgba(255, 58, 58, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 58, 58, 0.2) !important;
  background-color: #ff5252 !important;
}

.brown {
  color: var(--txt-dark) !important;
}

.card_title_lh {
  line-height: 1.3;
}

.v-list-item--link:before {
  background: var(--gc-active);
}

.theme--light.v-list-item--active:before,
.theme--light.v-list-item--active:hover:before,
.theme--light.v-list-item:focus:before {
  opacity: .5;
}

.home_posi {
  z-index: 5;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1.8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.v-tooltip__content {
  background: rgba(72, 64, 60, 0.7);
  border-radius: 50px;
  z-index: initial !important;
}

.float_btn {
  margin-bottom: 5rem;
  -webkit-transform: scale(1) rotate(0deg) !important;
          transform: scale(1) rotate(0deg) !important;
}

.float_btn:hover {
  -webkit-transform: scale(1.2) rotate(360deg) !important;
          transform: scale(1.2) rotate(360deg) !important;
  -webkit-transition: -webkit-transform 150ms cubic-bezier(0.4, 0, 1, 1) !important;
  transition: -webkit-transform 150ms cubic-bezier(0.4, 0, 1, 1) !important;
  transition: transform 150ms cubic-bezier(0.4, 0, 1, 1) !important;
  transition: transform 150ms cubic-bezier(0.4, 0, 1, 1), -webkit-transform 150ms cubic-bezier(0.4, 0, 1, 1) !important;
}

.float_posi .v-speed-dial {
  position: fixed;
  margin-right: -.5rem;
}

.float_posi .v-btn--floating {
  position: relative;
}

.float_posi .v-speed-dial--direction-top .v-speed-dial__list {
  bottom: 8.5rem !important;
  left: -36px;
  position: absolute;
}

.anima {
  -webkit-animation: anima ease-in-out 1s;
          animation: anima ease-in-out 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /*when the spec is finished*/
}

@-webkit-keyframes anima {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 150px);
            transform: translate(0px, 150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes anima {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 150px);
            transform: translate(0px, 150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.v-btn.primary {
  color: #fff !important;
}

.v-btn.primary:focus, .v-btn.primary:active, .v-btn.primary:hover {
  -webkit-transform: translateY(-2px) !important;
          transform: translateY(-2px) !important;
  -webkit-box-shadow: 0 14px 26px -12px rgba(255, 112, 109, 0.6), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 114, 112, 0.2) !important;
          box-shadow: 0 14px 26px -12px rgba(255, 112, 109, 0.6), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 114, 112, 0.2) !important;
  background-color: #ff7370 !important;
}

.v-btn.secondary {
  color: #fff !important;
}

.v-btn.secondary:focus, .v-btn.secondary:active, .v-btn.secondary:hover {
  -webkit-transform: translateY(-2px) !important;
          transform: translateY(-2px) !important;
  -webkit-box-shadow: 0 14px 26px -12px rgba(163, 123, 123, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(163, 123, 123, 0.2) !important;
          box-shadow: 0 14px 26px -12px rgba(163, 123, 123, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(163, 123, 123, 0.2) !important;
  background-color: #917272 !important;
}

.v-btn.info {
  color: #fff !important;
}

.v-btn.info:focus, .v-btn.info:active, .v-btn.info:hover {
  -webkit-transform: translateY(-2px) !important;
          transform: translateY(-2px) !important;
  -webkit-box-shadow: 0 14px 26px -12px rgba(0, 202, 229, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 202, 229, 0.2) !important;
          box-shadow: 0 14px 26px -12px rgba(0, 202, 229, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 202, 229, 0.2) !important;
  background-color: #0fb6cc !important;
}

.v-btn.success {
  color: #fff !important;
}

.v-btn.success:focus, .v-btn.success:active, .v-btn.success:hover {
  -webkit-transform: translateY(-2px) !important;
          transform: translateY(-2px) !important;
  -webkit-box-shadow: 0 14px 26px -12px rgba(63, 190, 143, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 190, 143, 0.2) !important;
          box-shadow: 0 14px 26px -12px rgba(63, 190, 143, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(63, 190, 143, 0.2) !important;
  background-color: #3fbe8f !important;
}

.v-btn.accent {
  color: #fff !important;
}

.v-btn.accent:focus, .v-btn.accent:active, .v-btn.accent:hover {
  -webkit-transform: translateY(-2px) !important;
          transform: translateY(-2px) !important;
  -webkit-box-shadow: 0 14px 26px -12px rgba(137, 155, 255, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(137, 155, 255, 0.2) !important;
          box-shadow: 0 14px 26px -12px rgba(137, 155, 255, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(137, 155, 255, 0.2) !important;
  background-color: #8c9eff !important;
}

.v-btn.warning {
  color: #fff !important;
}

.v-btn.warning:focus, .v-btn.warning:active, .v-btn.warning:hover {
  -webkit-box-shadow: 0 14px 26px -12px rgba(255, 128, 69, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 128, 69, 0.2) !important;
          box-shadow: 0 14px 26px -12px rgba(255, 128, 69, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 128, 69, 0.2) !important;
  background-color: #ff9563 !important;
}

.v-btn.error {
  color: #fff !important;
}

.v-btn.error:focus, .v-btn.error:active, .v-btn.error:hover {
  -webkit-box-shadow: 0 14px 26px -12px rgba(255, 58, 58, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 58, 58, 0.2) !important;
          box-shadow: 0 14px 26px -12px rgba(255, 58, 58, 0.8), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 58, 58, 0.2) !important;
  background-color: #ff5252 !important;
}

.v-btn:not(.v-btn--text):not(.v-btn--outlined):hover:before,
.v-btn:not(.v-btn--text):not(.v-btn--outlined):focus:before {
  opacity: 0;
}

.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: transparent;
}

.v-item-group.v-bottom-navigation {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.gooey {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 50px;
  overflow: hidden;
}

.gooey .goo-index {
  width: 80px;
  height: 80px;
  background: #efebe8;
  position: absolute;
  left: 0px;
  bottom: 14px;
  border-radius: 100px 0px 0px 100px;
  z-index: -1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  /* left: -40px; */
  right: 0;
  margin: auto;
}

.gooey .goo-index:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 20px;
  border-radius: 20px 0px 0px 20px;
  background-image: radial-gradient(circle at 10px 0px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 20px, #efebe8 20px);
  top: -15px;
  left: 6px;
}

.gooey .goo-index:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 20px;
  border-radius: 20px 0px 0px 20px;
  background-image: radial-gradient(circle at 10px 20px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 20px, #efebe8 20px);
  bottom: -15px;
  left: 6px;
}

.gooey.blur {
  -webkit-backdrop-filter: saturate(180%) blur(10px) !important;
          backdrop-filter: saturate(180%) blur(10px) !important;
  background: rgba(240, 236, 234, 0.6) !important;
}

.blur {
  -webkit-backdrop-filter: saturate(180%) blur(10px) !important;
          backdrop-filter: saturate(180%) blur(10px) !important;
  background: rgba(255, 255, 255, 0.6) !important;
}

.v-application--is-ltr .v-list-item__action:first-child,
.v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 16px;
}

.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: var(--txt-dark) !important;
}

.v-list-group--active > .v-list-group__header .v-list-group__header__prepend-icon .v-icon,
.v-list-group--active > .v-list-group__header > .v-list-group__header__append-icon .v-icon {
  color: var(--txt-dark1) !important;
}

.theme--light.v-tabs-items {
  background-color: #efebe9 !important;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slide-fade-leave-active {
  -webkit-transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter, .slide-fade-leave-to {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}
