<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <!-- Favicons -->
  <link rel="icon" href="assets/favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icon_BB.jpg">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#000">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:title" content="小熊摇篮" />
  <meta property="og:description" content="小熊摇篮，小熊摇篮小熊摇篮，小熊摇篮小熊摇篮小熊摇篮。" />
  <meta property="og:image" content="assets/images/icon_BB.jpg" />

  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/ece.css">
  
</head>

<body>
  <div id="app"> 
    <v-app class="">
        <v-navigation-drawer v-model="drawer" app v-background="'var(--gradient-4)'" 
        src="assets/images/close-up-of-happy-little-baby-boy-with-father-PCB8CX6.png"> 

            <v-list class="">
                <v-list-item class="pl-6 pt-4" style="margin-bottom: -.6rem;">
                  <v-list-item-avatar size="58" >
                    <v-img src="assets/images/user.png"></v-img>
                  </v-list-item-avatar>
                </v-list-item>
        
                <v-list-item link :ripple="{ class: 'red--text' }" >
                  <v-list-item-content class="pl-2">
                    <v-list-item-title class="title white--text mb-1" >
                        Catherine Lee
                    </v-list-item-title>
                    <v-list-item-subtitle class="white--text">園長 職稱放這裡</v-list-item-subtitle>
                  </v-list-item-content>
        
                  <v-list-item-action >
                    <v-menu transition="slide-y-transition" offset-y>
                        <template v-slot:activator="{ on, attrs }">
                            <!-- <v-btn text rounded class="font-weight-black pl-2 txt_w_btn" v-bind="attrs" 
                                v-on="on" value="left" :ripple="{ class: 'red--text' }">
                                Catherine Lee
                                <v-icon right dark>
                                    mdi-chevron-down
                                </v-icon>
                            </v-btn> -->
                            <v-icon class="white--text" v-bind="attrs" v-on="on" value="left" >mdi-chevron-down</v-icon>
                        </template>

                        <v-list v-background="'var(--gradient-0)'" dense class="pt-3 pb-3">
                            <v-list-item-group v-model="model" color="indigo">
                                <v-list-item v-for="(item, i) in items" :key="i" link :ripple="{ class: 'red--text' }" >
                                    <v-divider v-if="!item.title" :key="`divider-${i}`"
                                        style="flex: 1 0 100%; border-color: rgba(0,0,0,.15);">
                                    </v-divider>
                                    <v-list-item-icon class="mr-2">
                                        <v-icon class="text_co">{{ item.icon }}</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-title class="text_co">{{ item.title }}</v-list-item-title>
                                </v-list-item>
                            </v-list-item-group>
                        </v-list>
                    </v-menu>

                  </v-list-item-action>
                </v-list-item>
              </v-list>

              <v-divider color="#FFAB91"></v-divider>

            <v-list dense rounded>
                <!-- <v-row class="mt-8">
                    <v-col cols="3">
                        <v-avatar size="58" class="ml-3 mb-5"><img src="assets/images/user.png"
                            alt="user">
                        </v-avatar>
                    </v-col>
                    <v-col cols="9" class="pl-4">
                        <v-col class="body-2 white--text font-weight-bold pa-0 ml-2 pt-1">
                            園長 職稱放這裡
                        </v-col>
                        <v-col cols="" class="pa-0">
                            <v-menu transition="slide-y-transition" offset-y>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn text rounded class="font-weight-black pl-2 txt_w_btn" v-bind="attrs" 
                                        v-on="on" value="left" :ripple="{ class: 'red--text' }">
                                        Catherine Lee
                                        <v-icon right dark>
                                            mdi-chevron-down
                                        </v-icon>
                                    </v-btn>
                                </template>

                                <v-list v-background="'var(--gradient-0)'" dense class="pt-3 pb-3">
                                    <v-list-item-group v-model="model" color="indigo">
                                        <v-list-item v-for="(item, i) in items" :key="i" link>
                                            <v-divider v-if="!item.title" :key="`divider-${i}`"
                                                style="flex: 1 0 100%; border-color: rgba(0,0,0,.15);">
                                            </v-divider>
                                            <v-list-item-icon class="mr-2">
                                                <v-icon class="text_co">{{ item.icon }}</v-icon>
                                            </v-list-item-icon>
                                            <v-list-item-title class="text_co">{{ item.title }}</v-list-item-title>
                                        </v-list-item>
                                    </v-list-item-group>
                                </v-list>
                            </v-menu>
                        </v-col>
                    </v-col>
                </v-row> -->

                <v-list-item link href="#/">
                    <v-list-item-action>
                        <v-icon>mdi-home</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Home</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link href="#/About">
                    <v-list-item-action >
                        <v-icon>mdi-email</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Contact</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link href="#/">
                    <v-list-item-action >
                        <v-icon>mdi-file-video</v-icon>
                    </v-list-item-action>
                    <v-list-item-content >
                        <v-list-item-title>0-3 課程</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>

            <v-list dense rounded>
                <v-subheader>管理者</v-subheader>
                <v-list-group v-model="item.active" v-for="(item, i) in accors" :key="i"
                    :prepend-icon="item.action" no-action>
                    <v-list-item slot="activator">
                        <v-list-item-content>
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item v-for="subItem in item.items" :key="subItem.title" ripple @click="close">
                        <v-list-item-content>
                            <v-list-item-title>{{ subItem.title }}</v-list-item-title>
                        </v-list-item-content>
                        <v-list-item-action>
                            <v-icon>{{ subItem.action }}</v-icon>
                        </v-list-item-action>
                    </v-list-item>
                </v-list-group>
            </v-list>

        </v-navigation-drawer>

        <v-app-bar app flat class="blur">
            <v-app-bar-nav-icon @click.stop="drawer = !drawer" class="border" :ripple="{ class: 'red--text' }" dark></v-app-bar-nav-icon>
            <v-spacer></v-spacer>
            <!-- <div class="d-flex align-center justify-center">
                <v-img alt="babybearcare" class="shrink mr-5" contain 
                    src="assets/images/logo_h.svg" transition="scale-transition"
                    width="120" />
            </div> -->
            <div class="font-weight-black brown--text text--darken-3">社群</div>
            <v-spacer></v-spacer>
            
            <!-- <v-btn dark icon v-on="on" class="border" :ripple="{ class: 'red--text' }"  >
                <v-icon>mdi-yeast</v-icon>
            </v-btn> -->

            <v-menu transition="slide-y-transition" offset-y>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn dark icon v-bind="attrs" v-on="on" class="border" :ripple="{ class: 'red--text' }"  >
                        <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                </template>
                <v-list v-background="'var(--gradient-0)'" dense>
                    <v-list-item v-for="(item, i) in dotmenus" :key="i">
                        <v-list-item-icon class="mr-2">
                            <v-icon class="text_co">{{ item.icon }}</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>

        </v-app-bar>


        <v-main class="brown lighten-5 " 
            >
            <v-container fluid class="pt-0" >
                <v-row class="d-flex justify-center" >
                    <template >
                        <v-card tile :width="sheetWidth" elevation="0" >
                            <v-tabs
                            v-model="tab"
                            background-color="transparent"
                            color="error"
                            show-arrows
                            >

                            <v-tab
                                v-for="item in tabitems"
                                :key="item"
                            >
                                <v-badge
                                    color="red accent-2"
                                    content="2"
                                >
                                {{ item }} 
                                </v-badge>
                            </v-tab>

                            </v-tabs>
                            <v-divider ></v-divider>
                            <v-tabs-items v-model="tab" >
                                <v-tab-item 
                                    v-for="item in tabitems"
                                    :key="item"
                                    color="error"
                                >
                                    <!-- card 1 -->
                                    <v-card tile class="pb-1 mb-3">
                                    
                                    <v-col class="d-flex align-center">
                                            <v-avatar size="48" class="d-inline-block ">
                                                <img
                                                src="assets/images/user-small.png"
                                                >
                                            </v-avatar>
                                            <div class="ml-2">
                                                <span class="subtitle-2 brown--text text--darken-4 font-weight-bold" >顾兹莹老師</span>
                                                <span class="caption d-block brown--text text--lighten-2 font-weight-bold" ><span >5</span> 小時 來自 <span>北京幼兒所</span></span>
                                            </div>

                                            <div class="ml-auto">
                                                <v-menu transition="slide-y-transition" offset-y >
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-btn dark icon v-bind="attrs" v-on="on" class="border" :ripple="{ class: 'red--text' }"  >
                                                            <v-icon>mdi-dots-vertical</v-icon>
                                                        </v-btn>
                                                    </template>
                                                    <v-list v-background="'var(--gradient-0)'" dense>
                                                        <v-list-item v-for="(item, i) in articledotmenus" :key="i">
                                                            <v-list-item-icon class="mr-2">
                                                                <v-icon class="text_co">{{ item.icon }}</v-icon>
                                                            </v-list-item-icon>
                                                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                                                        </v-list-item>
                                                    </v-list>
                                                </v-menu>
                                            </div>
                                    </v-col>  
                                    
                                    <v-col class="d-flex justify-center align-center pa-0">
                                        <v-card-title class="d-inline-block pt-0 brown--text text--darken-4 font-weight-bold card_title_lh ">{{ tabtext }}
                                            <a class=" body-1 primary--text font-weight-bold" href="article.html"> … 全文</a> 
                                        </v-card-title>
                                    </v-col>
                                    
                                    

                                    <v-img
                                        src="assets/images/baby_1.jpg"
                                    ></v-img>
                                    <!-- <v-card-text class="brown--text text--lighten-2">{{ tabtext2 }}<a color="primary" href="article.html"> … 全文</a></v-card-text> -->

                                    <template>
                                        <div class="d-flex justify-start pt-1 ">
                                            <div>
                                                <v-btn
                                                    class="ml-2"
                                                    text
                                                    icon
                                                    color="brown darken-1"
                                                    :ripple="{ class: 'red--text' }"
                                                    class="brown--text text--darken-4"
                                                >
                                                    <v-icon>mdi-share-variant</v-icon>
                                                </v-btn>
                                                <span class="brown--text text--lighten-2 font-weight-bold">分享 30</span>
                                            
                                                <v-btn
                                                    class="ml-2"
                                                    text
                                                    icon
                                                    color="brown darken-1"
                                                    :ripple="{ class: 'red--text' }"
                                                >
                                                    <v-icon>mdi-thumb-up</v-icon>
                                                </v-btn>
                                                <span class="brown--text text--lighten-2 font-weight-bold">讚 10</span>

                                                <v-btn
                                                    class="ml-2"
                                                    text
                                                    icon
                                                    color="brown darken-1"
                                                    :ripple="{ class: 'red--text' }"
                                                    class="brown--text text--darken-4"
                                                >
                                                    <v-icon>mdi-eye</v-icon>
                                                </v-btn>
                                                <span class="brown--text text--lighten-2 font-weight-bold">已看 45</span>
                                            </div>
                                        </div>
                                    </template>
                                    </v-card>


                                    <!-- card 2 -->
                                    <v-card tile class="pb-1 mb-3">
                                    
                                    <v-col class="d-flex align-center">
                                            <v-avatar size="48" class="d-inline-block ">
                                                <img
                                                src="assets/images/user-small.png"
                                                >
                                            </v-avatar>
                                            <div class="ml-2">
                                                <span class="subtitle-2 brown--text text--darken-4 font-weight-bold" >顾兹莹老師</span>
                                                <span class="caption d-block brown--text text--lighten-2 font-weight-bold" ><span >5</span> 小時 來自 <span>北京幼兒所</span></span>
                                            </div>
                                            <div class="ml-auto">
                                                <v-menu transition="slide-y-transition" offset-y >
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-btn dark icon v-bind="attrs" v-on="on" class="border" :ripple="{ class: 'red--text' }"  >
                                                            <v-icon>mdi-dots-vertical</v-icon>
                                                        </v-btn>
                                                    </template>
                                                    <v-list v-background="'var(--gradient-0)'" dense>
                                                        <v-list-item v-for="(item, i) in articledotmenus" :key="i">
                                                            <v-list-item-icon class="mr-2">
                                                                <v-icon class="text_co">{{ item.icon }}</v-icon>
                                                            </v-list-item-icon>
                                                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                                                        </v-list-item>
                                                    </v-list>
                                                </v-menu>
                                            </div>
                                    </v-col>      

                                    <v-card-title class="pt-0 brown--text text--darken-4 font-weight-bold card_title_lh">{{ tabtext }}</v-card-title>
                                    <v-img
                                    src="assets/images/baby_1.jpg"
                                    ></v-img>
                                    <v-card-text class="brown--text text--lighten-2">{{ tabtext2 }}<a color="primary"> … 全文</a></v-card-text>

                                    <template>
                                        <div class="d-flex justify-start pb-1">
                                            <div>
                                                <v-btn
                                                    class="ml-2"
                                                    text
                                                    icon
                                                    color="brown darken-1"
                                                    :ripple="{ class: 'red--text' }"
                                                    class="brown--text text--darken-4"
                                                >
                                                    <v-icon>mdi-share-variant</v-icon>
                                                </v-btn>
                                                <span class="brown--text text--lighten-2 font-weight-bold">分享 30</span>
                                            
                                                <v-btn
                                                    class="ml-2"
                                                    text
                                                    icon
                                                    color="brown darken-1"
                                                    :ripple="{ class: 'red--text' }"
                                                >
                                                    <v-icon>mdi-thumb-up</v-icon>
                                                </v-btn>
                                                <span class="brown--text text--lighten-2 font-weight-bold">讚 10</span>

                                                <v-btn
                                                    class="ml-2"
                                                    text
                                                    icon
                                                    color="brown darken-1"
                                                    :ripple="{ class: 'red--text' }"
                                                    class="brown--text text--darken-4"
                                                >
                                                    <v-icon>mdi-eye</v-icon>
                                                </v-btn>
                                                <span class="brown--text text--lighten-2 font-weight-bold">已看 45</span>
                                            </div>
                                        </div>
                                    </template>
                                    </v-card>
                                    




                                </v-tab-item>
                            </v-tabs-items>
                        </v-card>

                    </template>

                </v-row>

                <!-- <template>
                    <v-row justify="center">
                        <v-dialog
                        v-model="dialog"
                        fullscreen
                        hide-overlay
                        transition="dialog-bottom-transition"
                        >
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn
                            color="primary"
                            dark
                            v-bind="attrs"
                            v-on="on"
                            >
                            Open Dialog
                            </v-btn>
                        </template>
                        <v-card>
                            <v-toolbar
                            dark
                            color="primary"
                            >
                            <v-btn
                                icon
                                dark
                                @click="dialog = false"
                            >
                                <v-icon>mdi-close</v-icon>
                            </v-btn>
                            <v-toolbar-title>Settings</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-toolbar-items>
                                <v-btn
                                dark
                                text
                                @click="dialog = false"
                                >
                                Save
                                </v-btn>
                            </v-toolbar-items>
                            </v-toolbar>
                            <v-list
                            three-line
                            subheader
                            >
                            <v-subheader>User Controls</v-subheader>
                            <v-list-item>
                                <v-list-item-content>
                                <v-list-item-title>Content filtering</v-list-item-title>
                                <v-list-item-subtitle>Set the content filtering level to restrict apps that can be downloaded</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-content>
                                <v-list-item-title>Password</v-list-item-title>
                                <v-list-item-subtitle>Require password for purchase or use password to restrict purchase</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            </v-list>
                            <v-divider></v-divider>
                            <v-list
                            three-line
                            subheader
                            >
                            <v-subheader>General</v-subheader>
                            <v-list-item>
                                <v-list-item-action>
                                <v-checkbox v-model="notifications"></v-checkbox>
                                </v-list-item-action>
                                <v-list-item-content>
                                <v-list-item-title>Notifications</v-list-item-title>
                                <v-list-item-subtitle>Notify me about updates to apps or games that I downloaded</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-action>
                                <v-checkbox v-model="sound"></v-checkbox>
                                </v-list-item-action>
                                <v-list-item-content>
                                <v-list-item-title>Sound</v-list-item-title>
                                <v-list-item-subtitle>Auto-update apps at any time. Data charges may apply</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-action>
                                <v-checkbox v-model="widgets"></v-checkbox>
                                </v-list-item-action>
                                <v-list-item-content>
                                <v-list-item-title>Auto-add widgets</v-list-item-title>
                                <v-list-item-subtitle>Automatically add home screen widgets</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            </v-list>
                        </v-card>
                        </v-dialog>
                    </v-row>
                </template> -->




                
            </v-container>
        </v-main>



        <!-- <v-footer app>
        </v-footer> -->
        <v-bottom-navigation app class="blur" >
            <v-spacer></v-spacer>
            <v-btn value="recent" :ripple="{ class: 'red--text' }" >
                <span>任務</span>
                <v-icon>mdi-format-list-bulleted-type</v-icon>
            </v-btn>
            <v-btn value="favorites" :ripple="{ class: 'red--text' }" class="mr-10">
                <span>成就</span>
                <v-icon>mdi-trophy-variant</v-icon>
            </v-btn>

            
            <v-btn value="nearby" :ripple="{ class: 'red--text' }" class="ml-10">
                <span>社群</span>
                <v-icon>mdi-account-multiple</v-icon>
            </v-btn>
            <v-btn value="nearby" :ripple="{ class: 'red--text' }" >
                <span>我的</span>
                <v-icon>mdi-account-circle</v-icon>
            </v-btn>
            <v-spacer></v-spacer>

            <!-- <div class="gooey">
                <span class="goo-index "></span>
            </div> -->
            

        </v-bottom-navigation>

        <div class="text-center home_posi" >
            <v-btn 
                fab depressed dark 
                color='error'
                v-background="'var(--gc-error)'"
                class="home_btn"
                >
                <v-icon dark>mdi-home-outline</v-icon>
            </v-btn>
        </div>



        
        <div class="float_posi">
            <v-speed-dial
            v-model="fab"
            :top="top"
            :bottom="bottom"
            :right="right"
            :left="left"
            :direction="direction"
            :open-on-hover="hover"
            :transition="transition"
            class="anima"
            >
            <template v-slot:activator >
                <v-btn
                depressed fab fixed right bottom small
                class="info_r float_btn mr-0"
                >
                <v-icon v-if="fab" class="" >mdi-close</v-icon>
                <v-icon v-else class="" >mdi-plus</v-icon>
                </v-btn>
            </template>


            <!-- dialogs full -->
            <template>
            <v-row justify="center">
            <v-dialog
            v-model="dialog"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        fab
                        small
                        depressed
                        class="info_r"
                        v-bind="attrs"
                        v-on="on"
                    >
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                    <span>攥寫貼文</span>
                </template>
                
            <!-- <v-tooltip left value="true"></v-tooltip> -->

            <!-- <template v-slot:activator="{ on, attrs }">
                <v-btn
                color="primary"
                dark
                v-bind="attrs"
                v-on="on"
                >
                Open Dialog
                </v-btn>
            </template> -->

            <v-card flat>
                <v-toolbar
                class="blur"
                flat
                tile
                >
                <v-btn
                    icon
                    :ripple="{ class: 'red--text' }"
                    @click="dialog = false"

                >
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-spacer></v-spacer>
                <v-toolbar-title class="body-1 font-weight-black brown--text text--darken-3">建立貼文</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn
                depressed rounded small
                class="primary_r"
                @click="dialog = false"
                >
                發佈
                </v-btn>
                </v-toolbar>
                <v-divider></v-divider>


                <!-- dialogs content -->
                <div class="brown lighten-5 " 
                >
                <v-container fluid class="pt-0" >
                    <v-row class="d-flex justify-center" >
                        <template >
                            <v-card tile flat :width="sheetWidth" style="padding-bottom: calc(100vh - 510px);" >
                                <v-col class="d-flex align-center">
                                    <v-avatar size="48" class="d-inline-block ">
                                        <img
                                        src="assets/images/user-small.png"
                                        >
                                    </v-avatar>
                                    <div class="ml-2">
                                        <span class="subtitle-2 brown--text text--darken-4 font-weight-bold" >顾兹莹老師
                                            <span class="caption brown--text text--lighten-2" >來自 <span class="font-weight-bold">北京幼兒所</span></span>
                                        </span>
                                        <div>
                                            <v-btn
                                            x-small
                                            color="primary"  
                                            outlined
                                            rounded
                                        >
                                        <v-icon left small >
                                            mdi-earth
                                            </v-icon>
                                            公開
                                            </v-btn>
                                        <v-btn
                                            x-small
                                            color="primary"
                                            outlined
                                            rounded
                                        >
                                            <v-icon left x-small class="fas fa-images"></v-icon>
                                            建立相冊
                                        </v-btn>
                                        </div>
                                    </div>
                                    

                                    <div class="ml-auto">
                                        <v-menu transition="slide-y-transition" offset-y >
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-btn dark icon v-bind="attrs" v-on="on" class="border" :ripple="{ class: 'red--text' }"  >
                                                    <v-icon>mdi-dots-vertical</v-icon>
                                                </v-btn>
                                            </template>
                                            <v-list v-background="'var(--gradient-0)'" dense>
                                                <v-list-item v-for="(item, i) in articledotmenus" :key="i">
                                                    <v-list-item-icon class="mr-2">
                                                        <v-icon class="text_co">{{ item.icon }}</v-icon>
                                                    </v-list-item-icon>
                                                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                                                </v-list-item>
                                            </v-list>
                                        </v-menu>
                                    </div>
                                </v-col> 

                                <template>
                                    <div class="text-center" style="z-index: 1000;"
                                    >
                                        <v-bottom-sheet 
                                        v-model="sheet"
                                        hide-overlay
                                        scrollable
                                        >
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-container fluid>
                                                    <v-textarea style="margin-top: -1.2rem;"
                                                    solo
                                                    flat
                                                    counter
                                                    clearable
                                                    no-resize
                                                    rows="10"
                                                    clear-icon="mdi-close-circle-outline" 
                                                    :label="none"
                                                    value="顾兹莹，分享些什麼..."
                                                    v-bind="attrs"
                                                    v-on="on"
                                                    ></v-textarea>
                                                </v-container>
                                            </template>
                                        
                                        <v-list 
                                        height="400px"
                                        >
                                            <v-list-item
                                            v-for="tile in tiles"
                                            :key="tile.title"
                                            @click="sheet = false" 
                                            :ripple="{ class: 'red--text' }"  
                                            >
                                            <v-list-item-avatar>
                                                <v-avatar
                                                size="32px"
                                                tile
                                                >
                                                <img
                                                    :src="`assets/images/icons/${tile.img}`"
                                                    :alt="tile.title"
                                                >
                                                </v-avatar>
                                            </v-list-item-avatar>
                                            <v-list-item-title>{{ tile.title }}</v-list-item-title>
                                            </v-list-item>
                                        </v-list>
                                        </v-bottom-sheet>
                                    </div>
                                </template>


                            </v-card>
                        </template>
                    </v-row>

                </v-container>
                </div>

            </v-card>

            </v-dialog>

            </v-row>
            </template>
            

            <v-tooltip left :value="true">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        fab
                        small
                        depressed
                        class="info_r"
                        v-on="on"
                        href="creat.html"
                    >
                        <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                </template>
                <span >編輯貼文</span>
            </v-tooltip>

            <v-tooltip left :value="true">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        fab
                        small
                        depressed
                        class="info_r"
                        v-on="on"
                    >
                        <v-icon>mdi-delete</v-icon>
                    </v-btn>
                </template>
                <span class="">刪除貼文</span>
            </v-tooltip>

            </v-speed-dial>
        </div>

        








    </v-app>
  </div>



  <script src="https://kit.fontawesome.com/3b082112b1.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>


  <script>
      Vue.directive('background', {
          bind: function (el, binding, vnode) {1
              el.style.backgroundImage = binding.value
          }
      });
      new Vue({
          el: '#app',
          vuetify: new Vuetify({
              theme: {
                themes: {
                    light: {
                        default: '#7e6d61',
                        primary: '#FFA19F',
                        secondary: '#9e8888',
                        info: '#00cae3',
                        success: '#3fbe8f',
                        accent: '#8c9eff',
                        warning: '#ff9563',
                        error: '#ff5252',
                        // primary: colors.purple,
                        // accent: colors.shades.black,
                    },
                },
                // dark: true,
              },
          }),
          data: {
              // Form Sheet
              sheetFocus: false,
              email: '',
              password: '',
              rememberme: false,

              // drawer control model
              drawer: false,
              items: [
                  {
                      title: 'My Profile',
                      icon: 'mdi-account',
                  },
                  {
                      title: 'Messages',
                      icon: 'mdi-email',
                  },
                  {
                      title: 'Settings',
                      icon: 'mdi-settings',
                  },
                  {
                      // title: '',
                      // icon: '',
                      // divider: true,
                  },
                  {
                      title: 'logout',
                      icon: 'mdi-power',
                  },
              ],
              dotmenus: [
                {
                      title: '搜尋文章',
                      icon: 'mdi-magnify',
                  },
                  {
                      title: 'My Profile',
                      icon: 'mdi-account',
                  },
                  {
                      title: 'Messages',
                      icon: 'mdi-email',
                  },
                  {
                      title: 'Settings',
                      icon: 'mdi-settings',
                  },
                  {
                      title: 'logout',
                      icon: 'mdi-power',
                  },
              ],
              model: 2,

              accors: [
                  {
                      action: 'local_activity',
                      title: 'Attractions',
                      active: false,
                      items: [
                          { title: 'List Item' }]
                  },
                  {
                      action: 'restaurant',
                      title: 'Dining',
                      active: true,
                      items: [
                          { title: 'Breakfast & brunch' },
                          { title: 'New American' },
                          { title: 'Sushi' }]
                  },
                  {
                      action: 'school',
                      title: 'Education',
                      active: false,
                      items: [
                          { title: 'List Item' }]
                  },
                  {
                      action: 'directions_run',
                      title: 'Family',
                      active: false,
                      items: [
                          { title: 'List Item' }]
                  },
                  {
                      action: 'healing',
                      title: 'Health',
                      active: false,
                      items: [
                          { title: 'List Item' }]
                  },
                  {
                      action: 'content_cut',
                      title: 'Office',
                      active: false,
                      items: [
                          { title: 'List Item' }]
                  },
                  {
                      action: 'local_offer',
                      title: 'Promotions',
                      active: false,
                      items: [
                          { title: 'List Item' }]
                  }
              ],
             
              articledotmenus: [
                {
                      title: '編輯貼文',
                      icon: 'mdi-pencil-box-outline',
                  },
                  {
                      title: '刪除貼文',
                      icon: 'mdi-delete',
                  },
                  {
                      title: '轉發',
                      icon: 'mdi-share-variant',
                  }
              ],
               
            //   float_btn
                direction: 'top',
                fab: false,
                fling: false,
                hover: false,
                tabs: null,
                top: false,
                right: true,
                bottom: true,
                left: false,
                transition: 'scale-transition',

                tab: null,
                tabitems: [
                    '育兒專欄', '家園消息', '話題交流', '其他','育兒專欄', '家園消息', '話題交流', '其他',
                ],
                tabtext: '寶寶愛磨牙，要怎麼處理? 孩子在初本度过的一日时光，更是他一天中最宝贵的成长黄金时间。',
                tabtext2: '孩子在初本度过的一日时光，更是他一天中最宝贵的成长黄金时间。更是他一天中最宝贵的成长黄金时间。我们不希望初本幼园仅仅是一个托管孩子的地方，我们更希望它有生命力的，是一个可以让孩子感到舒适安全、可以充分自我探索、可以与他人建立链接的地方。我们的环境就是要让这里成为孩子的第二个家。',
          
                // dialogs
                dialog: false,
                notifications: false,
                sound: true,
                widgets: false,

                // bottom sheet
                sheet: true,
                tiles: [
                    { img: 'user-friends-solid.svg', title: '建立朋友圈' }, 
                    { img: 'photo-video-solid.svg', title: '相片/影片' },
                    { img: 'alternate_email-24px.svg', title: '標註朋友' },
                    { img: 'smile-regular.svg', title: '感受 / 活動' },
                    { img: 'map-marker-alt-solid.svg', title: '你在哪裡？' },
                    { img: 'camera-solid.svg', title: '取用你的相機' },
                    { img: 'alternate_email-24px.svg', title: '標註朋友' },
                    { img: 'smile-regular.svg', title: '感受 / 活動' },
                    { img: 'map-marker-alt-solid.svg', title: '你在哪裡？' },
                    { img: 'camera-solid.svg', title: '取用你的相機' },
                ],

                

                
          },
          computed: {
              sheetWidth() {
                  switch (this.$vuetify.breakpoint.name) {
                      case 'lg': return 600
                      case 'xl': return 800
                      default: return 414
                      // case 'xs': return 220
                      // case 'sm': return 400
                      // case 'md': return 500
                  }
              },

          },
          methods: {
              onClickOutside() {
                  this.sheetFocus = false
              },
              close() {
                  this.accors.forEach(item => {
                      if (item.active) {
                          _.delay(function () {
                              item.active = false;
                          }, 300);
                          return false;
                      }
                  });
              },
          },

          
      })
  </script>
  <style>
    .v-sheet.isFocus {
        transform: matrix(1, 0, 0, 1, 0, 0);
        transition-delay: 0s;
        transition-duration: 0.2s;
        transition-property: all;
        transition-timing-function: ease-in-out;
    }
  </style>
</body>

</html>