/*!
Styles for full screen background video demo
*/
/* =============================================================================
  RESETS
============================================================================= */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  /* font-family: "Microsoft JhengHei", "Oxygen", sans-serif; */
  /* font-family: 'Open Sans', 'cwTeXHei', sans-serif !important; */
  font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background: #250000;
}
/* =============================================================================
  CONTENT
============================================================================= */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  margin: 0;
  width: 720px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.content__heading {
  margin-bottom: 24px;
  color: #fff;
  /* color: #00382b; */
  font-size: 52px;
  text-shadow: 0px 6px 4px #282828, 0px 14px 6px rgba(0, 0, 0, 0.15);
  /* font-weight: bold; */
}

.content__teaser {
  margin-bottom: 24px;
  color: #595959;
  font-size: 22px;
}

.content__cta {
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
  color: #ff3c64;
  font-size: 22px;
  text-decoration: none;
  border: solid 4px #ff3c64;
}

/* =============================================================================
  VIDEO
============================================================================= */
.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#gradient {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  opacity: .8;
  z-index: 2;
  top: 0px;
  left: 0px;
}

@media (max-width: 767px) {
  .content {
    position: relative;
    top: 0%;
    left: 0%;
    z-index: 3;
    margin: 0;
    width: 100%;
    text-align: center;
    transform: initial;
  }
  .content__heading {
    font-size: 36px;
    margin-top: 30px;
  }
}

a {
  outline: none;
  color: #a180ff;
  text-decoration: none;
}
.crbox {
  text-align: center;
  width: 100%;
  margin-top: 15px;
  font-weight: 700;
  font-size: 11px;
}
.copyright {
  color: #999999;
  line-height: 1.5em;
  margin-bottom: 2em;
}
.copyright a {
  color: #9c0000;
  border-bottom: 1px dotted #9c0000;
  transition: all 250ms ease-out;
}
.copyright a:hover, .copyright a:active {
  color: #fff;
  border-bottom: 1px solid #ACACAC;
  text-decoration: none;
}

@media (min-width: 768px) {
  .hidden_lg{
    display: none;
  }
}
@media (max-width: 767px) {
  .crbox {
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .hidden_xs{
    display: none;
  }
}


#container {
  position: relative;
  height: 100vh;
  width: 100%;
  /* border: solid 1px red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide {
  /* display: block;
  position: absolute;
  height: 200px !important;
  width: 200px !important;
  background: red; */
}
.background {
  position: absolute;
  top: -2%;
  left: -2%;
  width: 105%;
  height: 105%;
}
.bg_main{
  background: url(../img/bg_westpoint_voca.jpg) no-repeat center center;
  background-size: cover, cover;
}
@media (max-width: 767px) {
  #container {
    height: initial;
  }
}