@charset "UTF-8";
body {
  width: 100%;
  height: 100%;
  font-family: 微軟正黑體, 微软正黑体, Montserrat, "Open Sans", sans-serif;
  font-size: 16px;
}

.zjy .logo .logoimg {
  margin: 0.5rem auto 0.3rem auto;
  width: auto;
  height: 2rem;
  background: url("../img/logo.svg") no-repeat center center;
  background-size: 100% 100%;
  margin-left: -.2rem;
}

.zjy .top-tab .tabs-bg .left-tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1.4rem;
  background-color: #9defae;
}

.zjy .top-tab .tabs-bg .right-tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1.4rem;
  background-color: #ffd582;
}

.zjy .top-tab .tabs {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.4rem;
  color: #FFFFFFA7;
  width: 100%;
}

.zjy .top-tab .tabs .left-tab {
  padding: 0.44rem 0.4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  line-height: 0.5rem;
}

.zjy .top-tab .tabs .right-tab {
  padding: 0.44rem 0.4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  line-height: 0.5rem;
}

.zjy .top-tab .tabs .left-tab a,
.zjy .top-tab .tabs .right-tab a {
  color: #ffffff !important;
  font-weight: bold;
}

.zjy .top-tab .tabs .left-tab.active {
  font-size: 0.6rem;
  color: #ffffff !important;
  background: #58ca70;
  line-height: 0.5rem;
  letter-spacing: -1px;
}

.zjy .top-tab .tabs .right-tab.active {
  font-size: 0.6rem;
  color: #ffffff !important;
  background: #ffba4d;
  line-height: 0.5rem;
  letter-spacing: -1px;
}

.zjy .top-tab .tabs .right-tab.active a,
.zjy .top-tab .tabs .left-tab.active a {
  color: #ffffff !important;
}

.zjy .top-tab .left-pic {
  position: absolute;
  width: 3.2rem;
  top: -1.5rem;
  height: 3.2rem;
  background: url(../img/bear_left.svg) no-repeat center center;
  background-size: cover;
  z-index: 1;
  left: -1rem;
}

.zjy .top-tab .right-pic {
  position: absolute;
  top: -1.2rem;
  width: 2.8rem;
  height: 3.2rem;
  background: url(../img/bear_right.png) no-repeat left center;
  background-size: cover;
  z-index: 1;
}

.zjy .top-row .top-tit {
  font-weight: bold;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 0.7rem;
  color: #FF3F24;
}

.zjy .top-row .icon {
  margin-right: 0.2rem;
  width: 1.1rem;
  height: 0.98rem;
  background: url(../img/icon2.png) no-repeat center center;
  background-size: 100% 100%;
}

.zjy .top-row .icon2 {
  margin-right: 0.2rem;
  width: 1.02rem;
  height: 0.92rem;
  background: url(../img/icon2.svg) no-repeat center center;
  background-size: 100% 100%;
}

.zjy .top-row .icon3 {
  margin-right: 0.2rem;
  width: 1.3rem;
  height: 0.76rem;
  background: url(../img/icon1.png) no-repeat center center;
  background-size: 100% 100%;
}

.zjy .top-row .icon4 {
  margin-right: 0.2rem;
  width: 1rem;
  height: 1.22rem;
  background: url(../img/icon3.svg) no-repeat center center;
  background-size: 100% 100%;
}

.zjy .top-row .icon6 {
  margin-right: 0.2rem;
  width: 1.1rem;
  height: 0.98rem;
  background: url(../img/abc.svg) no-repeat center center;
  background-size: 100% 100%;
}

.zjy .top-row .more {
  font-weight: bold;
  font-size: 0.55rem;
  color: #5F5F5F;
}

.zjy .top-row .more .arrow {
  display: inline-block;
  margin-left: 0.2rem;
  width: 0.18rem;
  height: 0.34rem;
  background: url(../img/arrow.png) no-repeat center center;
  background-size: 100% 100%;
}

.zjy .top-row .more .arrow {
  display: inline-block;
  margin-left: 0.2rem;
  width: 0.35rem;
  height: 0.6rem;
  background: url(../img/arrow.png) no-repeat center center;
  background-size: 100% 100%;
  vertical-align: text-top;
}

.zjy .videolist .video-contanier .title {
  width: 100%;
  font-size: 0.65rem;
  color: #545454;
  padding: 0.36rem 0;
  word-break: break-all;
  word-wrap: break-word;
  font-weight: bold;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.zjy .videolist .video-contanier .title a {
  color: #545454;
}

.zjy .videolist .video-contanier .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 26px;
  overflow: hidden;
}

.zjy .videolist .video-contanier .tags .tag {
  margin: 0 0.16rem 0 0;
  padding: 0.2rem 0.4rem;
  border-radius: 0.6rem;
  color: #fff;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 10px;
}

.zjy .videos1 .videolist .video-contanier .img-box {
  overflow: hidden;
  border-radius: 5px;
}

.zjy .videos1 .videolist .video-contanier .img-box img {
  width: 100% !important;
}

.zjy .videos1 .videolist .video-contanier .img-box .time {
  padding: 0 0.16rem .12rem;
  position: absolute;
  bottom: 0.35rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}

.zjy .videos2 .videolist .video-contanier {
  margin-left: 0.4rem;
  width: 13rem;
  display: inline-block;
}

.zjy .videos2 .videolist .video-contanier .img-box {
  width: 100%;
  height: 7rem;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.zjy .videos2 .videolist .video-contanier .img-box img {
  height: 7rem !important;
}

.zjy .videos2 .videolist .video-contanier .img-box .time {
  padding: 0 0.16rem .12rem;
  position: absolute;
  bottom: 0.35rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}

.zjy .top-swiper .img-box .time {
  padding: 0 0.16rem .12rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}
