@charset "UTF-8";
body {
  width: 100%;
  height: 100%;
  font-family: 微軟正黑體, 微软正黑体, Montserrat, "Open Sans", sans-serif;
  font-size: 16px;
}

.zjy, .detail2, .detailsvideo {
  position: relative;
  min-width: 320px;
  max-width: 500PX;
  margin: 0 auto;
  height: 100%;
  color: #333;
  background-color: #fff;
}

.zjy .logo .logoimg {
  margin: 0.5rem auto 0.3rem auto;
  width: auto;
  height: 2rem;
  background: url("../img/logo.svg") no-repeat center center;
  background-size: 100% 100%;
  margin-left: -.2rem;
}

.zjy .top-tab .tabs-bg .left-tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1.4rem;
  background-color: #9defae;
}

.zjy .top-tab .tabs-bg .right-tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1.4rem;
  background-color: #ffd582;
}

.zjy .top-tab .tabs {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.4rem;
  color: #FFFFFFA7;
  width: 100%;
}

.zjy .top-tab .tabs .left-tab {
  padding: 0.44rem 0.4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  line-height: 0.5rem;
}

.zjy .top-tab .tabs .right-tab {
  padding: 0.44rem 0.4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  line-height: 0.5rem;
}

.zjy .top-tab .tabs .left-tab a,
.zjy .top-tab .tabs .right-tab a {
  color: #ffffff !important;
  font-weight: bold;
}

.zjy .top-tab .tabs .left-tab.active {
  font-size: 0.6rem;
  color: #ffffff !important;
  background: #58ca70;
  line-height: 0.5rem;
  letter-spacing: -1px;
}

.zjy .top-tab .tabs .right-tab.active {
  font-size: 0.6rem;
  color: #ffffff !important;
  background: #ffba4d;
  line-height: 0.5rem;
  letter-spacing: -1px;
}

.zjy .top-tab .tabs .right-tab.active a,
.zjy .top-tab .tabs .left-tab.active a {
  color: #ffffff !important;
}

.zjy .top-tab .left-pic {
  position: absolute;
  width: 3.2rem;
  top: -1.5rem;
  height: 3.2rem;
  background: url(../img/bear_left.svg) no-repeat center center;
  background-size: cover;
  z-index: 1;
  left: -1rem;
}

.zjy .top-tab .right-pic {
  position: absolute;
  top: -1.2rem;
  width: 2.8rem;
  height: 3.2rem;
  background: url(../img/bear_right.png) no-repeat left center;
  background-size: cover;
  z-index: 1;
}

.zjy .top-row .top-tit {
  font-weight: bold;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 0.8rem;
  color: #FF3F24;
}

.zjy .top-row .icon {
  margin-right: 0.2rem;
  width: 1.1rem;
  height: 0.98rem;
  background: url(../img/icon2.png) no-repeat center center;
  background-size: 100% 100%;
}

.zjy .top-row .icon2 {
  margin-right: 0.2rem;
  width: 1.02rem;
  height: 0.92rem;
  background: url(../img/icon2.svg) no-repeat center center;
  background-size: 100% 100%;
}

.zjy .top-row .icon3 {
  margin-right: 0.2rem;
  width: 1.3rem;
  height: 0.76rem;
  background: url(../img/icon1.png) no-repeat center center;
  background-size: 100% 100%;
}

.zjy .top-row .icon4 {
  margin-right: 0.2rem;
  width: 1rem;
  height: 1.22rem;
  background: url(../img/icon3.svg) no-repeat center center;
  background-size: 100% 100%;
}

.zjy .top-row .icon6 {
  margin-right: 0.2rem;
  width: 1.1rem;
  height: 0.98rem;
  background: url(../img/abc.svg) no-repeat center center;
  background-size: 100% 100%;
}

.zjy .top-row .more {
  font-weight: bold;
  font-size: 0.6rem;
  color: #5F5F5F;
  position: relative;
  padding-right: 18px;
}

.zjy .top-row .more .arrow {
  display: inline-block;
  margin-left: 0.2rem;
  width: 0.35rem;
  height: 0.55rem;
  background: url(../img/arrow.png) no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  top: 4px;
  right: 4px;
}

.zjy .videolist .video-contanier .title {
  width: 100%;
  font-size: 0.65rem;
  color: #545454;
  padding: 0.36rem 0;
  word-break: break-all;
  word-wrap: break-word;
  font-weight: bold;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.zjy .videolist .video-contanier .title a {
  color: #545454;
}

.zjy .videolist .video-contanier .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 26px;
  overflow: hidden;
}

.zjy .videolist .video-contanier .tags .tag {
  margin: 0 0.16rem 0 0;
  padding: 0 0.4rem 0;
  border-radius: 0.6rem;
  color: #fff;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 24px;
}

.zjy .videos1 .videolist .video-contanier .img-box {
  overflow: hidden;
  border-radius: 5px;
}

.zjy .videos1 .videolist .video-contanier .img-box img {
  width: 100% !important;
}

.zjy .videos1 .videolist .video-contanier .img-box .time {
  padding: 0 0.16rem .12rem;
  position: absolute;
  bottom: 0.35rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}

.zjy .videos2 .videolist .video-contanier {
  margin-left: 0.4rem;
  width: 12rem;
  display: inline-block;
}

.zjy .videos2 .videolist .video-contanier .img-box {
  width: 100%;
  height: 6.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.zjy .videos2 .videolist .video-contanier .img-box img {
  height: 6.5rem !important;
}

.zjy .videos2 .videolist .video-contanier .img-box .time {
  padding: 0 0.16rem .12rem;
  position: absolute;
  bottom: 0.35rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}

.zjy .top-swiper .img-box .time {
  padding: 0 0.16rem .12rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}

.detail2 .details-info {
  padding: 0.4rem 0.8rem .6rem;
}

.detail2 .details-info .video-tit {
  color: #545454;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 22px;
  line-height: 1.1rem;
  font-weight: bold;
}

.detail2 .details-info .video-tit a {
  color: #545454;
}

.detail2 .details-info .tit-detail {
  font-size: 0.55rem;
  color: #545454;
  margin-top: 4px;
}

.detail2 .top-row .back {
  margin-left: 0.6rem;
  width: 0.76rem;
  height: 0.86rem;
  background: url(../img/btn_left.svg) no-repeat center center;
  background-size: 100% 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.detail2 .top-row .icon6 {
  margin-right: 0.2rem;
  width: 1.1rem;
  height: 0.98rem;
  background: url(../img/abc.svg) no-repeat center center;
  background-size: 100% 100%;
}

.detail2 .top-row .share {
  width: 0.8rem;
  height: 0.8rem;
  background: url(../img/btn_more.svg) no-repeat center center;
  background-size: 100% 100%;
}

.detail2 .top-row .top-tit {
  font-weight: bold;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 0.8rem;
  color: #FF3F24;
  font-size: 0.7rem;
}

.detail2 .tags {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 26px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
}

.detail2 .tags .tag {
  margin: 0 0.16rem 0 0;
  padding: 0.15rem 0.4rem;
  border-radius: 0.6rem;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail2 .video-box .time {
  padding: .12rem .16rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 0.16rem .12rem;
  border-radius: 4px;
}

.video-js {
  width: 100%;
}

#topvideobox .back {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 28px;
  height: 28px;
  background: url(../img/btn_down.svg) no-repeat center center;
  background-size: 100% 100%;
  -webkit-filter: drop-shadow(0px 0px 6px rgba(133, 38, 27, 0.9));
  filter: drop-shadow(0px 0px 10px rgba(133, 38, 27, 0.9));
}

.video-js .vjs-big-play-button {
  font-size: 6em;
  line-height: 1.5em;
  height: 100px;
  width: 100px;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  border: .06666em solid #fff;
  background-color: rgba(255, 164, 155, 0.45);
  border-radius: 50%;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-shadow: 0px 0px 28px 10px #ffa49b;
          box-shadow: 0px 0px 28px 10px #ffa49b;
}

.vjs-big-play-centered .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-top: 0;
  margin-left: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  position: relative;
}

.detailsvideo .video-tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 24px;
}

.detailsvideo .video-tit .arrow {
  display: inline-block;
  width: 26px;
  height: 22px;
  background: url(../img/arrow1.svg) no-repeat center center;
  background-size: 100% 100%;
}

.detailsvideo .video-tit .tit {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 22px;
  color: #545454;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: bold;
}

.detailsvideo .details {
  padding: 12px 24px;
  font-size: 15px;
  line-height: 22px;
  color: rgba(38, 23, 15, 0.75);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.detailsvideo .tags {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.detailsvideo .tags .tag {
  margin: 0 4px 0 0;
  padding: 4px 12px;
  border-radius: 0.6rem;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detailsvideo .tuijie {
  padding: 16px 22px;
  font-size: 20px;
  color: #4B4B4B;
  font-weight: bold;
}

.detailsvideo .tuijie-list {
  overflow: hidden;
  padding: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detailsvideo .tuijie-list .imgbox {
  position: relative;
  float: left;
  width: 50%;
  height: auto;
  overflow: hidden;
}

.detailsvideo .tuijie-list .imgbox .time {
  padding: 0 0.16rem;
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}

.detailsvideo .tuijie-list .info {
  font-size: 15px;
  color: #545454;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-weight: bold;
  line-height: 1.4;
  margin-left: 20px;
}

.detailsvideo .tuijie-list .info a {
  color: #545454;
}

.detailsvideo .tuijie-list .info .tit {
  margin-right: 16px;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailsvideo .tuijie-list .count {
  font-size: 12px;
  color: #6C7B8A;
  margin-top: 4px;
}

.detailsvideo .tit-detail {
  padding: 0 24px 12px;
  font-size: 14px;
  color: #4B4B4B;
  border-bottom: 1px solid #eeeeee;
}
