/*
body {
  font-family: Arial;
  background: #eee;
}*/




/* 左右 橫式 柱狀圖 */
.barfiller {
     width: 100%;
        height: 28px;
    background: #eae9e7;
    border: 1px solid #ccc;
    position: relative;
    margin-bottom: 38px;
    box-shadow: inset 0px 0px 0px -6px rgba(0,0,0,0);
  	-moz-box-shadow: inset 0px 0px 0px -6px rgba(0,0,0,0);
}

.barfiller .fill {
  display: block;
  position: relative;
  width: 0px;
  height: 100%;
  background: #333;
  z-index: 1;
}

.barfiller .tipWrap { display: none; }

.barfiller .tip {
    margin-top: 35px;
    padding: 0px 8px;
    font-size: 16px;
    color: #fff;
    left: 0px;
    position: absolute;
    z-index: 2;
    background: #00BCD1;
    font-weight: 700;
}
.barfiller .tip:after {
    border: solid;
    border-color: rgb(0, 188, 210) transparent;
    border-width: 0px 8px 8px 8px;
    content: "";
    display: block;
    position: absolute;
    left: 9px;
    top: -30%;
    z-index: 9;
}

/* 百分比在上方 */

/*.barfiller .tip {
    margin-top: -45px;
    padding: .3rem .7rem;
    font-size: 16px;
    color: #fff;
    left: 0px;
    position: absolute;
    z-index: 2;
    background: #00bcd4;
	font-weight: 700;
}
.barfiller .tip:after {
  border: solid;
  border-color: rgb(0, 188, 212) transparent;
  border-width: 8px 8px 0 8px;
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  top: 100%;
  z-index: 9
}*/


/* 上下 直式 柱狀圖 */



