body {
  width: 100%;
  height: 100%;
  font-family: 微軟正黑體, 微软正黑体, Montserrat, "Open Sans", sans-serif;
  font-size: 16px;
}
.zjy .logo .logoimg {
  margin: 0.5rem auto 0.3rem auto;
  width: auto;
  height: 2rem;
  background: url('../img/logo.svg') no-repeat center center;
  background-size: 100% 100%;
  margin-left: -.2rem;
}
.zjy .top-tab .tabs-bg .left-tab {
  flex: 1;
  height: 1.4rem;
  background-color: #9defae;
}
.zjy .top-tab .tabs-bg .right-tab {
  flex: 1;
  height: 1.4rem;
  background-color: #ffd582;
}
.zjy .top-tab .tabs {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  font-size: 0.4rem;
  color: #FFFFFFA7;
  width: 100%;
}
.zjy .top-tab .tabs .left-tab {
  padding: 0.44rem 0.4rem;
  flex: 1;
  text-align: right;
  line-height: 0.5rem;
}
.zjy .top-tab .tabs .right-tab {
  padding: 0.44rem 0.4rem;
  flex: 1;
  text-align: left;
  line-height: 0.5rem;
}
.zjy .top-tab .tabs .left-tab a, 
.zjy .top-tab .tabs .right-tab a {
  color: #ffffff !important;
  font-weight: bold;
}
.zjy .top-tab .tabs .left-tab.active {
  font-size: 0.6rem;
  color: #ffffff !important;
  background: #58ca70;
  line-height: 0.5rem;
  letter-spacing: -1px;
}

.zjy .top-tab .tabs .right-tab.active {
  font-size: 0.6rem;
  color: #ffffff !important;
  background: #ffba4d;
  line-height: 0.5rem;
  letter-spacing: -1px;
}
.zjy .top-tab .tabs .right-tab.active a,
.zjy .top-tab .tabs .left-tab.active a {
  color: #ffffff !important;
}
.zjy .top-tab {
  .left-pic {
    position: absolute;
    width: 3.2rem;
    top: -1.5rem;
    height: 3.2rem;
    background: url(../img/bear_left.svg) no-repeat center center;
    background-size: cover;
    z-index: 1;
    left: -1rem;
  }
  .right-pic {
    position: absolute;
    top: -1.2rem;
    width: 2.8rem;
    height: 3.2rem;
    background: url(../img/bear_right.png) no-repeat left center;
    background-size: cover;
    z-index: 1;
  }
}



.zjy .top-row .top-tit {
  font-weight: bold;
  flex: 2;
  font-size: 0.8rem;
  color: #FF3F24;
}
.zjy .top-row {
  .icon, .icon2, .icon3, .icon4, .icon6 {

  }
  .icon {
    margin-right: 0.2rem;
    width: 1.1rem;
    height: 0.98rem;
    background: url(../img/icon2.png) no-repeat center center;
    background-size: 100% 100%;
  }
  .icon2 {
    margin-right: 0.2rem;
    width: 1.02rem;
    height: 0.92rem;
    background: url(../img/icon2.svg) no-repeat center center;
    background-size: 100% 100%;
  }
  .icon3 {
    margin-right: 0.2rem;
    width: 1.3rem;
    height: 0.76rem;
    background: url(../img/icon1.png) no-repeat center center;
    background-size: 100% 100%;
}
  .icon4 {
    margin-right: 0.2rem;
    width: 1rem;
    height: 1.22rem;
    background: url(../img/icon3.svg) no-repeat center center;
    background-size: 100% 100%;
  }
  .icon6 {
    margin-right: 0.2rem;
    width: 1.1rem;
    height: 0.98rem;
    background: url(../img/abc.svg) no-repeat center center;
    background-size: 100% 100%;
  }
}
.zjy .top-row .more {
  font-weight: bold;
  font-size: 0.6rem;
  color: #5F5F5F;
  position: relative;
  padding-right: 18px;
  .arrow {
    display: inline-block;
    margin-left: 0.2rem;
    width: 0.35rem;
    height: 0.55rem;
    background: url(../img/arrow.png) no-repeat center center;
    background-size: 100% 100%;
    // vertical-align: middle;
    // vertical-align: text-bottom;
    // vertical-align: text-top;
    position: absolute;
    top: 4px;
    right: 4px;
  }
}
.zjy .videolist .video-contanier .title {
  width: 100%;
  font-size: 0.65rem;
  color: #545454;
  padding: 0.36rem 0;
  word-break: break-all;
  word-wrap: break-word;
  font-weight: bold;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.zjy .videolist .video-contanier .title a {
  color: #545454;
}
.zjy .videolist .video-contanier .tags {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 26px;
  overflow: hidden;
  .tag{
    margin: 0 0.16rem 0 0;
    padding: 0 0.4rem 0;
    border-radius: 0.6rem;
    color: #fff;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 24px;
  }
}

.zjy {
  .videos1 .videolist .video-contanier {
    .img-box {
      overflow: hidden;
      border-radius: 5px;
      img {
        width: 100% !important;
      }
      .time {
        padding: 0 0.16rem .12rem;
        position: absolute;
        bottom: 0.35rem;
        text-align: center;
        color: #FFFFFF;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 4px;
      }
    }
  }
  .videos2 .videolist .video-contanier {
    margin-left: 0.4rem;
    width: 12rem;
    display: inline-block;
    .img-box{
      width: 100%;
      height: 6.5rem;
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      img {
        height: 6.5rem !important;
      }
      .time {
        padding: 0 0.16rem .12rem;
        position: absolute;
        bottom: 0.35rem;
        text-align: center;
        color: #FFFFFF;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 4px;
      }
    }
  }
}


.zjy .top-swiper .img-box .time {
  padding: 0 0.16rem .12rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}




// page_more
.detail2 {
  .details-info {
    padding: 0.4rem 0.8rem .6rem;
    .video-tit {
      color: #545454;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      font-size: 0.8rem;
      line-height: 1.1rem;
      font-weight: bold;
      a {
        color: #545454;
      }
    }
    .tit-detail {
      font-size: 0.55rem;
      color: #545454;
      margin-top: 4px;
    }
  } 
  .top-row {
    .back {
      margin-left: 0.6rem;
      width: 0.76rem;
      height: 0.86rem;
      background: url(../img/btn_left.svg) no-repeat center center;
      background-size: 100% 100%;
      transform: rotate(90deg);
      transform-origin: 0 0;
    }
    .icon6 {
      margin-right: 0.2rem;
      width: 1.1rem;
      height: 0.98rem;
      background: url(../img/abc.svg) no-repeat center center;
      background-size: 100% 100%;
    }
    .share {
      width: 0.8rem;
      height: 0.8rem;
      background: url(../img/btn_more.svg) no-repeat center center;
      background-size: 100% 100%;
    }
    .top-tit {
      font-weight: bold;
      flex: 2;
      font-size: 0.8rem;
      color: #FF3F24;
      font-size: 0.7rem;
    }
  }
  .tags {
    margin-top: 8px;
    display: flex;
    width: 100%;
    height: 26px;
    flex-wrap: nowrap;
    overflow: hidden;
    .tag {
      margin: 0 0.16rem 0 0;
      padding: 0.15rem 0.4rem;
      border-radius: 0.6rem;
      color: #fff;
      font-size: 12px;
      line-height: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:last-child{
        
      }
    }
  } 
  .video-box {
    .time{
      padding: .12rem .16rem;
      position: absolute;
      right: 0.5rem;
      bottom: 0.5rem;
      text-align: center;
      color: #FFFFFF;
      font-size: 14px;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 0 0.16rem .12rem;
      border-radius: 4px;
    }
  }
}



// page-play
#topvideobox .back {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  background: url(../img/btn_down.svg) no-repeat center center;
  background-size: 100% 100%;
  -webkit-filter: drop-shadow(0px 0px 6px rgba(133, 38, 27, 0.9));
  filter: drop-shadow(0px 0px 10px rgba(133, 38, 27, 0.9));
}
.video-js .vjs-big-play-button {
  font-size: 6em;
  line-height: 1.5em;
  height: 100px;
  width: 100px;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  border: .06666em solid #fff;
  // background-color: #2b333f;
  background-color: rgba(255, 164, 155, 0.45);
  border-radius: 50%;
  transition: all .4s;
  box-shadow: 0px 0px 28px 10px #ffa49b;
}
.vjs-big-play-centered .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-top: 0;
  margin-left: 0;
  transform: translateX(-50%) translateY(-50%);
  position: relative;
}

.detailsvideo {
  .video-tit {
    .arrow {
      display: inline-block;
      width: 0.96rem;
      height: 0.8rem;
      background: url(../img/arrow1.svg) no-repeat center center;
      background-size: 100% 100%;
    }
    .tit {
      display: inline-block;
      flex: 1;
      font-size: 0.8rem;
      color: #545454;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      font-weight: bold;
    }
  }
  .details {
    padding: 0.4rem 0.8rem;
    font-size: 15px;
    color: rgba(38, 23, 15, 0.75);
    transition: all 0.3s ease-out;
  }
  .tags {
    margin-top: 0.4rem;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    .tag {
      margin: 0 0.16rem 0 0;
      padding: 0.15rem 0.4rem;
      border-radius: 0.6rem;
      color: #fff;
      font-size: 12px;
      line-height: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .tuijie {
    padding: 0.6rem 0.8rem;
    font-size: 0.72rem;
    color: #4B4B4B;
    font-weight: bold;
  }
  .tuijie-list {
    overflow: hidden;
    padding: 0rem;
    .imgbox {
      position: relative;
      float: left;
      width: 6rem;
      height: auto;
      overflow: hidden;
      .time {
        padding: 0 0.16rem;
        position: absolute;
        right: 0.4rem;
        bottom: 0.4rem;
        text-align: center;
        color: #FFFFFF;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 4px;
      }
    }
    .info {
      float: right;
      width: 8.58rem;
      font-size: 0.54rem;
      color: #545454;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      font-weight: bold;
      line-height: 1.4;
      // display: flex;
      // flex-wrap: nowrap;
      a {
        color: #545454;
      }
      .tit{
        margin-right: 16px;
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .count {
      font-size: 0.4rem;
      color: #6C7B8A;
      margin-top: 4px;
    }
  }
  
}



