/* Button Area css
============================================================================================ */
.arrow_btn {
  font: 16px $sw;
  color: $baseColor;
  display: inline-block;
  @include transition;
  i {
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-left: 5px;
    @include transition;
  }
  &:hover {
    color: $dip;
    i {
      margin-left: 0px;
    }
  }
  &.dark {
    color: $dip;
  }
}
.submit_btn {
  // background: $baseColor;
  background: rgb(189, 155, 188);
  background: linear-gradient(90deg, rgba(189, 155, 188,1) 0%, rgba(99,122,245,1) 53%, rgba(0,255,209,1) 100%);
  line-height: 50px;
  border-radius: 0px;
  text-align: center;
  padding: 0px 24px;
  color: $dip;
  outline: none !important;
  box-shadow: none !important;
  padding-top: 3px;
  font-size: 1rem;
  font-family: "微軟正黑體", "Roboto Slab", Arial, sans-serif;
  font-weight: 700;
  @include transition;
  &:hover {
    background: #000;
    color: #fff;
  }
  i{
    font-weight: 700;
  }
}
//  primary secondary
.primary_btn {
  background: $primaryBlue;
  // background: rgb(189, 155, 188);
  // background: linear-gradient(90deg, rgba(189, 155, 188,1) 0%, rgba(99,122,245,1) 53%, rgba(0,255,209,1) 100%);
  line-height: 48px;
  border-radius: 0px;
  text-align: center;
  padding: 0px 30px;
  color: $dip;
  outline: none !important;
  box-shadow: none !important;
  // padding-top: 3px;
  font-size: 1rem;
  font-family: "微軟正黑體", "Roboto Slab", Arial, sans-serif;
  font-weight: 700;
  &.small{
    line-height: 36px;
    padding: 0px 22px;
  }
  @include transition;
  &:hover {
    background: $darkfont;
    color: #fff;
  }
  i{
    font-weight: 700;
  }
}
/* End Button Area css
============================================================================================ */
