
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Righteous&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/*font Variables*/
$sw: "swanse";
$swb: "swanseb";
$chi: "chinese";
$Roboto: "Roboto Slab";

/*Color Variables*/
$baseColor: #00FFFF;
$dip: #fff;
$pfont: #aeb7b7;
$darkfont: #021242;
$darkBlueBg: #060d33;
$primaryBlue: #346dff;

/*=================== fonts ====================*/

// Mixins
@mixin transition(
  $property: all,
  $duration: 300ms,
  $animate: linear,
  $delay: 0s
) {
  transition: $property $duration $animate $delay;
}

// Placeholder Mixins

@mixin placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

// Project Core Font Family
@font-face {
  font-family: "swanse";
  // font-family: "微軟正黑體", "Raleway", Arial, sans-serif;
  src: url(../fonts/swansea-webfont.woff);
  font-weight: 700;
}
@font-face {
  font-family: "swanseb";
  // font-family: "微軟正黑體", "Raleway", Arial, sans-serif;
  src: url(../fonts/swansea_bold-webfont.woff);
  font-weight: 700;
}

@font-face {
  font-family: "chinese";
  font-family: "微軟正黑體", "Raleway", Arial, sans-serif;
  src: url(../fonts/swansea-webfont.woff);
  font-weight: 700;
}



// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
@font-face {
  font-family: "Roboto Slab";
  // font-family: "Roboto Slab", serif;
  src: url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap);
  font-weight: 700;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
