
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Righteous&display=swap");


/*font Variables*/
$sw: "swanse";
$swb: "swanseb";

/*Color Variables*/
$baseColor: #00FFFF;
$dip: #fff;
$pfont: #a0a0a0;
/*=================== fonts ====================*/

// Mixins
@mixin transition(
  $property: all,
  $duration: 300ms,
  $animate: linear,
  $delay: 0s
) {
  transition: $property $duration $animate $delay;
}

// Placeholder Mixins

@mixin placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

// Project Core Font Family
@font-face {
  // font-family: "swanse";
  font-family: "微軟正黑體", "Raleway", Arial, sans-serif;
  src: url(../fonts/swansea-webfont.woff);
  font-weight: 700;
}
@font-face {
  // font-family: "swanseb";
  font-family: "微軟正黑體", "Raleway", Arial, sans-serif;
  src: url(../fonts/swansea_bold-webfont.woff);
  font-weight: 700;
}
