

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 16px;
    color: #111433;
    line-height: 1.5;
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding: 0px;
}
main{
	position: absolute;
    text-align: left;
    vertical-align: top;
    text-indent: 0;
    /* min-height: 400px; */
    margin: auto;
    top: 0;
    bottom: 0;
    width: 100%;
}
section {
    max-width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 400px;
}
section.appear_caption {
	max-width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    min-height: 400px;
    /*bottom: 160px;*/
	height: calc(100vh - 80px);
}
.captions_ar {
	width: 100%;
    padding: 15px 50px;
    position: absolute;
    bottom: 0;
    background-color: black;
    height: 80px;
    text-align: center;
    border-top: 1px solid #313131;
}
.captions_ar_t {
	height: 100%;
    overflow: hidden;
    color: #fff;
}	
   

.plyr {
    margin: auto;
    border-radius: 0px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.plyr__video-wrapper {
    position: absolute;
    background: #000;
    border-radius: inherit;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.plyr video {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: inherit;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
.plyr__play-large:after {
    content: "\E037";
    font-family: 'Material Icons';
    color: #ffffff;
	font-size: 6rem;
	vertical-align: middle;
}

.plyr__play-large svg {
    position: relative;
    left: 2px;
    width: 20px;
    height: 20px;
    /*display: block;*/
    fill: currentColor;
    display: none;
}

.plyr__play-large {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
	transform-origin: center center;
}
.plyr__play-large:hover,
.plyr__play-large:focus {
	background: rgba(0, 0, 0, 0.1);
	box-shadow: 0 0px 30px rgba(255, 255, 255,1), 0 0px 60px rgba(255, 255, 255,.6), 0 0px 100px rgba(255, 255, 255,.3);
}
.plyr--captions-active .plyr__captions {
    display: block;
    z-index: 101;
	margin-bottom: 28px;
}


/*.plyr__controls>button:first-child:after{
	content: "\E037";
    font-family: 'Material Icons';
    color: #ffffff;
	font-size: 3rem;
	vertical-align: middle;
	
}*/

.plyr--video .plyr__controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 150;
    padding: 40px 15px 10px;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.7));
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    color: #fff;
    transition: opacity .3s ease;
}
.plyr__controls button svg,
.plyr__controls>button[data-plyr=mute][aria-pressed="true"] svg,
.plyr__controls>button[data-plyr=captions][aria-pressed="true"] svg,
.plyr__controls>button[data-plyr=fullscreen][aria-pressed="true"] svg {
	display: none;
}

.plyr--video .plyr__controls>button:first-child {
	z-index: 155;
}
.plyr__controls button{
	padding: 2px;
}

.plyr__controls>button:first-child[data-plyr=play]:after, 
.plyr__controls>button[data-plyr=pause]:after,
.plyr__controls>button[data-plyr=mute]:after,
.plyr__controls>button[data-plyr=mute][aria-pressed="true"]:after,
.plyr__controls>button[data-plyr=captions]:after,
.plyr__controls>button[data-plyr=captions][aria-pressed="true"]:after,
.plyr__controls>button[data-plyr=fullscreen]:after,
.plyr__controls>button[data-plyr=fullscreen][aria-pressed="true"]:after,

.plyr__controls button[data-plyr=previous]:after,
.plyr__controls button[data-plyr=next]:after  {
	font-family: 'Material Icons';
    color: #ffffff;
	font-size: 2rem;
	vertical-align: middle;
}

.plyr__controls>button:first-child[data-plyr=play]:after{
	content: "\E037";
}
.plyr__controls>button[data-plyr=pause]:after{
	content: "\E034";
}
.plyr__controls>button[data-plyr=mute]:after{
	content: "\E050";
}
.plyr__controls>button[data-plyr=mute]{
	margin-top: -80px;
}
.plyr__controls>button[data-plyr=mute][aria-pressed="true"]:after{
	content: "\E04F";
}
.plyr__controls>button[data-plyr=captions]:after{
	content: "\E01C";
}
.plyr__controls>button[data-plyr=captions][aria-pressed="true"]:after{
	opacity: 1;
}
.plyr__controls>button[data-plyr=captions][aria-pressed="false"]:after {
	opacity: .3;
}
.plyr__controls>button[data-plyr=fullscreen]:after{
	content: "\E5D0";
}
.plyr__controls>button[data-plyr=fullscreen][aria-pressed="true"]:after{
	content: "\E5D1";
}




.plyr--video .plyr__controls button.tab-focus:focus, 
.plyr--video .plyr__controls button:hover,
.plyr__controls button.tab-focus:focus, 
.plyr__controls button:hover {
    background: #492b80;
    color: #fff;
	border-radius: 0px;
}
.plyr__progress--played, .plyr__volume--display {
    z-index: 1;
    color: #6733d7;
    background: 0 0;
    transition: none;
}
.plyr__controls button[data-plyr=previous]:after{
	content: "\E045";
}
.plyr__controls button[data-plyr=next]:after{
	content: "\E044";
}
/*.ex_controler, .topblock {
	display: none;
}*/

.plyr--video .ex_controler {
    position: absolute;
    bottom: 0px;
    z-index: 150;
    padding: 10px 10px 10px 10px;
    left: 60px;
    background: none;
    right: 120px;
	text-align: left;
	display: block;
}
.plyr__controls.ex_controler>button {
	margin-left: 0px;
}
.plyr__controls button[data-plyr=question]{
    padding: 7px 15px;
    /*background-color: rgba(73,43,128,0.5);*/
    right: 0px;
    /*position: absolute;*/
	font-weight:bold;
}
.plyr__controls button[data-plyr=question] i {
    vertical-align: sub;
    margin-right: .3rem;
}	
.plyr .plyr__progress {
    display: inline-block;
    margin-top: -75px;
    margin-left: -30px;
    width: 100%;
}
.plyr .plyr__volume{
	margin-right: -85px;
}
.plyr .plyr__time, 
.plyr .plyr__volume {
	margin-top: -75px;
} 
.plyr__tooltip {
    background-color: rgba(17, 20, 51, 0.9);
    border-radius: 0px;
}
.btn_right{
	text-align: right;
	float: right	
}

.topblock {
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    padding: 40px 20px 15px 110px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0));
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    color: #fff;
    transition: opacity .3s ease;
	text-align: left;
	font-weight: 700;
}
.btn_open{
	z-index: 9999;
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: none;
	left: 40px;
	background: rgba(0, 0, 0, 0.2);
}
.btn_open i {
	font-size: 2.6rem;
	vertical-align: middle;
    padding: 3px 5px;
}
.topblock .title {
	font-size: 1.4rem;
	line-height: 1.2;
}
.topblock .t_wu {
	font-size: .8rem;
	margin-top: .4rem;
}
.btn_open:hover{
	background: rgba(0, 0, 0, .7);
}
.btn_open:hover i {
	color: rgba(255, 255, 255, 1);
}




/*  sidebar menu 調整  */
.mmenua {
    background-color: #FFFFFF;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 3px;
}
.menu_bar .skillbar {
    margin-bottom: 3px;
    margin-top: 7px;
	height: 25px;
    right: 0rem;
}
.menu_dueday {
    margin-bottom: 0px;
    font-size: .7rem;
    font-weight: 700;
    float: left;
    line-height: 25px;
    position: relative;
    right: 0rem;
    top: 0rem;
}
.m_btn.btn {
    margin: 0px 0px 0px 0px;
    text-align: left;
    white-space: inherit;;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 12px 44px 12px 20px;
    line-height: 20px;
}
.m_btn.btn:after {
    font-family: "Material Icons";
    content: "\E316";
    float: right;
    margin-left: 15px;
    z-index: 1;
    position: absolute;
    right: 12px;
    font-size: 1.6rem;
    height: 2rem;
    margin: auto;
    top: 0;
    bottom: 0;
	line-height: 2rem;
}
.close {
	font-size: 1.6em;
    color: #fff !important;
    line-height: 2.6rem;
}
.panel-title {
    font-size: initial;
}
.panel-title > a {
    display: block;
    padding: 12px 75px 12px 25px;
    text-decoration: none;
    line-height: initial;
    position: relative;
}
.panel-heading .panel-title .number {
	float: none;
    /* margin-right: 28px; */
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 20px;
    right: 45px;
	font-size: .8rem;
}
.more-less {
	float: none;
    color: #212121;
    font-family: "Material Icons";
    font-size: 1.2rem;
    line-height: 12px;
    right: 17px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 20px;
}


.mathsubmenubox .table>tbody>tr>td>i.right {
    vertical-align: bottom;
    margin-right: .6rem;
    position: absolute;
    right: 14px;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 20px;
	line-height: 20px;
    color: #724ebf;
}

.mathsubmenubox .table>tbody>tr>td:hover i.left,
.mathsubmenubox .table>tbody>tr>td:focus i.left,
.mathsubmenubox .table>tbody>tr>td:hover a,
.mathsubmenubox .table>tbody>tr>td:focus a {
	color: #111433;
}
.mathsubmenubox .table>tbody>tr>td:hover,
.mathsubmenubox .table>tbody>tr>td:focus {
	background-color: #f0edf6;
	color: #111433;
}


.mathsubmenubox .table>tbody>tr>td {
    padding: 0px;
    position: relative;
    line-height: 25px;
}

.mathsubmenubox .table>tbody>tr>td>a {
       padding: 15px 90px 15px 60px;
    position: initial;
    line-height: 20px;
    font-weight: 500;
	display: inline-block;
	    width: 100%;
}
.mathsubmenubox .table>tbody>tr>td>a i.left {
    vertical-align: bottom;
    margin-right: .6rem;
    position: absolute;
    left: 23px;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 20px;
	line-height: 20px;
    color: #724ebf;
}
.mathsubmenubox .table>tbody>tr>td>a .time {
    float: none;
    /* margin-right: 3rem; */
    color: #9E9E9E;
    font-size: .8rem;
    line-height: 25px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 20px;
    right: 45px;
}
.mathsubmenubox .table>tbody>tr>td>a.finish:after{
	font-family: "Material Icons";
	content: "\E86C";
	color: #724ebf;
	float: right;
	font-size: 24px;
    line-height: 30px;
    position: absolute;
    right: 14px;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.mathsubmenubox .table>tbody>tr>td>a.unfinish:after{
	font-family: "Material Icons";
	content: "\E15D";
	color: #724ebf;
	float: right;
	font-size: 24px;
    line-height: 30px;
    position: absolute;
    right: 14px;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.mathsubmenubox .table>tbody>tr>td>a.unfinish_overdue:after{
	font-family: "Material Icons";
	content: "\E15D";
	color: red;
	float: right;
	font-size: 24px;
    line-height: 30px;
    position: absolute;
    right: 14px;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.mathsubmenubox .table>tbody>tr>td>a.un:after{
	font-family: "Material Icons";
	content: "\E836";
	color: #9E9E9E;
	float: right;
	font-size: 24px;
    line-height: 30px;
    position: absolute;
    right: 14px;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.mathsubmenubox .table>tbody>tr>td>a.un_overdue:after{
	font-family: "Material Icons";
	content: "\E836";
	color: red;
	float: right;
	font-size: 24px;
    line-height: 30px;
    position: absolute;
    right: 14px;
    height: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.mathsubmenubox .table>tbody>tr>td>a.active,
.mathsubmenubox .table>tbody>tr>td>a.active,
.mathsubmenubox .table>tbody>tr>td>a.active i.left{
	background-color: #2f1957;
    color: #ffffff;
}
.mathsubmenubox .table>tbody>tr>td>a.active.finish:after,
.mathsubmenubox .table>tbody>tr>td>a.active.unfinish:after,
.mathsubmenubox .table>tbody>tr>td>a.active.un:after {
	background-color: #2f1957;
    color: #ffffff;
}
.mathsubmenubox .table>tbody>tr>td>a.active.unfinish_overdue:after,
.mathsubmenubox .table>tbody>tr>td>a.active.un_overdue:after {
	background-color: #2f1957;
    color: red;
}






/*  i 開合按鍵  */
.iconsl {
    position: absolute;
    display: block;
    bottom: 100px;
    left: 30px;
}

.iconsl .expander {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    margin-left: 70px;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
    text-align: left;
    font-size: .8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	padding: 15px 45px 15px 15px;
	background-color: rgba(0, 0, 0, 0.35);
}
.iconsl .expander span {
    font-size: .95rem;
    font-weight: 700;
	line-height: 1;
}
.iconsl:hover .expander,
.iconsl:focus .expander {
	color: #6733d7;
	transition: all 300ms ease-out;
}
    
.iconsl button {
	box-shadow: 0 0px 0px rgba(0,0,0,0);
    text-shadow: 0 0px 0px rgba(0,0,0,0);
	width: 70px;
	height: 70px;	
	background-color: rgba(0, 0, 0, 0.5);
	text-transform: initial;
    font-weight: normal;
	margin: 0px;
}
.iconsl button:hover,
.iconsl button:focus {
	background-color: rgba(0, 0, 0, 0.65);
}
.iconsl i {
	position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 70px;
    font-size: 38px;
    color: #ffffff;
}
.iconsl .in.collapse .expander:after {
	content: "\E14C";
    font-family: 'Material Icons';
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    height: 30px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 15px;
	line-height: 30px;
}
.iconsl .in.collapse .expander:hover:after {
	content: "\E15B";
	transition: all 300ms ease-out;
}
.iconsl .collapse .expander:after {
	content: "\E15B";
    font-family: 'Material Icons';
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    height: 30px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 15px;
	line-height: 30px;
}

.toslvideo {
	height: 70px;
    position: absolute;
    top: 0;
    left: 70px;
    width: 250px;
	display: block;
	z-index: 999999;
	cursor: pointer;
}

.alert_sl {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 5px;
    padding: 0px;
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    height: 70px;
    border: 0px solid transparent;
	display: block;
	position: relative;
}
.alert_sl .sl_text {
	position: absolute;
    padding: 15px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	color: #ffffff;
}
.alert_sl:hover .sl_text,
.alert_sl:focus .sl_text {
	color: #6733d7;
	transition: all 300ms ease-out;
}

.iconsl_b i {
    position: relative;
    line-height: 70px;
    font-size: 38px;
    color: #ffffff;
	width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: initial;
    font-weight: normal;
	text-align: center;
}
.alert_sl .close, 
.alert_sl .close {
    position: relative;
    right: 0px;
    color: inherit;
    line-height: 70px;
    top: 0px;
    height: 70px;
}





/*  置入 PDF 頁面  */
.ex_controler.excw {
	left: 0px;
    right: 0px;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.7));
    padding: 15px 50px 15px 50px;
}
.pdfbox {
	min-height: 100%;
    position: absolute;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.pdfbox embed {
	position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
	width: 100%;
	height: 100%;
}
.plyr__controls.ex_controler_pdf>button[data-plyr=previous],
.plyr__controls.ex_controler_pdf>button[data-plyr=next]	{
    display: inline-block;
}





@media screen and (min-width: 768px) and (max-width: 979px) {

}

@media screen and (max-width: 768px){
.topblock {
    padding: 20px 20px 10px 78px;
}
.btn_open {
	z-index: 9999;
	position: absolute;
	color: #fff;
	border-bottom: none;
	left: 20px;
	background: rgba(0, 0, 0, 0.3);
}
.plyr--video .ex_controler {
    /*display: none;*/
	right: 0px;
    bottom: 110px;
    width: 250px;
	left: auto;
}
.plyr .plyr__progress {
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
}
.plyr__controls>button[data-plyr=mute] {
    margin-top: 0px;
}
.plyr__controls>button[data-plyr=previous],
.plyr__controls>button[data-plyr=next]	{
    display: none;
}
.plyr--captions-active .plyr__captions {
    display: block;
    z-index: 101;
    margin-bottom: 0px;
}
.plyr .plyr__time, .plyr .plyr__volume {
    margin-top: 0px;
	display: none;
}
.topblock .title {
    font-size: 1rem;
    line-height: 1.2;
}
.btn_open i {
    font-size: 2rem;
    vertical-align: middle;
    padding: 3px 5px;
}
.plyr--video .plyr__controls {
    padding: 10px 15px 10px;
}
	
.iconsl {
    position: absolute;
    display: block;
    bottom: 55px;
    left: 25px;
}
.iconsl button {
    width: 50px;
	height: 50px;
}
.iconsl .expander {
    margin-left: 50px;
	font-size: .6rem;
	padding: 8px 45px 8px 15px;
	}
.iconsl .expander span {
    font-size: .8rem;
    font-weight: 700;
    line-height: 1;
}
.iconsl i {
    line-height: 50px;
    font-size: 30px;
}
.toslvideo {
  height: 40px;
    position: absolute;
    top: 0;
    left: 40px;
    width: 280px;
    display: block;
    z-index: 999999;
    cursor: pointer;
}
.alert_sl {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 5px;
    padding: 0px;
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    height: 40px;
    border: 0px solid transparent;
    display: block;
    position: relative;
}
	
.iconsl_b i {
    position: relative;
    line-height: 40px;
    font-size: 28px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: initial;
    font-weight: normal;
    text-align: center;
}
.alert_sl .sl_text {
	position: absolute;
    padding: 5px 0px 5px 8px;
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    height: 40px;
    line-height: 15px;
    font-size: 12px;
}	
.alert_sl .close, .alert_sl .close {
    position: relative;
    right: 0px;
    color: inherit;
    line-height: 40px;
    top: 0px;
    height: 40px;
}
.plyr--video .ex_controler_pdf {
	display: inline-block;
    right: 0px;
    bottom: 0px;
    width: 100%;
    left: 0px;

}
    

	
	
	
}


@media screen and (max-width: 480px) {
.aside.in {
	min-width: 350px;
	width: 100%;
}
.topblock .title {
    font-size: 1.4rem;
    line-height: 1.2;
}
.btn_open i {
    font-size: 2.6rem;
    vertical-align: middle;
    padding: 3px 5px;
}
.iconsl {
    position: absolute;
    display: block;
    bottom: 45px;
    left: 15px;
}
.iconsl button {
    width: 40px;
    height: 50px;
}
.iconsl .expander {
    margin-left: 40px;
    padding: 8px 45px 8px 15px;
	width: 320px;
}

	
	
}










.flyout{
	
}
.hiddenall{
	display:none;
}
.alert{
    /*display: none;*/
}







