@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);


@font-face {
	font-family: "Hiragino Sans GB";
	src: url(../fonts/Hiragino%20Sans%20GB%20W3.otf);
}

body {
	/*font-family: 'Montserrat', 'Raleway', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	}
	
.container-fluid{
	background: rgb(0,0,0);
    background: -moz-linear-gradient(45deg, rgba(216, 216, 216, .8) 0%, rgba(230, 235, 255, .8) 15%, rgba(193, 182, 206, .7) 52%, rgba(232, 214, 229, .8) 75%, rgba(214, 214, 214, .9) 89%, rgba(220, 220, 220, .7) 100%), url(images/concrete_seamless_2.png);
    background: -webkit-linear-gradient(45deg, rgba(216, 216, 216, .8) 0%, rgba(230, 235, 255, .8) 15%, rgba(193, 182, 206, .7) 52%, rgba(232, 214, 229, .8) 75%, rgba(214, 214, 214, .9) 89%, rgba(220, 220, 220, .7) 100%), url(images/concrete_seamless_2.png);
    background: linear-gradient(45deg, rgba(216, 216, 216, .8) 0%, rgba(230, 235, 255, .8) 15%, rgba(193, 182, 206, .7) 52%, rgba(232, 214, 229, .8) 75%, rgba(214, 214, 214, .9) 89%, rgba(220, 220, 220, .7) 100%), url(images/concrete_seamless_2.png);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#032e63', endColorstr='#64001a',GradientType=1 ), url("images/concrete_seamless_2.png");
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4), 0px 3px 15px rgba(0, 0, 0, 0.5);
	margin-bottom: 1.6em;
	}
.page-header {
    padding-bottom: 9px;
    /*margin: 40px 0 20px;*/
    border-bottom: 0px solid #eee;
}
.navbar-brand {
    float: left;
    padding: 0px 0px;
    margin: -55px 0px -55px -55px;
    height: 149px;
}
.navbar-brand img {
	width: auto;
    height: 180px;
}
.navbar-brand span{
	font-size: 0.6em;
	margin-left: 0.1em;
	}
.brand_c{
	font-family: 'Hiragino Sans GB', sans-serif !important;   
	font-size: 0.37em !important;
	letter-spacing: 0.5em;
	font-weight: normal;
	line-height: 3.5em;
	opacity: 0.6;
	}
.headtitle {
	float: left;
    font-size: 1rem;
    font-weight: 700;
	text-shadow: 0px 2px 10px rgba(0, 0, 0, .2);
}
.headtitle h2 {
    font-size: 1.5rem;
}
.headtitle h2 span {
	color: inherit;
}
.headtitle h2 span:before {
	font: inherit;
    content: ' > ';
    color: #5f34bd;
    font-family: inherit;
    font-weight: 700;
}
.headtitle span {
	color: #5f34bd;
	margin-right: 8px;
}
.headtitle div div {
	float: left;
	margin-right: 1rem;
	font-size: 0.9rem;
}
.headtitle i {
	font-size: 2rem;
    color: #5f34bd;
    margin: 0px 0;
    font-weight: 700;
    vertical-align: text-top;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 0px;
    -webkit-box-shadow: 0 5px 8px rgba(0,0,0,.3);
    box-shadow: 0 5px 8px rgba(0,0,0,.3);
}
.panel-body {
    padding: 2em 1em 1em 1em;
    font-size: 0.95em;
}
.que_box .panel {
    border: 1px solid #DDDDDD;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
	}
.que_box h3{
	margin-top: 1em;
	font-weight: 800;
	font-size: 1.3em;
	margin-bottom: 0.2em;
	}
.que_box .panel-body {
	padding-top: 0px;
	margin-top: 0.7em;
}   
.mark, mark {
    padding: .1em .35em;
    background-color: #ddcef7;
	color: #141414;
}
.nav {
    margin-left: -3em;
}
.nav-pills>li {
    float: left;
    margin-bottom: -1.5em;
}
.nav>li>a {
    margin-right: -0.5em;
}
.nav-pills>li.disabled>div>span {
	margin-right: 0.4em;
	}
.nav-pills>li.active>div>span {
	margin-right: 0.2em;
	}
.nav-pills>li.disabled>a, 
.nav-pills>li.disabled>a:focus, 
.nav-pills>li.disabled>a:hover {
    width: 6em;
    height: 3em;
    background: rgba(250, 235, 215, .15);
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    text-align: center;
    /*line-height: 2.8em;*/
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.4);
	transform: rotate(-8deg);
	}
.nav-pills>li.disabled>div{
	position: relative;
	color: rgba(255,255,255,0.25);
	font-size: 0.85em;
	top: -2.6em;
	left: 1.5em;
	}
.nav-pills>li:nth-child(1).disabled>div{
    left: 1.75em;
	}
.nav-pills>li:nth-child(1).active>div {
    left: 0.9em;
}
.nav-pills>li:nth-child(2).active>div{
	left: 0.7em;
	}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    color: #655237;
    width: 6em;
    height: 3em;
    background: #fff;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    text-align: center;
    /*line-height: 2.8em;*/
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4), 0px 3px 5px rgba(0, 0, 0, 1);
	transform: rotate(-8deg);
}
.nav-pills>li.active>div {
	font-weight: 700;
    position: relative;
	font-size: 1.1em;
    top: -2.2em;
    left: 0.9em;
	color: #646464;
	}
.cpnbox{
	margin-left: 1.5em;
	/*margin-top: 0.25em;*/
	}
.cpnbox .btn{
	color: #655237;
    width: 5em;
    height: 2.5em;
    background: #fff;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    text-align: center;
    line-height: 1.5em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .4), 0px 3px 5px rgba(0, 0, 0, .6);
    transform: rotate(-8deg);
    font-weight: 700;
    margin-top: 0.5em;
    padding: 6px 0px;
    overflow-x: hidden;
	}
.cpnbox .btn:hover, .cpnbox .btn:focus {
	background-color: #ddd !important;
	color: #25000D !important;
}
.cpnbox .btn.disable {
	background-color: #ddd !important;
	color: #25000D !important;
	cursor: not-allowed;
}


/* 時間 */
.time_box{
	float: right;
	text-shadow: 0px 2px 10px rgba(0, 0, 0, .2);
	margin-top: .5em;
	}
.icon_r_l{
	color: #21143a;
    font-size: 1.5em;
	line-height: 1.5em;
	}
.icon_r_l:hover {
	color: #fff;
	transition: all 250ms ease-out;
	}
.time_number_ml{
	margin-right: 0.2em;
    font-size: 1.3em;
    color: #21143a;
	font-weight: 600;
	}
.time_box .alert {
	color: #5f34bd;
	padding: 12px;
    margin-bottom: 0px;
    border: 0px solid #ddd;
    border-radius: 0px;
    font-size: 14px;
    float: left;
}

/*  section_intro 區  */
.section_intro .panel-body {
	padding: 30px;
	background-color: #fff;
	}
.panel-default>.panel-heading {
    color: #646464;
    background-color: #F3F6F9;
    border-color: #B6C0C6;
    font-weight: 800;
    font-size: 1.2em;
    line-height: 1.2em;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	text-align: center;
}

	
/* 問題區 */
.question_index{
    font-size: 1.3em;
	font-weight: 600;
	line-height: 42px;
	margin-top: -.6em;
	}
.qtext{
	font-size: 0.45em;
	}	
.qtext_mr1{
	margin-right: 1.2em;
	}
.qtext_mr2{
	margin-right: 0.8em;
    background: #21143a;
    color: #fff;
    padding: 3px 12px;
    border-radius: 50px;
	}
.qtext_r, .qtext_r div {
	float: right;
}
.qtext_r div:nth-child(2n) {
	margin-right: 1.2em;
}
.cpyright{
	font-weight: 300;
	color: #fff;
	font-size: 0.95em;
	margin-bottom: 2em;
	}
.cpyright img{
	width: 5em;
	float: left;
	margin-right: 0.9em;
	}
.cpyright h4{
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: -0.01em;
	margin-top: 0.15em;
	}
.qnum{
	float: left;
	}
.subtitles{
    /*padding-left: 1.8em;*/
    margin-bottom: 1.2rem;
	}
.subtitles i {
	vertical-align: middle;
	color: #5f34bd;
	margin-left: .5rem;
	cursor: pointer;
    border-radius: 50%;
	padding: 5px;
}
.subtitles i:hover, .subtitles i.focus, .subtitles i.active {
	color: #545454;
    background-color: #d2d2d2;
	transition: all 300ms ease-out;
}
.ansbox{
	/*padding-left: 1.8em;*/
	margin-top: 1em;
	}
.ansbox h4{
	font-size: 1.05em;
	margin-bottom: 0.4em;
	font-weight: 600;
	}
.alert {
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 0px;
    color: #6D6D6D;
   	font-size: 1.15em;
}
.btn{
    border-radius: 0px;
	}
.btn.active, .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
	}
.btn-primary {
    color: #fff !important;
    background-color: #424474;
    border-color: #424474;
	font-weight: 600;
}
.btn-primary:hover {
    color: #fff !important;
    background-color: #52547F;
    border-color: #52547F;
}
.btn-primary.active.focus, 
.btn-primary.active:focus, 
.btn-primary.active:hover, 
.btn-primary:active.focus, 
.btn-primary:active:focus, 
.btn-primary:active:hover, 
.open>.dropdown-toggle.btn-primary.focus, 
.open>.dropdown-toggle.btn-primary:focus, 
.open>.dropdown-toggle.btn-primary:hover{
	color: #fff !important;
    background-color: #424474;
    border-color: #424474;
	}
.btn-primary.focus, 
.btn-primary:focus,
.btn-primary.focus:hover, 
.btn-primary:focus:hover{
	color: #fff !important;
    background-color: #424474;
    border-color: #424474;
	}
.article_play{
	color: #21143a;
    margin-right: 0.3em;
    vertical-align: middle;
	}
.well {
    min-height: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: none;
    font-size: 0.95em !important;
    padding: 12px 15px;
}
.abcd_box{
	margin-bottom: 1em;
	}
.abcd_box .btn{
	margin-right: 0.5em;
	
	}
a div:hover {
    border-bottom-color: transparent;
    color: #25000D !important;
    text-decoration: none;
	background-color: #ddd !important;
}	
.draggable {
    font-size: 1.2em;
	color: #555;
	padding: 12px 15px;
	margin-bottom: -1px;
}
.draggable h5 {
	white-space: normal;
}
	
	 
.equipbox h4{
	text-align: center;
	font-size: 1.05em;
	margin-bottom: 0.4em;
	font-weight: 600;
	}
.equipbox{
	text-align: center;
	}
.equip .panel-body {
	padding: 30px;
	}
	
.equip_btn span:before,
.equip_btn i:before{
				-moz-animation: EQUIP 7s ease-in-out forwards;
				-webkit-animation: EQUIP 7s ease-in-out forwards;
				-ms-animation: EQUIP 7s ease-in-out forwards;
				animation: EQUIP 7s ease-in-out forwards;
			
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
				
				border-radius: 100%;
    border: solid 2px #ddcef7;
    display: block;
    font-size: 4.5em;
    height: 3em;
    line-height: 2.8em;
    text-align: center;
    top: 0;
    width: 3em;
    margin: 0.5em auto;
	color: #424474;
	opacity: 0;
	}
				/*display: inline-block;
				height: 10.35em;
				line-height: 10.885em;
				opacity: 0;
				position: relative;
				top: 0;
				width: 10.35em;
				vertical-align: top;*/
			
				
		@keyframes EQUIP {
		0% {
			-moz-transform: translate3d(0,0.75em,0);
			-webkit-transform: translate3d(0,0.75em,0);
			-ms-transform: translate3d(0,0.75em,0);
			transform: translate3d(0,0.75em,0);
			opacity: 0;
		}

		10% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
		20% {
			-moz-transform: scale(0.8,0.8);
			-webkit-transform: scale(0.8,0.8);
			-ms-transform: scale(0.8,0.8);
			transform: scale(0.8,0.8);
			opacity: 0.5;
		}
		30% {
			-moz-transform: scale(1.05,1.05);
			-webkit-transform: scale(1.05,1.05);
			-ms-transform: scale(1.05,1.05);
			transform: scale(1.05,1.05);
			opacity: 1;
			border: solid 8px #ddcef7;
		}
		40% {
			-moz-transform: scale(0.8,0.8);
			-webkit-transform: scale(0.8,0.8);
			-ms-transform: scale(0.8,0.8);
			transform: scale(0.8,0.8);
			opacity: 0.6;
			border: solid 2px #ddcef7;
		}
		50% {
			-moz-transform: scale(1.1,1.1);
			-webkit-transform: scale(1.1,1.1);
			-ms-transform: scale(1.1,1.1);
			transform: scale(1.1,1.1);
			opacity: 1;
			border: solid 8px #ddcef7;
		}
		65% {
			-moz-transform: scale(0.8,0.8);
			-webkit-transform: scale(0.8,0.8);
			-ms-transform: scale(0.8,0.8);
			transform: scale(0.8,0.8);
			opacity: 0.6;
			border: solid 2px #ddcef7;
		}
		75% {
			-moz-transform: scale(1.1,1.1);
			-webkit-transform: scale(1.1,1.1);
			-ms-transform: scale(1.1,1.1);
			transform: scale(1.1,1.1);
			opacity: 1;
			border: solid 8px #ddcef7;
		}
		88% {
			-moz-transform: scale(0.8,0.8);
			-webkit-transform: scale(0.8,0.8);
			-ms-transform: scale(0.8,0.8);
			transform: scale(0.8,0.8);
			opacity: 0.6;
			border: solid 2px #ddcef7;
		}
		100% {
			-moz-transform: scale(1,1);
			-webkit-transform: scale(1,1);
			-ms-transform: scale(1,1);
			transform: scale(1,1);
			opacity: 1;
			border: solid 10px #ddcef7;
		}

		}
		
		.equip_btn span:before {
			-moz-animation-delay: .5s;
			-webkit-animation-delay: .5s;
			-ms-animation-delay: .5s;
			animation-delay: .5s;
			}
	
.que_box_img{
	text-align: center;
	}
.que_box_img img{
    margin: 1em auto 1.5em;
	border: 0.2em solid #AAA;
	max-height: 30em;
	}
.progress {
    height: 1em;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #DDDDDD;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	margin-left: 1.5em;
    margin-right: 1.5em;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 1em;
    color: #fff;
    text-align: center;
    background-color: #21143a;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.ansbox .table>tbody>tr>td, 
.ansbox .table>tbody>tr>th, 
.ansbox .table>tfoot>tr>td, 
.ansbox .table>tfoot>tr>th, 
.ansbox .table>thead>tr>td, 
.ansbox .table>thead>tr>th,
.scorebox .table>tbody>tr>td, 
.scorebox .table>tbody>tr>th, 
.scorebox .table>tfoot>tr>td, 
.scorebox .table>tfoot>tr>th, 
.scorebox .table>thead>tr>td, 
.scorebox .table>thead>tr>th{
    padding: 12px 18px;
}
.scorebox .table>tbody>tr>td{
	width: 15%;
}
.scorebox .table>tbody>tr>td:nth-child(1){
	width: 25%;
}
.scorebox .table>tbody>tr>td:nth-child(6){
	font-weight: 900;
	font-size: 1.1em;
}
.ansbox table tbody tr:nth-child(1),
.scorebox table tbody tr:nth-child(1){
    background-color: #e8e2f1;
    font-weight: 600;
}


.ansbox .table .btn-primary,
.ansbox .table .btn-default:hover {
    color: #fff;
    background-color: transparent !important;
    border-color: transparent;
    font-weight: 600;
}
.ansbox .table input[type=radio] {
    margin: 0px 0 0;
}

.que_box_w h3{
	margin-top: 0.5em;
	font-weight: 600;
	font-size: 1.2em;
	float:left;
	margin-right: -15px !important;
    margin-left: -15px !important;
	}

.que_box_w input[type="text"], 
.que_box_w input[type="password"], 
.que_box_w input[type="email"], 
.que_box_w select {
    margin-left: 1.5em;
    width: 5em;
    margin-top: 0.5em;
    line-height: 1.8em;
    height: 1.8em;
    padding: 0 0.5em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #64001A;
	font-weight: 700;
}
.que_box_w input[type="text"]:focus, 
.que_box_w input[type="password"]:focus, 
.que_box_w input[type="email"]:focus, 
.que_box_w input[type="tel"]:focus, 
.que_box_w select:focus, 
.que_box_w textarea:focus {
    border-color: #555;
    box-shadow: 0 0 0 0px #555555;
}

.que_box_w textarea {
    padding: 0.75em 1em;
	line-height: 1.7em;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em; 
	width: 100% !important;
	margin-top: 1em;
	color: #64001A;
    font-weight: 600;
}

.scorebox h4{
	font-size: 1.05em;
    margin-bottom: 1em;
    font-weight: 600;
	text-align: center;
	}
.scorebox h4 span{
	font-size: 2em;
    font-weight: 700;
}
.scorebox .idbox{
	text-align: center;
	font-weight: 600;
	font-size: 1.15em;
	padding: 0.5em;
    background-color: #B1C6D3;
	color: #242546;
	}
.scorebox .idbox span{
	font-weight: 900;
	margin-right: 0.3em;
	margin-left: 2em;
	}
.scorebox table {
	margin-bottom: 0px;
	}
.scorebox ul{
	margin-bottom: 1em;
	margin-left: 0.5em;
	margin-top: 0.4em;
	}
.scorebox ul li{
	list-style-type: square;
	margin-bottom: 0.5em;
	}
.scorebox ul li:nth-child(1){
	list-style-type: none;
	text-indent: -1.45em;
	font-size: 1.2em;
	font-weight: 700;
	}
	
.suggestbox{
	margin: 0px 30px 30px;
	}
.suggestbox .nav-tabs{
	/*float:right;*/
	border-bottom: 0px solid #ddd !important;
	}
.su_t_title{
	font-size: 1.4em;
    font-weight: 700;
    display: inline-block;
    float: left;
	margin-right: 2em;
	}
.suggestbox .tab-content{
	border: 1px solid #DDD;
	padding: 1.5em;
	}
.suggestbox ul {
	margin-bottom: 0em;
    margin-left: 0em;
    margin-top: 0em;
	}
.suggestbox ul li {
    padding-left: 0em;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 0px solid #ddd;
    /* border-bottom-color: transparent; */
    border-bottom: 6px solid #B1C6D3;
    font-weight: 700;
}
.nav>li>a:focus, 
.nav>li>a:hover {
    text-decoration: none;
    background-color: #FFF;
}
.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
    border-bottom: 6px solid #E5F5FF;
    /* font-weight: 700; */
    color: #242546;
}
.nav-tabs>li>a {
    margin-right: 0px;
}
.suggestbox .tab-content ul {
	text-align:left;
	padding-left:1.5em;
	}	
.suggestbox .tab-content ul li {
    list-style-type: square;
}
.suggestbox .tab-content ul div {
    list-style-type: none;
	font-weight: 700;
	margin-left: -1em;
}
.suggestbox .tab-content ul li ul li{
    list-style-type: decimal;
	margin-left: -0.6em;
}



	
.rta_text{
	font-size: 1.05em;
	margin: 0.5em 0em;
	font-weight: 600;
	}
.rt_b{
	font-size: 1.4em;
	}
.rt_b2{
	font-size: 1.8em;
	color: #64001A;
    border: 1px solid #64001A;
	}

.timecount table td {
    padding: 0;
	vertical-align: middle;
}
.timecount table{
	margin: 1.5em 0 1.5em 0;
	font-size: 1.2em;
	}
.timecount table .seconds{
	color: #64001A;
	font-weight: 700;
	font-size: 1.3em;
	}
.preparation .flag{
    background-color: #64001A;
    width: 3.5em;
    margin-right: 1em !important;
    display: inline-block;
    height: 1.2em;
	}
.response .flag{
    background-color: #DDDDDD;
    width: 3.5em;
    margin-right: 1em !important;
    display: inline-block;
    height: 1.2em;
	}
.countbox{
	margin-left: 1.8em;
    width: 5em;
    margin-top: 0.5em;
    line-height: 1.2em;
    padding: 0.4em 0.7em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #64001A;
    font-weight: 700;
    border: 1px solid #64001A;
    float: left;
    font-size: 1.1em;
	}

.equip_btn2 span > div {
				-moz-animation: EQUIP_T .4s ease-in-out forwards;
				-webkit-animation: EQUIP_T .4s ease-in-out forwards;
				-ms-animation: EQUIP_T .4s ease-in-out forwards;
				animation: EQUIP_T .4s ease-in-out forwards;
				-moz-transform: translate3d(0,0,0);
				-webkit-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
				border-radius: 100%;
    border: solid 8px #FAEBD7;
    display: block;
    font-size: 4.2em;
    height: 3.6em;
    line-height: 3.35em;
    text-align: center;
    top: 0;
    width: 3.6em;
    margin: 0.7em auto;
	color: #64001a;
	opacity: 0;
	letter-spacing: -0.01em;
	font-weight: 600;
	}
	
@keyframes EQUIP_T {
		0% {
			-moz-transform: translate3d(0,0.75em,0);
			-webkit-transform: translate3d(0,0.75em,0);
			-ms-transform: translate3d(0,0.75em,0);
			transform: translate3d(0,0.75em,0);
			opacity: 0;
		}
		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}

		}

.equip_btn2 span > div {
			-moz-animation-delay: .5s;
			-webkit-animation-delay: .5s;
			-ms-animation-delay: .5s;
			animation-delay: .5s;
			}


/*@media screen and (min-width: 1281px) and (max-width: 1440px) {
.nav {
    margin-left: -3em;
}
.col-lg-10 {
    width: 100%;
}
.col-lg-offset-1 {
    margin-left: 0%;
}
.brand_c {
    line-height: 2.8em;
}

}*/

@media screen and (max-width: 1680px) {
.nav {
    margin-left: -5em;
}
.col-lg-10 {
    width: 100%;
}
.col-lg-offset-1 {
    margin-left: 0%;
}
.brand_c {
    line-height: 2.8em;
}
.cpnbox {
   margin-left: 1em;
   margin-top: -.6rem;
}
.time_box {
    margin-top: 2.2em;
    float: initial;
    right: 16px;
    position: absolute;
}
.time_box .alert {
	padding: 10px;
}

}


@media screen and (max-width: 1200px) {
	
.navbar-brand {
	margin: -50px 0px -55px -50px;
}
.nav {
    margin-left: -2.2em;
}
.page-header {
    padding-bottom: 0px;
	margin: 30px 0;
}

.question_index {
    font-size: 1.1em;
    margin-top: -1em;
}
.brand_c {
    line-height: 3.8em;
	}
.headtitle {
    float: left;
    font-weight: 700;
    margin-left: -.6rem;
}
.headtitle h2 {
	max-width: 500px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}


}


@media screen and (max-width: 1024px) {
.nav {
    margin-left: 0em;
}
.headtitle h2 {
	max-width: 400px;
}
}

@media screen and (max-width: 768px) {
.headtitle {
    float: left;
    font-weight: 700;
    margin-left: -.6rem;
}
.headtitle h2 {
	max-width: 300px;
}
}
@media screen and (max-width: 736px){
.headtitle h2 {
	max-width: 280px;
}
}
.btnbox {
	text-align: center !important;
	padding-bottom: 15px;
	}
.btnb_p {
	padding-top: 1rem;
	padding-bottom: 1rem;
	}
.btnbox .btn-default,
.modal-footer .btn-default {
    color: #FFF;
    background-color: #21143a;
    border-color: transparent;
    border-radius: 30px;
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding: 0.5em 1.5em;
}
.modal-footer .btn-cancel {
	color: #fff;
    background-color: #c3bec3;
    border-color: #c3bec3;
    border-radius: 30px;
    padding: 0.5em 1.5em;
	}
.btnbox .btn-default:hover,
.modal-footer .btn-default:hover,
.modal-footer .btn-cancel:hover {
    color: #21143a !important;
    background-color: #fff;
    border-color: #21143a !important;
	transition: all 250ms ease-out;
}



.modal.fade:not(.in).left .modal-dialog {
	-webkit-transform: translate3d(-25%, 0, 0);
	transform: translate3d(-25%, 0, 0);
}
.modal.fade:not(.in).right .modal-dialog {
	-webkit-transform: translate3d(20%, 0, 0);
	transform: translate3d(20%, 0, 0);
}
.modal.fade:not(.in).bottom .modal-dialog {
	-webkit-transform: translate3d(0, 125%, 0);
	transform: translate3d(0, 125%, 0);
}

.modal-body {
    position: relative;
    padding: 15px 40px;
}
.modal-header {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 40px 15px !important;
    background-color: #e9dff5;
    font-weight: 700 !important;
	font-size: 1.15em;
}
.modal-content {
    position: relative;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #337ab7;
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 8px 35px rgba(28,27,36,.85);
    box-shadow: 0 8px 35px rgba(28,27,36,.85);
	background-color: #f5f5f5;
    color: #646464;
}
.modal-footer {
    padding: 5px 40px 30px;
    text-align: left;
    border-top: 0px solid #e5e5e5;
}

.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color: rgba(19,19,25,1)}
.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}



.pwithi:after {
	font-family: 'Material Icons';
    content: "\E037";
    color: #21143a;
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
}
.clickHere {
	font-size: inherit !important;
    cursor: hand;
}
.question h4 {
	margin-top: 1rem;
} 

li.well {
	line-height: 50px;
	margin-top: .5em;
    margin-bottom: .5em;
}
li.well .btn {
	white-space: normal;
}
.nexts {
	font-size: larger;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
	color: #21143a;
}
.record {
	padding-bottom: .5rem;
	display: block;
	border-bottom: 1px solid #ddd;
	margin-bottom: 1.2rem;
}
.record ul {
	margin-left: -1rem;
}
.record ul li {
	float: left;
	list-style: none;
	padding-left: 0em;
    width: 25px;
    height: 25px;
    color: #21143a;
    background-color: #fff;
    border: 1px solid #21143a;
    margin: 0px 5px 8px 0px;
    text-align: center;
    font-weight: 700;
    line-height: 23px;
    cursor: pointer;
    font-size: 13px;
}
.record ul li:hover{
    background-color: #ddd;
}
.record ul li.wrong {
	border: 1px solid #ff0058;
	color: #c30035;
}
.record ul li.active, .record ul li:hover.active {
    color: #fff;
    background-color: #21143a;
    border: 1px solid #21143a;
}
.record ul li.active.wrong {
	color: #fff;
    background-color: #ff0058;
    border: 1px solid #ff0058;
}
.answer {
	border-top: 1px solid #ddd;
    padding-top: .5rem;
    margin-top: 1.2rem;
    display: block;
    color: #21143a;
    font-weight: 700;
	margin-bottom: 1.8rem;
}
.answer div {
	float: left;
	margin-right: 2.6rem;
}
.answer div span {
	margin-left: .8rem;
}
.answer div span.wrong {
	color: #ff0058;
}
    








/*	Vertical Tabs  開始 */
/*  bhoechie tab */
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 0px solid #ddd;
    outline: 1px solid #ddd;
    margin-top: 1px;
}
div.bhoechie-tab-menu div.list-group .list-group-item:first-child {
	margin-top: 0px;
}
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 0px;
  -moz-border-radius: 0px;
  border:1px solid #ddd;
  /*margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
  background-clip: padding-box;
  /*opacity: 0.97;
  filter: alpha(opacity=97);*/
	margin-bottom: 1em;
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
border-top-left-radius: 0px;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
	    border-bottom-left-radius: 0px;
}
div.bhoechie-tab-menu div.list-group>a.active {
    background-color: #ffffff;
    color: #21143a !important;
	border-right: 8px solid #21143a;
	border-left: 1px solid #21143a;
    border-top: 1px solid #21143a;
    border-bottom: 1px solid #21143a;
	font-weight: 700;
}
/*div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
    background-color: #ffffff;
    color: #21143a;
    border-right: 8px solid #21143a;
}*/
div.bhoechie-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -20px;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: 20px solid #21143a;
}
.bhoechie-tab {
	padding: 20px;
	border-left: 1px solid #ddd;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}
div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
div.bhoechie-tab-menu div.list-group>a table {
    margin: 0 0 0em 0;
	width: 100%;
}
div.bhoechie-tab-menu div.list-group>a table td {
	width: 33%;
    padding: 0em 0em;
}
div.bhoechie-tab-menu div.list-group>a table td.correct:after{
	font-family: 'Material Icons';
    content: "\E5CA";
    font-weight: 700;
}
div.bhoechie-tab-menu div.list-group>a table td.uncorrect:after{
	font-family: 'Material Icons';
    content: "\E5CD";
    color: #ff0058;
    font-weight: 700;
}

.mediabox {
	padding: 10px;
	margin-bottom: 20px;
	border: 5px solid #ddd;
}
.mediabox audio {
    width: 100%;
}
.qno {
	padding-bottom: .5rem;
    display: block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.2rem;
    font-weight: 700;
}
.ansbox .table>tbody>tr>td:first-child {
	text-align: left;
}
.ansbox .table>tbody>tr>td.correct:after {
	font-family: 'Material Icons';
    content: "\E5CA";
    font-weight: 700;
	color: #21143a;
	font-size: 150%;
	line-height: 1em;
}

.returnbox  {
	
}

/*.returnbox .qtext span {
    position: absolute;
    left: 15px;
}

.returnbox .qtext.noanswer:after {
	content: "";
	position: absolute;
    right: 40px;
}
.returnbox .qtext.uncheck:after {
	content: "-";
	position: absolute;
    right: 40px;
}
.returnbox .qtext.checked:after {
	content: attr(data-text);
	position: absolute;
    right: 40px;
}*/





.returnbox .qtext {
    margin-bottom: .6rem;
    font-size: 100%;
    position: relative;
    /* padding-left: 2.8em; */
    border: 1px dashed #ddd;
    padding-right: 8em;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 250ms ease-out;
}
.returnbox .qtext:hover {
	background-color: #ececec;
}
.returnbox .qtext.uncheck, 
.returnbox .qtext.noanswer {
	border: 1px dashed #000;
}
.returnbox .qtext span:first-of-type {
    position: absolute;
    left: 15px;
}
.returnbox .qtext div:first-of-type {
    float: left;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 2.8em;
}
.returnbox .qtext div:first-of-type span {
	position: initial;
}
.returnbox .qtext div:last-child {
	position: absolute;
    right: 15px;
}


.resultlist table thead tr th{
	color: #555;
	background-color: #e8e2f1;
    font-weight: 600;
}
.table-condensed>tbody>tr>td, 
.table-condensed>tbody>tr>th, 
.table-condensed>tfoot>tr>td, 
.table-condensed>tfoot>tr>th, 
.table-condensed>thead>tr>td, 
.table-condensed>thead>tr>th {
    padding: 8px;
}
    