fht-cellfht-cellfht-cell.container {
	width: 1024px;
	padding: 2em;
}

.bold-blue {
	font-weight: bold;
	color: #0277BD;
}

.bootstrap-table table>thead {
	background-color: #e8e2f1;
}
.bootstrap-table table>thead>tr>th {
	color: #555;
	font-weight: bold;
}
.fixed-table-toolbar, .fht-cell {
	display: none;
}
.fixed-table-container {
    position: relative;
    clear: both;
    border: 1px solid #ddd;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
	margin-bottom: 20px;
}
.fixed-table-body {
    overflow-x: auto;
    overflow-y: auto;
    height: initial;
}
.fixed-table-container thead th:first-child {
    border-left: none;
    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
}
.fixed-table-container thead tr th .both, 
.fixed-table-container thead tr th .desc, 
.fixed-table-container thead tr th .asc {
	background-image: none;
}
.fixed-table-container thead tr th {
	position: relative;
}
.fixed-table-container thead tr th .both:after {
	font-family: 'Material Icons';
    content: "\E313";
    color: #5f34bd;
    position: absolute;
    right: 12px;
}
.fixed-table-container thead tr th .desc:after {
	font-family: 'Material Icons';
    content: "\E316";
    color: #5f34bd;
    position: absolute;
    right: 12px;
}
.fixed-table-container thead tr th .asc:after {
	font-family: 'Material Icons';
    content: "\E313";
    color: #5f34bd;
    position: absolute;
    right: 12px;
}
.bootstrap-table .table:not(.table-condensed) > tbody > tr > td.correct:after {
	font-family: 'Material Icons';
    content: "\E5CA"; 
	font-weight: 700;
}
.bootstrap-table .table:not(.table-condensed) > tbody > tr > td.wrong:after {
	font-family: 'Material Icons';
    content: "\E5CD";
	color: #ff0058;
	font-weight: 700;
}
.t_alert {
	color: #ff0058;
}
.discri_ta {
	margin-bottom: 20px;
    display: flow-root;
    font-weight: 700;
    line-height: 2em;
}
.discri_ta span {
	margin-right: 0.8em;
    background: #21143a;
    color: #fff;
    padding: 3px 12px;
    border-radius: 50px;
	font-size: 0.45em;
}
.discri_ta .number {
	color: #21143a;
    float: left;
    min-width: 200px;
}
.discri_ta .number i {
	font-weight: 700;
    vertical-align: text-bottom;
}
.discri_ta small {
	font-size: .8rem;
}