



a {
    color: #585858;
    text-decoration: none;
	cursor: pointer;
/*	font-weight: 700;*/
}
a:focus, a:hover { 
	color: #282828;
    text-decoration: none;
	transition: all 300ms ease-out;
}
body {
    color: #424242;
    margin: 0px;
    height: 100.1%;
    font-family: "微軟正黑體", "Open Sans", arial, sans-serif;
    line-height: 1.5 /* was 1.4; */;
	font-size: 15px;
}
.hide{
  display: none;
}
.unvisible{
  visibility: hidden;
}
.login {
	padding-top: 120px;
    padding-bottom: 15px;
	background-color: #eee;
}
.login.pt {
	padding-top: 0px;
}
/*.bg {
	background-image: url(../img/logo_elite_tw_w.svg);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 220% 135%;
    opacity: 0.8;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}*/
.bg_light {
	opacity: 0.5;
}
.bg2 {
	background-image: url(../img/bg-toeic.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 55% 0%;
    opacity: .2;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.navbar-nav>li>a.logout {
    padding-top: 40px;
    padding-bottom: 15px;
    padding-right: 0px;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px;
    
}
.navbar-brand {
    float: left;
    height: 105px;
    padding: 20px 0px;
    font-size: 18px;
    line-height: 20px; 
}
.head {
	border-bottom: 8px solid #000064;
}
.head .navbar-brand .title{
	font-size: 3.4rem;
    font-weight: 700;
    letter-spacing: -1px;
    font-style: italic;
    display: inline-block;
    margin-top: 32px;
    float: left;
}
.head .navbar-brand .title span {
	font-size: 3.8rem;
    margin-right: 6px;
    margin-left: 8px;
}
.head .navbar-brand>img {
    display: inline-block;
    height: 70px;
    margin-right: 6px;
	float: left;
}
.head_q {
	border-bottom: 8px solid #000064;
	background-color: #eeeeee;	
}
.head_q .navbar-brand {
	height: 80px;
}
.head_q .navbar-brand .title{
	font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: -1px;
    font-style: italic;
    display: inline-block;
    margin-top: 16px;
    float: left;
}
.head_q .navbar-brand .title span {
	font-size: 2.5rem;
    margin-right: 6px;
    margin-left: 8px;
}
.head_q .navbar-brand>img {
    display: inline-block;
    height: 50px;
    margin-right: 6px;
	float: left;
}
.login_inputarea{
	margin-bottom: 4rem;
    margin-top: 4rem;
}
.area_q {
    margin-bottom: 2.5rem;
    margin-top: 0rem;
}
.area_q img {
    max-height: 200px;
    max-width: 100%;
	width: auto;
	border: 5px solid #fff;
}
.qtitle {
	margin-bottom: 8px;
    font-weight: 700;
	font-size: 2rem;
}
.qpara {
	margin-bottom: 26px;
}
.articletext {
	max-height: 530px;
    overflow-y: scroll;
}
.btn {
    display: inline-block;
padding: 8px 26px;
	margin-bottom: 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid rgba(35, 35, 35, 0.2);
    border-radius: 0px;
}
.btn-primary {
    color: #fff;
    background-color: #ff5835;
    border-color: #ff5835;
}

.btn-primary:hover {
    color: #fff;
    background-color: #e52100;
    border-color: #e62200;
	transition: all 300ms ease-out;
}
.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0);
}
.btn-primary.active, 
.btn-primary:active, 
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #492b80;
    border-color: #492b80;
}
.btn-secondary {
    color: #6b757c;
    background-color: #ffffff;
    border-color: #bdbdbd;
}
.btn-secondary:hover {
	color: #ff5835;
    background-color: #ffffff;
    border-color: #ff3224;
}
.btn.unfinish:after {
	font-family: 'Material Icons';
    content: '\E15B'; 
    font-size: 20px;
    line-height: 18px;
    vertical-align: sub;
    margin-left: 5px;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
}
.btn.finish:after {
	font-family: 'Material Icons';
    content: '\E5CA';
    font-size: 20px;
    line-height: 18px;
    vertical-align: sub;
    margin-left: 5px;
    border: 1px solid #ff3224;
    border-radius: 50%;
    color: #ff3224;
}
.btn.finish:hover, .btn.finish:focus, .btn.unfinish:hover, .btn.unfinish:focus { 
	color: #ff5835;
    background-color: #ffffff;
    border-color: #ff3224;
}
.btn.finish:hover:after, .btn.finish:focus:after, .btn.unfinish:hover:after, .btn.unfinish:focus:after {
	border: 1px solid #ff3224;
}

.btn-link {
    font-weight: 700;
    color: #000064;
    border-radius: 0;
}
.btn-link:focus, .btn-link:hover {
    color: #744eba;
    text-decoration: none;
    background-color: transparent;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
	color: #ff5835;
    background-color: #ffffff;
    border-color: #ff3224;
}
.btn-primary.focus, .btn-primary:focus {
	color: #ff5835;
    background-color: #ffffff;
    border-color: #ff3224;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	color: #ff5835;
    background-color: #ffffff;
    border-color: #ff3224;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #ff5835;
    background-color: #ffffff;
    border-color: #ff3224;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus, .btn-secondary:focus {
    box-shadow: 0 0 0 0rem rgba(255, 255, 255, 0);
}
.reserved:after {
    content: '確定約課';
}
.reserved:hover:after, .reserved:focus:after {
    content: '取 消';
}
.onclass {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    background: #dfdfdf;
    padding: 8px 26px;
    vertical-align: top;
}

.input-group-addon {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #e6def5;
    border: 1px solid #9E9E9E;
    border-radius: 0px;
}
.form-control {
    display: block;
    width: 100%;
    height: 42px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000064;
    background-color: #fff;
    background-image: none;
    border: 1px solid #9e9e9e;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	font-weight: 700;
}
.form-control:focus {
    border-color: #000064;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102,175,233,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102,175,233,0);
}
footer {
	font-size: 13px;
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
} 
.text-muted {
    color: #a3a3a3;
}
.help-block {
    display: block;
    margin-top: 8px;
    margin-bottom: 10px;
    color: #666666;
    line-height: 1.5;
    font-size: 14px;
}
.red {
    font-weight: 700;
    color: #ff3923;
}
.blue {
	font-weight: 700;
	color: #009795;
}
.qarea .optionsbox {
	max-height: 530px;
    overflow-y: scroll;
}
.options {
    display: table;
    width: 100%;
    /*padding-left: 30px;*/
}
.options>span {
    display: table-cell;
    padding-left: 0px;
    font-weight: 700;
	width: 25px;
}
.options .btn {
color: #5e5e5e;
    background-color: #fff;
    display: inline-block;
    padding: 12px 20px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    text-align: left;
    white-space: initial;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #cacaca;
      text-transform: initial;
}
.options .btn:hover {
    background: #fff0c4;
    border-color: #949494;
    color: inherit;
}

.options .btn.active, 
.options .btn:active, 
.options .open>.dropdown-toggle.btn,
.options .active:focus {
    color: #fff;
    background-color: rgba(50, 50, 50, 0.75);
    border-color: #323232;
}
.options>.btn-group>.btn, 
.options.vertical>.btn-group-vertical>.btn {
    border-radius: 0px!important;
	margin-bottom: 12px;
}
.options>.btn-group>.btn {
    margin-right: 10px;
}
.options.vertical>.btn-group-vertical>.btn.uncorrect:before {
    content: "\E14C";
    font-family: 'Material Icons';
    color: #ff3600;
    font-size: 4rem;
    vertical-align: inherit;
    float: left;
    position: absolute;
    top: 8px;
    bottom: 0;
    left: -30px;
    line-height: 20px;
    height: 20px;
    font-weight: 700;
}
.options.vertical>.btn-group-vertical>.btn.correct:before {
    content: "\E5CA";
    font-family: 'Material Icons';
    color: #ff3600;
    font-size: 4rem;
    vertical-align: inherit;
    float: left;
    position: absolute;
    top: 8px;
    bottom: 0;
    left: -30px;
    line-height: 20px;
    height: 20px;
    font-weight: 700;
}
.options_aleft .btn {
	text-align: left;
}



.options_rbox {
    margin-top: -15px;
}
.options_rbox2 {
    margin-top: 0px;
}
.options_rbox2 .item {
	margin-top: 25px;
}
.options_rbox2 .item:first-child {
	margin-top: 0px;
}
.options_rbox2 .item .btn {
	/*max-width: 435px;*/
}
.btn-default {
    color: #ff5835;
	background-color: #ffffff;
    border-color: #ff5835;
}
.btn-default:hover {
    color: #ffffff;
    background-color: #ff5835;
    border-color: #ff5835;
    transition: all 300ms ease-out;
}
.btn_logout {
	color: #878787;
    background-color: #fff;
    padding: 8px 22px;
	font-size: 12px;
}
.btn_logout:hover{
    color: #585858;
    background-color: #ffffff;
    border-color: #ffffff;
    transition: all 300ms ease-out;
}
.btn_mr {
	margin-right: 10px;
}
.btn-default.active.focus, 
.btn-default.active:focus, 
.btn-default.active:hover, 
.btn-default:active.focus, 
.btn-default:active:focus, 
.btn-default:active:hover, 
.open>.dropdown-toggle.btn-default.focus, 
.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover,
.btn-secondary.active.focus, 
.btn-secondary.active:focus, 
.btn-secondary.active:hover, 
.btn-secondary:active.focus, 
.btn-secondary:active:focus, 
.btn-secondary:active:hover {
    color: #ff5835;
    background-color: #ffffff;
    border-color: #ff5835;
}
.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0px;
    outline-offset: 0px;
}
.btn-default.focus, .btn-default:focus {
    color: #ff5835;
    background-color: #ffffff;
    border-color: #ff5835;
}

.alert {
    color: #ffffff;
    border-radius: 0rem;
    border-color: #9E9E9E;
}
/*.alert.danger{
	border-color: #ab0200;
    background: rgba(147, 1, 0, 0.4); 
    color: #ea1c1a;
}*/
.btn_rounded {
    color: #ff3223;
    background-color: rgba(255, 255, 255, 0);
    border-color: #ff3223;
    border-radius: 50px;
    padding: 4px 22px;
    width: -webkit-fill-available;
	line-height: 26px;
	vertical-align: middle;
}
.btn_rounded i {
	vertical-align: top;
}
.btn_rounded:focus, .btn_rounded:hover{
	color: #fff;
    background-color: #ff3223;
}

.btn.disabled, .btn:disabled, .btn.disabled:hover, .btn:disabled:hover {
    opacity: 1;
    cursor: not-allowed;color: #fff;
     background-color: #bdbdbd; 
     border-color: #bdbdbd; 
}
.btn.disabled:hover {
	
}
.btn i {
    vertical-align: text-top;
    line-height: 18px;
}

.btn_small.btn_rounded {
    padding: 4px 14px;
	width: fit-content;
	border: 1px solid #ff3224;
	line-height: 20px;
	font-size: 13px;
}
@media (max-width: 1199px) { 
.btn{
	margin-bottom: 8px;	
	padding: 8px 16px;
}
}
    

.dis_addq {
    /*position: relative;
    z-index: 1;
	padding: 15px 24px;*/
}
.dis_addq .textsmall { 
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: .8rem;
    background-color: #f4f4f3;
    padding: 12px 20px;
}
.formbox {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.dis_addq .btn {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 10px 15px;
    display: inline-block;
    margin: 0px 15px 15px 0px;
	text-transform: initial;
    letter-spacing: 0px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 0px;
    border: 1px solid #9e9e9e;
}
.dis_addq .btn-default.active.focus, 
.dis_addq .btn-default.active:focus, 
.dis_addq .btn-default.active:hover, 
.dis_addq .btn-default:active.focus, 
.dis_addq .btn-default:active:focus, 
.dis_addq .btn-default:active:hover, 
.dis_addq .open>.dropdown-toggle.btn-default.focus, 
.dis_addq .open>.dropdown-toggle.btn-default:focus, 
.dis_addq .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border: 1px solid #2f1957;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
    box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	outline: thin dotted #333333 !important;
    outline: 0px auto -webkit-focus-ring-color !important;
	outline-offset: 0px;
}
.dis_addq.infoselect .form-group {
	min-width: 130px;
	float: left;
	margin-right: 8px;
}
/*.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 180px;
    padding: 5px 0;
    margin: 5px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0);
}*/

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.open>.dropdown-menu {
    display: block;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: absolute;
    display: inline-block;
    right: 15px;
    margin-top: 0px;
}
.glyphicon-ok:before {
	font-family: 'FontAwesome';
    content: "\f00c";
	font-weight: 700;
	/*font-size: 20px;
    line-height: 10px;*/
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 150px;
	margin-left: 8px;
}
.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e600;
}
.form-group .btn {
	padding: 3px 28px 3px 16px;
	color: #7b7b7b;
    background-color: #ffffff;
    font-size: 14px;
	border: 1px solid #d4d4d4;
	text-align: left;
	margin-left: 8px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    margin-top: 3px;
    margin-bottom: -2px;
}
.form-group .btn .bs-caret {
	margin-right: -8px;
	margin-top: -3px;
}
.form-group .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: absolute;
    top: 15px;
	    right: 12px;
}  
@media (max-width: 991px) { 
.custom-control-label {
    margin-bottom: 0;
    display: block;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 8px;
}
.form-group {
    margin-bottom: 0rem;
    width: 100% !important;
}
}



.scr.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
	font-weight: 700;
}
.scr.table-bordered>tbody>tr>td, 
.scr.table-bordered>tbody>tr>th, 
.scr.table-bordered>tfoot>tr>td, 
.scr.table-bordered>tfoot>tr>th, 
.scr.table-bordered>thead>tr>td, 
.scr.table-bordered>thead>tr>th {
    border: 1px solid #cacaca;
}
.scr .color {
	background-color: #ede3ff;
}
.scr.table-bordered>tbody>tr:first-child>td,
.resultbox .scr.table-bordered>tbody>tr.color>td {
	border-bottom: 4px solid #cacaca;
}
.resultbox .scr.table-bordered>tbody>tr:first-child,
.resultbox .scr.table-bordered>tbody>tr.color {
	background-color: #f2eefb;
}
.resultbox .scr.table {
	margin-bottom: 3px;
}
.resultbox .scr.table-bordered>tbody>tr>td {
	position: relative;
}
.resultbox .scr .wrong:after {
	font-family: 'Material Icons';
    content: "\E14C";
    background-color: #c22743;
    color: #fff;
    /* position: absolute; */
    font-size: 14px;
    border-radius: 50%;
    padding: 3px 3px;
    right: 3px;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    /* text-align: center; */
    vertical-align: bottom;
    margin-left: 5px;
}
.resultbox .scr .correct{
	color: #c22743;
}
.resultbox .scr .correct i {
    color: #000064;
    /* position: absolute; */
    /* font-size: 24px; */
    /* right: 5px; */
    /* margin: auto; */
    /* top: 0; */
    /* bottom: 0; */
    /* width: 20px; */
    /* height: 28px; */
    vertical-align: bottom;
	margin-left: 5px;
	cursor: pointer;
}

/*  Modal 修改  */
.modal-content {
    position: relative;
    background-color: #eee;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-header {
	padding: 10px 20px;
    /* border-bottom: 1px solid #cccccc; */
    font-size: 2rem;
    background: #fff7dd;
}
.modal-title {
/*    color: #04253b;*/
    font-weight: 700;
}
.modal-body {
    position: relative;
    padding: 15px 20px;
    font-size: 16px;
}
.modal-body p {
	margin-bottom: 15px;
}
.mediab {
    border: 1px solid #ccc;
    padding: 7px 7px 0px;
}
.mediab audio {
    width: 100%;
}
.modal-content img {
    max-height: 200px;
    max-width: 100%;
    width: auto;
    border: 5px solid #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}
.modal-footer {
    padding: 15px 20px;
    text-align: right;
    border-top: 1px solid #cccccc;
}
.modal-header .close {
    margin-top: 6px;
}
.modal-content .anwser {
	margin-bottom: 15px;
	line-height: 1.8;
}
.modal-content .anwser .correct {
	color: #c22743;
	font-weight: 700;
}
.modal-content .anwser .yours {
	color: #000064;
	font-weight: 700;
}
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.socialbtn {
	margin-bottom: 2rem;
}
.socialbtn .btn {
	min-width: 250px;
    text-align: left;
    position: relative;
    padding: 8px 52px;
}
.fb {
	background-color: #3b5998;
	border-color: #3b5998;
	margin-right: 1em;
}
.fb:hover {
	background-color: #27417d;
	border-color: #27417d;
	color: #fff;
	transform: scale(1.05);
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}
.chat {
	background-color: #00b900;
	border-color: #00b900;
}
.chat:hover {
	background-color: #039f03;
	border-color: #039f03;
	color: #fff;
	transform: scale(1.05);
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}
.socialbtn .btn i {
	float: left;
	font-size: 36px;
	line-height: 40px;
	margin-right: 10px;
}

.qno {
	float: left;
	width: 30px;
	height: 30px;
	color: #04253b;
    background-color: #fff;
    border: 1px solid #04253b;
	margin: 0px 7px 9px 0px;
	text-align: center;
	font-weight: 700;
	line-height: 30px;
	cursor: pointer;
	font-size: 13px;
}
.qno:hover, .qno:focus, .qno:active, .qno.active {
	color: #fff;
    background-color: #04253b;
    border: 1px solid #04253b;
}



@media (min-width: 768px){
.navbar-header {
    float: none;
}
}
@media screen and (max-width: 768px) {
.options_rbox {
	padding-left: inherit;
    margin-top: -15px;
}    
}
@media only screen and (max-width: 736px) {
.head .navbar-brand .title {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: -1px;
    font-style: italic;
    display: inline-block;
    margin-top: 26px;
    float: left;
}
.head .navbar-brand .title span {
    font-size: 3.2rem;
    margin-right: 6px;
    margin-left: 8px;
}
}

@media screen and (max-width: 480px) { 
.dis_addq.infoselect .form-group {
    min-width: 110px;
    float: left;
    margin-right: 8px;
}
}

/*  聽力題型 橫式選項  */
.btn-group-justified {
    display: flex;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    margin-bottom: 12px;
}
.btn-group-justified > .btn, .btn-group-justified > .btn-group {
    float: none;
    display: table-cell;
    border-radius: 0px;
    margin-right: 2%;
    flex: 1 0 100px;
}
.btn-group-justified > .btn:last-child {
	margin-right: 0%;
}
/*.btn-group-justified.sound:before {
	content: "\E050"; 
	font-family: 'Material Icons';
    color: #044c3b;
	position: absolute;
    left: 12px;
    top: 0px;
	font-size: 2.4rem;
}*/
.qarea .listening .options>span {
    display: table-cell;
    padding-left: 0px;
    font-weight: 700;
    width: 25px;
    position: absolute;
    left: 45px;
    top: 8px;
}
.qarea .listening .options {
    display: block;
    width: 100%;
	padding-left: 55px;
}
.qarea .listening .qtext {
    margin-bottom: 15px;
    position: relative;
    padding-left: 32px;
	float: left;
}
.qarea .listening .qtext.sound:before {
	content: "\E050"; 
	font-family: 'Material Icons';
    color: #044c3b;
	position: absolute;
    left: 0px;
    top: 0px;
	font-size: 2.4rem;
	line-height: 40px;
}
.qarea .listening .qtext span:first-child {
    position: absolute;
    left: 32px;
    line-height: 40px;
}








