/* BS modal 修改 */

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background: -webkit-linear-gradient(165deg, #fffef5 10%, #fffbd6 100%);
    background: -moz-linear-gradient(165deg, #fffef5 10%, #fffbd6 100%);
    background: -ms-linear-gradient(165deg, #fffef5 10%, #fffbd6 100%);
    background: -o-linear-gradient(165deg, #fffef5 10%, #fffbd6 100%);
    background: linear-gradient(165deg, #fffef5 10%, #fffbd6 100%);
}
.modal-content {
    background-color: #fff;
    min-height: 400px;
}
.modal-body {
    position: relative;
    padding: 15px 20px;
    font-size: 14px;
}
.modal-title {
    font-weight: 700;
    font-size: 1.2rem;
}
.modal-header {
    padding: 15px 25px;
    border-bottom: 0px solid #cccccc; 
    font-size: 2rem;
    background: -webkit-linear-gradient(270deg, #ffae35 10%, #7c7c7c 100%);
    background: -moz-linear-gradient(270deg, #ffae35 10%, #7c7c7c 100%);
    background: -ms-linear-gradient(270deg, #ffae35 10%, #7c7c7c 100%);
    background: -o-linear-gradient(270deg, #ffae35 10%, #7c7c7c 100%);
    background: linear-gradient(270deg, #ffae35 10%, #7c7c7c 100%);
    color: #fff;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}
.playcard .modal-header, .exam_content .modal-header {
    background: none;
}
.modal-header .close {
    padding: 0rem;
    margin: 0rem 0rem -1rem auto;
      z-index: 10;
}
.modal-footer {
    padding: 0px 20px 15px;
    text-align: right;
    border-top: 0px solid #cccccc;
}
.modal-footer .btn {
      background-color: transparent;
/*      font-size: 14px;*/
}
.modal-footer .btn:hover {
  color: #212121;
    /* background-color: #e1e1e1; */
}
.modal-footer .btn-primary {
  color: #FF5722;
    border: 0px solid #FF5722;
  background-color: transparent;
}
.modal-footer .btn-primary:hover{
  color: #fff;
  background-color: #FF5722;
}
.light_wordsize{
	font-size: 5em; 
	color: #323232;
	text-align:center;
      margin-top: -2.5rem;
	}
.light_wordsize2{
	font-size: 2.4em; 
	color: #323232;
	text-align:center;
	}
	
@media (max-width: 736px){
.light_wordsize {
    font-size: 4.2em;
    color: #323232;
    text-align: center;
    letter-spacing: -0.03em;
}
}

.wordcard-list{
	margin-top: 25px;
    margin-bottom: 0px;
	}
.wordcard-list > li {
    padding: 10px;
    border-bottom: 1px dotted #ccc;
    background-color: #fff;
	color: #323232;
}
.window-content > ul > li {
    padding-top: 5px;
}
.p_ml{
	margin-left:8px;
	}
.p_mr{
	margin-left:20px;
	}
.w_l{
    border-top: 1px dotted #ccc;
}
.l_btn_play2{
    font-size: 1.8em;
    margin-top: -9px;
    color: #f00;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transform-style: flat;
    height: 56px;
    width: 56px;
    line-height: 50px;
    padding-left: 12px;
    background-color: #ffffff;
    border: 2px solid #ff5619;
    cursor: pointer;
    transition: all 250ms ease-out;
	}
.l_btn_play:hover, .l_btn_play:focus, .l_btn_play:active,
.l_btn_play2:hover, .l_btn_play2:focus, .l_btn_play2:active{
	text-decoration: none;
  color: #fff;
  background: #ff5619;
  border: 2px solid #ff5619;
	}
.l_btn{
    font-size: 1.2rem;
    text-decoration: none;
    color: #FF5722;
    border-radius: 50px;
    background: #ffffff;
    height: 46px;
    width: 46px;
    line-height: 30px;
    border: 2px solid #FF9800;
    cursor: pointer;
  transition: all 250ms ease-out;
	}
.l_btn:hover, .l_btn:focus, .l_btn:active{
background: #FF9800;
    color: #fff;
}

.l_btn_mr{
	margin-right: 3px;
	}
.exam_content .l_btn, .soundtest .l_btn {
  width: max-content;
  padding: 3px 20px;
  height: initial;
  font-size: inherit;
}
.exam_head_text{
  color: #323232;
    font-size: 1.2rem;
    font-weight: 700;
	}
.e_h_text{
    font-size: .8rem;
    color: #636363;
	}
.exam_head_text .badge{
  display: inline-block;
    padding: .4em .8em;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: text-top;
    border-radius: 1rem;
    background: #717171;
    color: #fff;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
    border-color: #fff;
}
.panel-default>.panel-heading {
    background: -webkit-linear-gradient(270deg, #7F7974 10%, #5E4D43 100%);
    background: -moz-linear-gradient(270deg, #7F7974 10%, #5E4D43 100%);
    background: -ms-linear-gradient(270deg, #7F7974 10%, #5E4D43 100%);
    background: -o-linear-gradient(270deg, #7F7974 10%, #5E4D43 100%);
    background: linear-gradient(270deg, #7F7974 10%, #5E4D43 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #f5f5f5;
    border-color: transparent;
}
.panel-default {
    margin-top: 10px;
    margin-bottom: 0px;
}
.panel-heading {
    padding: 12px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.text-left {
	font-size: 1.05em;
    text-align: left !important;
	margin-bottom: 4px;
	font-weight: 700;
}
.t_l_red {
	color:#C22743;
}

@media (min-width: 768px){
.dl-horizontal dt {
    float: left;
    width: 120px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
	}
.dl-horizontal dd {
    margin-left: 0px;
	}
}

dl {
    margin-top: 0px;
    margin-bottom: 0px;
	color: #323232;
}




/* BS 一般訊息 lightbox 修改 */
.modal-header2 {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
    background: -webkit-linear-gradient(270deg, #7F7974 10%, #5E4D43 100%);
    background: -moz-linear-gradient(270deg, #7F7974 10%, #5E4D43 100%);
    background: -ms-linear-gradient(270deg, #7F7974 10%, #5E4D43 100%);
    background: -o-linear-gradient(270deg, #7F7974 10%, #5E4D43 100%);
    background: linear-gradient(270deg, #7F7974 10%, #5E4D43 100%);
	color: #fff;
}

.modal-content2 {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 0px solid rgba(0,0,0,1);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
	
	background: -webkit-linear-gradient(165deg, #F4F0EA 10%, #E5DFD6 100%);
    background: -moz-linear-gradient(165deg, #F4F0EA 10%, #E5DFD6 100%);
    background: -ms-linear-gradient(165deg, #F4F0EA 10%, #E5DFD6 100%);
    background: -o-linear-gradient(165deg, #F4F0EA 10%, #E5DFD6 100%);
    background: linear-gradient(165deg, #F4F0EA 10%, #E5DFD6 100%);
}
.modal-footer2 {
    padding: 10px 15px 15px 15px;
    text-align: right;
    border-top: 1px solid #A39C93;
}
.lb_close {
    float: right;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 0.7em;
    color: #fff;
    text-shadow: 0 0px 0 #fff;
    opacity: 1;
	border: 0px solid #ccc;
	background-color: transparent;
}
.lb_close:focus, .lb_close:hover {
    color: #E5DFD6;
    text-decoration: none;
    cursor: pointer;
    /*filter: alpha(opacity=50);
    opacity: .3;*/
}

.lb_text{
	font-size: 1.15em;
    color: #323232;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    line-height: 1.8em;
	}
.p_ml{
  font-size: 25px;
	}
.p_mr{
	margin-left:20px;
	}
.w_l{
    border-top: 1px dotted #ccc;
}
.l_btn_play{
	font-size: 1.8em; 
	border: 2px solid #fff;
	padding: 6px 9px 3px 11px;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
	margin-top: -9px; 
	}
.l_btn_mr{
	margin-right: 3px;
	}
.l_btn_dark{
	background-image: linear-gradient(to bottom,#0A4A66 0,#073D4C 100%);
	}

	

/* 錯誤回報 對話框 */
.lb_text2 {
font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: -0.05em;
}
.lb_text2_mt{
	margin-top: 15px;
	}
    
.feedbackbox{
	margin-right: 0px;
    margin-left: 0px;
	border: 1px solid #ccc;
    background-color: #fff;
    color: #323232;
	padding-top: 10px;
	}
.feedbackbox > div:nth-child(1), .feedbackbox > div:nth-child(2){
	padding-right: 0px !important;
	}
.form-control {
    border-radius: 0px;
	color: #323232 !important;
    font-weight: 700;
}
.form-control:focus {
    border-color: #FF9800;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 12px rgba(255, 152, 0, 0.55);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 12px rgba(255, 152, 0, 0.55);
}


/*** custom checkboxes ***/

.checkbox2 input[type=checkbox] { display:none; } /* to hide the checkbox itself */
.checkbox2 input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

.checkbox2 input[type=checkbox] + label:before { content: "\f1db"; color:#323232} /*unchecked icon*/
.checkbox2 input[type=checkbox] + label:before {
	letter-spacing: 5px;
	font-size: 1.6em;
	vertical-align: middle;
	margin-left: 0px;
} /*space between checkbox and label */

.checkbox2 input[type=checkbox]:checked + label:before { content: "\f058"; color:#323232} /* checked icon */
.checkbox2 input[type=checkbox]:checked + label:before { /*letter-spacing: 5px; */ vertical-align: middle;}

.checkbox_mls{
	margin-left: 70px;
	}
.checkbox-inline, .radio-inline {
    padding-left: 0px;    
  margin-right: 3px;
}
.cb_in_text{
	font-size: 1em;
    color: #323232;
	font-weight: 500;
	}
@media (max-width: 767px){
.radio_ml{
	margin-left: 0px !important; 
	line-height: 0.8em;
	margin-bottom: 1em;
	}
}

.soundtest .modal-footer{
  justify-content: center;
}




/* Modal 回家作業 圖示 */
/* Style the Image Used to Trigger the Modal */
#img_hw {
/*    border-radius: 5px;*/
    cursor: pointer;
    transition: 0.3s;
}

#img_hw:hover {opacity: 0.7;}

/* The Modal (background) */
.img_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1030; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.85); /* Black w/ opacity */
}

/* Modal Content (Image) */
.img_modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.img_modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.img_close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.img_close:hover,
.img_close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .img_modal-content {
        width: 100%;
    }
}

.resume {
    text-align: center;
    position: relative;
}
.resume h1{
    margin-bottom: 1rem;
}
.resume div:nth-child(1){
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.resume .l_btn {
    width: max-content;
    padding: 3px 20px;
    height: initial;
    font-size: inherit;
}
.modal-backdrop.show {
    opacity: .8;
}
.lightblue {
    background-color: #03a9f4;
}

/* Modal 學習進度 */
@media (min-width: 992px){
    .modal-xl {
        max-width: 1200px;
    }
}
.learnprogress .modal-header{
    background: none;
}
.learnprogress .modal-body .titletext {
    font-size: 2.8em;
    color: #ff2f00;
    text-align: center;
    margin-top: -2.5rem;
    font-weight: bold;
}
.learnprogress .cardbox .card {
    width: 23.6%;
    margin: 8px;
}
