

/*   modal  修改 */
.modal-content {
  border-radius: 0px;
}
.modal-header {
  background-color: #ffffff;
  color: #505050;
  font-weight: 700;
	padding: 15px;
    border-bottom: 4px solid #e5e5e5;
}
.modal-body img {
	    width: 100%;
	    height: auto;
    border: 6px solid #ddd;
    margin: 15px 0px;
}
.modal .btn_nor {
	outline: none;
    border: 1px solid #d3d3d3;
    padding: 8px 22px;
    white-space: nowrap;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    color: #724ebf;
    background-color: #FFF;
    border-radius: 4rem;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease;
    display: inline-block;
	user-select: initial;
	float: none;
}
.modal .btn_nor:hover {
  background-size: 100%;
    color: #864eff;
    border: 1px solid #864eff;
}
.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.modal .btn:last-child {
	margin-right: 0px;
}




.mockItemBox {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}
.mockItemBox .leftBox {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    left: 0;
    overflow: hidden;
    /*padding: 0 20px;*/
	padding: 15px 12px 20px 20px;
	/*overflow-y: auto;*/
}
.mockItemBox .rightBox {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    overflow: hidden;
	padding: 15px 20px 20px 12px;
}
.mockItemBox .leftBox .question {
	font-size: 24px;
	margin-bottom: 10px;
	line-height: 1.2;
	padding-bottom: 0px;
}
.mockItemBox .article {
    /*padding-bottom: 120px;*/
    overflow: auto;
}
.mockItemBox .article .mark {
	background-color: #dfceff;
}
.mockItemBox .optBox {
    position: relative;
    margin-top: 20px;
}

.mockItemBox .optBox .opt {position:relative; padding:3px}
.mockItemBox .optBox .opt .radio {display:none}
.mockItemBox .optBox .opt label {position:relative; padding-left:50px; font-weight:normal; color:#424242}
.mockBox .optBox .opt {position:relative; padding:3px}
.mockBox .optBox .opt .radio {display:none}
.mockBox .optBox .opt label {position:relative; padding-left:50px; font-weight:normal; color:#424242}
.mockItemBox .optBox .opt label:before {position:absolute; top:0; left:25px; font-family:'Material Icons'; content:"\E836"; color:#000; font-size:23px; line-height:23px; font-weight:bold}
.mockItemBox .optBox .opt.checked label:before {content:"\E837"}
.mockItemBox .optBox .opt .no {
    float: left;
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin: 0 5px;
    border-radius: 50%;
    font-size: 13px;
    color: #000;
    background: #ddd;
    text-align: center;
    vertical-align: middle;
}
.mockItemBox .optBox .opt.correct:before, 
.mockItemBox .optBox .opt.incorrect:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    font-family: 'Material Icons';
    color: #f00;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
}
.mockItemBox .optBox .opt.incorrect {
    color: #f00;
}
.mockItemBox .optBox .opt.incorrect:before {
    content: "\E14C";
}
.mockItemBox .optBox .opt.correct:before {
    content: "\E5CA";
}
.mockItemBox .hintBox {
    margin-top: 15px;
    color: #492b80;
    font-weight: 700;
}
.mockItemBox .hintBox div:before {
	font-family: 'Material Icons';
    content: "\E000";
    margin-right: 6px;
    vertical-align: middle;
    font-size: 18px;
}
.mockItemBox .answerBox {
    margin-top: 5px;
    padding: 12px 18px;
    background: #f6f3fc;
}
.mockItemBox .answerBox .title {
    font-weight: bold;
}
.mockItemBox .answerBox .analyzeBox {
    margin-top: 6px;
    padding-top: 6px;
    border-top: 1px solid #ddd;
    font-size: 15px;
}
.mockItemBox .answerBox .title .answer, 
.mockItemBox .answerBox .title .reply {
    margin: 0 12px 0 6px;
}
.mockItemBox .answerBox .title .reply.uncorrect {
    color: red;
}




.modal .btn {
    outline: none;
    border: 1px solid #d3d3d3;
    padding: 8px 22px;
    white-space: nowrap;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    color: #724ebf;
    background-color: #FFF;
    border-radius: 4rem;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease;
    display: inline-block;
    user-select: initial;
    margin-right: 4px;
}
.modal .btn:hover, 
.modal .btn.focus, 
.modal .btn:focus {
    color: #864eff;
    border: 1px solid #864eff;
	transition: all 250ms ease-out;
}
.modal .btn.btn-xs {
    padding: 3px 12px;
    font-size: 14px;
}
.modal .btn-primary {
	color: #fff;
    background-color: #724ebf;
    border-color: #724ebf;
}
.modal .btn-primary:hover, 
.modal .btn-primary.focus, 
.modal .btn-primary:focus {
    color: #fff;
	background-color: #553888;
    border: 1px solid #553888;
	transition: all 250ms ease-out;
}
.modal .btn-default {
	color: #724ebf;
    background-color: #fff;
    border-color: #d3d3d3;
}

.modal .btn-default:hover, 
.modal .btn-default.focus, 
.modal .btn-default:focus {
    color: #553888;
	/*background-color: #e7e7e7;*/
    border: 1px solid #553888;
	transition: all 250ms ease-out;
}

.modal .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: auto;
	float: left;
}
.modal .select {
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
    margin-right: 8px;
}
.modal .btn_submit {
    color: #fff;
    background-color: #724ebf;
	border-color: #724ebf;
}  
.modal .btn_submit:hover, 
.modal .btn_submit.focus, 
.modal .btn_submit:focus {
    color: #fff;
    background-color: #553888;
    border: 1px solid #553888;
    transition: all 250ms ease-out;
}
.modal-title {
    margin: 0;
    line-height: 1.5;
    font-weight: 700;
}