/** Variables **/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/** FORM styling below **/
body {
  background: #492b80;
  font-family: "Roboto", "-apple-system", sans-serif;
  margin: 0;
  padding: 0;
}
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}
.abm-login-screen {
  color: white;
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.abm-agile-login-wrap {
  padding: 0 1em;
}
/* Logo ------------------------------- */
.abm-agile-logo-wrap {
  width: 100%;
	opacity: 0;
}
.abm-agile-logo-wrap .abm-agile-logo {
  display: block;
  margin: 0 auto 4em;
  width: 100%;
  max-width: 200px;
}
/* Form starting stylings ------------------------------- */
.abm-login-form {
  display: block;
  margin: 0 auto;
  max-width: 300px;
	opacity: 0;
}
.abm-login-form .abm-input-group {
  position: relative;
  margin: 2em 0;
  /* LABEL ======================================= */
  /* active state */
}
.abm-login-form .abm-input-group input {
  background: transparent;
  border-color: #fff;
  border-style: solid;
  border-width: 0 0 1px 0;
  color: #fff;
  display: block;
  font-size: 1em;
  padding: 10px 10px 10px 5px;
  width: 100%;
  border-radius: 0;
}
.abm-login-form .abm-input-group input:focus {
  outline: none;
  border-bottom: 0 solid transparent;
}
.abm-login-form .abm-input-group label {
  color: #160c29;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.abm-login-form .abm-input-group input:focus ~ label,
.abm-login-form .abm-input-group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #e91e63;
}
.abm-login-form .field-validation-error {
  color: white;
  background: #F44336;
  padding: 5px;
  display: inline-block;
  margin-top: 5px;
  font-size: 15px;
}
.abm-login-form .abm-hide-show {
  position: absolute;
  right: 0;
  top: 8px;
}
.abm-login-form .abm-hide-show span {
  background: #ef0050;
    border-radius: 0px;
    display: block;
    padding: .5rem .5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .5em;
    color: white;
    line-height: 1;
}
.abm-login-form .abm-hide-show span:hover,
.abm-login-form .abm-hide-show span:focus,
.abm-login-form .abm-hide-show span:active {
  background: #a20036;
}
.abm-login-form input:-webkit-autofill,
.abm-login-form input:-webkit-autofill:hover,
.abm-login-form input:-webkit-autofill:focus input:-webkit-autofill,
.abm-login-form textarea:-webkit-autofill,
.abm-login-form textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
.abm-login-form select:-webkit-autofill,
.abm-login-form select:-webkit-autofill:hover,
.abm-login-form select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #0070C0 inset !important;
  border-bottom: 1px solid #9ccc65;
  -webkit-text-fill-color: white;
}
/* BOTTOM BARS ================================= */
.abm-input-bar {
  position: relative;
  display: block;
  width: 300px;
}
.abm-input-bar:before,
.abm-input-bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #e91e63;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.abm-input-bar:before {
  left: 50%;
}
.abm-input-bar:after {
  right: 50%;
}
/* active state */
input:focus ~ .abm-input-bar:before,
input:focus ~ .abm-input-bar:after {
  width: 50%;
}
/* HIGHLIGHTER ================================== */
.abm-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
/* active state */
input:focus ~ .abm-highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #9ccc65;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #9ccc65;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #9ccc65;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.abm-checkbox-group {
  position: relative;
  bottom: 1em;
  margin: 2em 0 0em;
}
.abm-checkbox-group label {
  position: relative;
  bottom: 0px;
}

.abm-checkbox-group .abm-checkbox {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: .75rem;
  cursor: pointer;
  appearance: none;
  outline: 0;
  border: none;
  z-index: 1;
}
.abm-checkbox-group .abm-checkbox:after {
  content: '';
  background: #13062c;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.abm-checkbox-group .abm-checkbox:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  transition: all 0.3s ease-in-out;
}
.abm-checkbox-group .abm-checkbox:checked:before {
  height: 50%;
  transform: rotate(-45deg);
  border: 5px solid #ef0050;
  border-top-style: none;
  border-right-style: none;
}






/*** custom checkboxes ***/
.abm-checkbox-group label {
	position: relative;
	cursor: pointer;
	appearance: none;
	outline: 0;
	border: none;
	z-index: 1;
	padding-left: 40px;
	width: 100%;
	line-height: 30px;
}
/* to hide the checkbox itself */
.abm-checkbox-group input[type=checkbox] { display:none; } 
.abm-checkbox-group input[type=checkbox] + label:before {
  font-family: "FontAwesome";
  display: inline-block;
}
/*unchecked icon*/
.abm-checkbox-group input[type=checkbox] + label:after { 
	content: '';
	width: 25px;
	height: 25px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
} 
.abm-checkbox-group input[type=checkbox] + label:before { 
	content: '';
	position: absolute;
	/*left: 0;
	top: 0;*/
	z-index: 5;
	width: 25px;
	height: 25px;
	border: 3px solid white;
	transition: all 0.3s ease-in-out;
	top: 5px;
	left: 3px;
}
/* checked icon */  /*space between checkbox and label */   
.abm-checkbox-group input[type=checkbox]:checked + label:before { 
	height: 50%;
  transform: rotate(-45deg);
  border: 5px solid #ef0050;
  border-top-style: none;
  border-right-style: none;
} 

.abm-checkbox-group input[type=checkbox]:checked + label {color: #fff;}














.abm-loader {
  display: none;
}
.abm-login-button {
    background: #ef0050;
    border: 1px solid #ef0050;
    color: white;
    font-size: 1.2rem;
    /* padding: 0.5em; */
    width: 100%;
    position: relative;
}
.abm-login-button:hover {
    background: #a20036;
    border: 1px solid #a20036;
}
.abm-login-button.abm-show .abm-loader {
  display: block;
  color: white;
  font-size: 5px;
  margin: 2px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  right: 25px;
  top: 22px;
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}







#header {
	max-width: 300px;
    margin-right: auto;
    margin-left: auto;
	/*text-align: left;*/
}
#header img {
    margin-bottom: 15px;
    margin-top: -100px;
}





.log_anima{
  animation: anima ease-in-out .4s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: anima ease-in-out .4s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: anima ease-in-out .4s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: anima ease-in-out .4s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
}

@keyframes anima{
  0% {
    opacity:0;
    transform:  translate(0px,30px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes anima{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,30px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes anima {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,30px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes anima {
  0% {
    opacity:0;
    -o-transform:  translate(0px,30px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}










.log_anima_b{
  animation: anima_b ease-in-out .4s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: anima_b ease-in-out .4s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: anima_b ease-in-out .4s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: anima_b ease-in-out .4s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
}

@keyframes anima_b{
  0% {
    opacity:0;
    transform:  translate(0px,50px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes anima_b{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,50px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes anima_b {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,50px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes anima_b {
  0% {
    opacity:0;
    -o-transform:  translate(0px,50px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}







.log_anima_b {
    -moz-animation-delay: .2s;
    -webkit-animation-delay: .2s;
    -ms-animation-delay: .2s;
    animation-delay: .2s;
}

