@charset "UTF-8";
@media (min-width: 769px) and (max-width: 1440px) {
  .mobi_lap {
    transform: scale(0.85);
  }
}

.hide_tem {
  display: none;
}

.dark-scheme header.smaller {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.6);
  /* 強制觸發 iPhone 的硬體加速渲染 */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.dark-scheme header.header-mobile {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.6);
  /* 強制觸發 iPhone 的硬體加速渲染 */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@media (max-width: 768px) {
  .dark-scheme header.header-mobile #mainmenu li ul li a.menu-item {
    border-bottom: 1px solid;
    border-bottom-color: rgba(255, 255, 255, 0.1);
  }
}
@media (max-width: 768px) {
  .dark-scheme header.header-mobile #mainmenu li ul li ul {
    margin-bottom: 0px;
  }
}
.dark-scheme header #mainmenu ul.mega {
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
  background: rgba(0, 0, 0, 0.6) !important;
  /* 強制觸發 iPhone 的硬體加速渲染 */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

header *, .hover *, #mainmenu * {
  transition: all 0.5s ease-in-out;
}

.hover {
  transition: all 0.5s ease;
  transform: scale(1);
}
.hover:hover .hover-scale-1-1 {
  transform: scale(1.1);
}

.text-gradient-light {
  background: -webkit-linear-gradient(45deg, var(--purple-light) 0%, var(--cyan-light) 100%);
  background: -moz-linear-gradient(45deg, var(--purple-light) 0%, var(--cyan-light) 100%);
  background: linear-gradient(45deg, var(--purple-light) 0%, var(--cyan-light) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobile_bg.jarallax-img {
  object-fit: none !important;
  object-position: 50% 0 !important;
}
.mobile_bg.type2 {
  object-fit: cover !important;
}
@media (max-width: 768px) {
  .mobile_bg.type2 {
    object-position: 75% 30px !important;
  }
}

h1.big, .h1_big {
  font-size: 5.2rem;
  line-height: 5.6rem;
}
h1.big .smaller, .h1_big .smaller {
  font-size: 3.6rem;
  line-height: 2.6rem;
}
@media (max-width: 768px) {
  h1.big .smaller, .h1_big .smaller {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
@media (max-width: 768px) {
  h1.big, .h1_big {
    font-size: 12.1vw;
    line-height: 3.4rem;
  }
}

h1.ultra-big.smaller {
  font-size: 5.8rem;
  line-height: 6rem;
}
@media (max-width: 768px) {
  h1.ultra-big.smaller {
    font-size: 3.6rem;
    line-height: 4rem;
  }
}
h1.ultra-big.smaller .text-line {
  font-size: 5.8rem;
  -webkit-text-stroke: 1px #ffffff;
}
@media (max-width: 768px) {
  h1.ultra-big.smaller .text-line {
    font-size: 3.6rem;
    line-height: 4rem;
  }
}
h1.ultra-big.smaller i {
  font-size: 3.6rem;
  color: var(--primary-color) !important;
  line-height: 2.5rem;
  vertical-align: super;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  margin-top: 20px;
  padding: 4px 0 0 8px;
  margin-right: 8px;
  -webkit-text-fill-color: initial;
}
@media (max-width: 768px) {
  h1.ultra-big.smaller i {
    vertical-align: middle;
    margin-top: 0;
    transform: scale(0.75);
    transform-origin: top right;
  }
}
h1.ultra-big.number {
  font-family: "Prompt", Helvetica, Arial, sans-serif;
}
h1.ultra-big.number span.text-line {
  margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
  h1.ultra-big.number span.text-line {
    font-size: 5.5rem;
    line-height: 5rem;
    letter-spacing: -0.9rem;
    margin-bottom: 0.8rem;
  }
}
@media (max-width: 768px) {
  h1.ultra-big.s3 span.text-line {
    font-size: 6.8rem;
  }
}
@media (max-width: 768px) {
  h1.ultra-big.s3 span.text-line.mobile_plus {
    display: block;
    position: relative;
    right: 6.5vw;
    top: -16px;
    float: right;
    font-size: 5rem;
  }
}
h1.ultra-big.s3 span.text-line span.descrip {
  -webkit-text-stroke: 0px;
  display: inline-block;
  color: white;
  letter-spacing: 0;
  vertical-align: middle;
  font-size: 1.8rem;
  line-height: 1;
  position: relative;
  top: -6px;
  left: 48px;
}
@media (max-width: 768px) {
  h1.ultra-big.s3 span.text-line span.descrip {
    left: 6px;
  }
}

@media only screen and (max-width: 767px) {
  h1, h1.ultra-big,
  h1.ultra-big .text-line,
  h1.ultra-big-2 {
    font-size: 10.5vw;
    line-height: 11.5vw;
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 8.5vw;
    line-height: 10vw;
    padding: 0;
  }
}

p.lead.big {
  font-size: 1.4rem !important;
}
@media (max-width: 480px) {
  p.lead.big {
    font-size: 1rem !important;
  }
}

.forPhone_br br {
  display: none;
}
@media (max-width: 768px) {
  .forPhone_br br {
    display: initial;
  }
}

@media (max-width: 768px) {
  .forPhone_br_show br {
    display: none;
  }
}

@media (max-width: 768px) {
  .forPhone_hide {
    display: none;
  }
}

header .logo-main {
  width: 148px;
}

.wm-carousel {
  padding-top: 75vh;
}
@media (min-width: 769px) and (max-width: 1440px) {
  .wm-carousel {
    padding-top: initial;
    transform: scale(0.6);
    margin-top: 6.8rem;
  }
}
@media (max-width: 768px) {
  .wm-carousel {
    margin-top: 1.2rem;
    display: none;
  }
}
.wm-carousel .images-carousel-group a {
  position: relative;
}
@media (min-width: 769px) and (max-width: 1440px) {
  .wm-carousel .images-carousel-group a img {
    height: 45vh;
  }
}
@media (max-width: 768px) {
  .wm-carousel .images-carousel-group a img {
    height: 21vh;
  }
}
.wm-carousel .images-carousel-group a::before {
  letter-spacing: initial;
  position: absolute;
  width: 628px;
  height: 6rem;
  left: 0;
  bottom: 0.8rem;
  content: "和雍建設 昆明案 - 2024 銀級";
  font-size: 1.4rem;
  color: #ffffff;
  -webkit-text-stroke: 0px;
  background: linear-gradient(0deg, rgba(9, 9, 27, 0.9) 30%, rgba(0, 0, 0, 0) 100%);
}
@media (min-width: 769px) and (max-width: 1440px) {
  .wm-carousel .images-carousel-group a::before {
    bottom: 0.8rem;
    font-size: 1.8rem;
    width: 582px;
  }
}
@media (max-width: 768px) {
  .wm-carousel .images-carousel-group a::before {
    bottom: 2rem;
    font-size: 1.2rem;
    width: 352px;
  }
}
.wm-carousel .images-carousel-group a:nth-child(2)::before {
  content: "和雍建設 台北士林天母案 - 2024 銀級";
}
.wm-carousel .images-carousel-group a:nth-child(3)::before {
  content: "利百加建設 民有印象 - 2024 銀級";
}
.wm-carousel .images-carousel-group a:nth-child(4)::before {
  content: "傳田建設 傳田豐御 - 2016 銀級";
}
.wm-carousel .images-carousel-group a:nth-child(5)::before {
  content: "峻勝建設 文化首勝 - 2016 銀級";
}
.wm-carousel .images-carousel-group a:nth-child(6)::before {
  content: "傑座建設 甄豪宅 - 2016 銀級";
}
.wm-carousel .images-carousel-group a:nth-child(7)::before {
  content: "將捷建設 將捷 MRT - 2016 銅級";
}
.wm-carousel .images-carousel-group a:nth-child(8)::before {
  content: "城中建設 城心城邑 - 2016 銅級";
}
.wm-carousel .images-carousel-group a:nth-child(9)::before {
  content: "大漢建設 星禾苑 - 2016 銀級";
}
.wm-carousel .images-carousel-group a:nth-child(10)::before {
  content: "邑城建設 邑城仰睦 - 2016 銀級";
}
.wm-carousel .images-carousel-group a:nth-child(11)::before {
  content: "金鋐建設 金鋐琢岳 - 2016 銀級";
}

.carousel-indicators {
  margin-right: initial;
  margin-left: initial;
}

@media (max-width: 768px) {
  .carousel-indicators [data-mdb-target] {
    margin: 0px 4px;
  }
}
.carousel-indicators [data-mdb-target] img {
  border: 1px solid #505050;
}

.carousel-inner {
  border: 1px solid #272727;
}

#de-carousel .carousel-inner {
  border: none;
}

#de-carousel .mask {
  background: rgba(0, 0, 0, 0.75);
}

footer .logo img {
  width: 188px;
}

@-webkit-keyframes scaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.wow {
  visibility: hidden;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.rotate-animation {
  animation: rotate-animation 10s infinite linear;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bestAI {
  background: linear-gradient(to right, var(--primary-color) 20%, var(--secondary-color) 30%, var(--third-color) 50%, var(--primary-color) 70%, var(--secondary-color) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: 700;
  background-size: 500% auto;
  animation: gradientMove 10s ease-in-out infinite alternate;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/* [ btn effect ] */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  color: #FFF;
  z-index: 1;
  border-radius: 60px;
  background: linear-gradient(270deg, rgba(0, 255, 177, 0.75) 0%, rgba(0, 255, 177, 0.3) 50%);
  border: 2px solid transparent;
}

.button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 60px;
  padding: 2px;
  background: linear-gradient(90deg, #5C33FF, #00FFB1);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}

.button:active {
  transform: scale(0.97);
}

.hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  overflow: hidden;
  border-radius: 60px;
}

.hoverEffect span {
  background: linear-gradient(90deg, #5C33FF 0%, #00FFB1 100%);
  width: 12rem;
  height: 12rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.8;
  overflow: hidden;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.material-icons-two-tone {
  filter: invert(0.5) sepia(1) saturate(20) hue-rotate(180deg);
  font-size: 64px;
}

.material-icons,
.material-icons-outlined,
.material-icons-round,
.material-icons-sharp {
  color: #0072ff;
  font-size: 64px;
}

.de-pricing-s1 .d-deco-top {
  position: absolute;
  top: 0;
  width: 250px;
  height: 250px;
  background: linear-gradient(135deg, rgba(var(--primary-color-rgb), 0.4) 0%, rgba(var(--primary-color-rgb), 0) 50%);
}

.de-pricing-s1 .d-deco-bottom {
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 0;
  right: 0;
  background: linear-gradient(-45deg, rgba(var(--secondary-color-rgb), 0.2) 0%, rgba(var(--secondary-color-rgb), 0) 50%);
}

.de-pricing-s1 .d-list {
  text-indent: -26px;
  padding-left: 22px;
}

.indicator .de-gradient-edge-top, .indicator .de-gradient-edge-bottom {
  z-index: -1;
}

.module3 .de-gradient-edge-top, .module3 .de-gradient-edge-bottom {
  z-index: initial;
}
.module3 h1 {
  margin-bottom: 0;
}
.module3 h2.sub_title {
  line-height: 2.2rem !important;
}
.module3 h2.sub_title span {
  font-size: 10rem;
  line-height: 0;
  letter-spacing: -20px;
  font-weight: 900;
}
@media (max-width: 768px) {
  .module3 h2.sub_title span {
    font-size: 6rem;
    line-height: 0;
    letter-spacing: -12px;
  }
}
.module3 h2.sub_title span.num_narrow {
  letter-spacing: -14px;
}
.module3 h3 {
  line-height: 4rem;
}
@media (max-width: 768px) {
  .module3 h3 {
    font-size: 1.28rem;
    line-height: 1rem;
    margin-bottom: 2rem;
  }
}
.module3 h3 span span {
  color: #8800ff;
  font-weight: 300;
}
@media (max-width: 768px) {
  .module3 .images-deco-1 .d-img-1 {
    width: 100%;
    margin: 0;
  }
}
.module3 .images-deco-1 .d-img-3 {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 4rem;
  left: 20px;
}
@media (max-width: 768px) {
  .module3 .images-deco-1 .d-img-3 {
    display: none;
  }
}
.module3 .images-deco-1 .d-img-4 {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 0;
  top: -20px;
  right: -8px;
}
@media (max-width: 768px) {
  .module3 .images-deco-1 .d-img-4 {
    display: none;
  }
}
.module3 .images-deco-1 .d-img-2 {
  left: -3rem;
}
@media (max-width: 768px) {
  .module3 .images-deco-1 .d-img-2 {
    display: none;
  }
}
.module3 .images-deco-1 .d-img-5 {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 0;
  bottom: 8px;
  left: 20px;
}

.features .de_count {
  width: 75%;
  padding: 1.8rem 0 0 0;
}
@media (max-width: 768px) {
  .features .de_count {
    width: 80%;
    padding: 0;
    margin-top: -1rem;
  }
}
.features .de_count h2 {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .features .de_count h2 {
    font-size: 1.8rem;
  }
}
.features .de_count h3 i {
  font-size: 3.6rem;
}
.features .de_count p {
  font-weight: 300;
  line-height: 1.6rem;
}
.features.step4 .de-gradient-edge-top, .features.step4 .de-gradient-edge-bottom {
  z-index: -1;
}
.features.step4 h1 {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .features .img-fluid.ro180 {
    transform: rotate(180deg);
  }
}
@media (max-width: 768px) {
  .features .feat_mb {
    margin-bottom: -3rem;
  }
}

.location h2 span {
  font-size: 80%;
}
@media (max-width: 768px) {
  .location h2 span {
    font-size: 2.2rem;
  }
}
.location h4.s2 {
  font-size: 1.28rem;
}
.location h4.s2 a {
  color: #fff;
}
.location h4.s2 a:hover {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .spacer-100-mo {
    width: 100%;
    height: 100px;
    display: block;
    clear: both;
  }
}

#section-location iframe {
  filter: invert(90%) hue-rotate(180deg) brightness(90%);
}

.d_demo_img {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.d_demo_img .d-overlay span {
  border-radius: 3rem;
}
.d_demo_img .d-overlay span.material-icons-two-tone {
  filter: invert(0) sepia(1) saturate(20) hue-rotate(135deg) !important;
  font-size: 2.2rem;
}

/* breadcrumb */
.breadcrumb {
  font-size: 15px;
}
.breadcrumb a {
  color: var(--cyan-light);
  transition: all 0.3s ease-in-out;
}
.breadcrumb a:hover {
  color: var(--cyan-light-active);
}

.facility_page .facility_start {
  padding-top: 0 !important;
}
.facility_page .facility_start h1.ultra-big {
  line-height: 6.2rem;
  font-size: 6.2rem;
}
@media (max-width: 768px) {
  .facility_page .facility_start h1.ultra-big {
    font-size: 3.4rem;
    line-height: 4rem;
  }
}
.facility_page .facility_start h1.ultra-big span.text-line {
  font-size: inherit;
  -webkit-text-stroke: 1px #ffffff;
}
.facility_page .facility_start h1.ultra-big .smaller {
  font-size: 4.6rem;
  margin-top: -0.38rem;
}
@media (max-width: 768px) {
  .facility_page .facility_start h1.ultra-big .smaller {
    font-size: 7.8vw;
  }
}
.facility_page .facility_start .facility_startBox {
  padding: 220px 0 120px 0;
}
@media (max-width: 768px) {
  .facility_page .facility_start .facility_startBox {
    padding: 180px 0 120px 0;
  }
}
.facility_page .facility_start .facility_startBox .mask {
  background: rgba(0, 238, 255, 0.05);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
  width: 100%;
  overflow: hidden !important;
  display: inline-block;
  padding: 120px 0 120px 0;
  filter: invert(1) sepia(1) saturate(90) hue-rotate(335deg);
}
@media (max-width: 768px) {
  .facility_page .facility_start .facility_startBox .mask {
    display: none;
  }
}

@media (max-width: 768px) {
  .facility_score .col-lg-5 {
    margin-bottom: 6rem;
  }
}
@media (max-width: 768px) {
  .facility_score .mb-mobile-60 {
    margin-top: -4rem !important;
  }
}
.facility_score .de_count {
  width: 100%;
  margin-top: -0.5rem;
  padding-top: 0;
}
@media (max-width: 768px) {
  .facility_score .de_count {
    width: 100%;
    padding: 0;
    margin-top: 1rem;
  }
}
.facility_score .de_count.ver_arange h3 {
  margin: -2rem 0 0 -2.6rem;
}
.facility_score .de_count.ver_arange h3 .timer {
  font-family: "Prompt", Helvetica, Arial, sans-serif;
}
.facility_score .de_count.ver_arange h3 span {
  font-size: 9.2rem;
  margin-bottom: 1.4rem;
  letter-spacing: -2px;
  padding-right: 8px;
}
.facility_score .de_count.ver_arange h3 .plus {
  font-size: 80%;
  position: relative;
  display: inline-block;
  left: 1.6rem;
  top: -1.6rem;
}
.facility_score .de_count.ver_arange h4 {
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .facility_score .de_count.ver_arange_type2 {
    margin-top: 0rem;
  }
}
.facility_score .de_count.ver_arange_type2 h3 {
  margin: -3rem 0 0 -2.6rem;
}
.facility_score .de_count.ver_arange_type2 h3 .timer {
  font-family: "Prompt", Helvetica, Arial, sans-serif;
}
.facility_score .de_count.ver_arange_type2 h3 span {
  font-size: 6.2rem;
  margin-bottom: 1.4rem;
  letter-spacing: 0px;
  padding-right: 8px;
}
.facility_score .de_count.ver_arange_type2 h3 span:nth-child(3) {
  margin: 0 -36px 0 -36px;
}
.facility_score .de_count.ver_arange_type2 h3 .plus {
  font-size: 70%;
  position: relative;
  display: inline-block;
  left: 1.6rem;
  top: -0.2rem;
}
@media (max-width: 768px) {
  .transform_img_deg90 {
    transform: rotate(180deg);
  }
}

.widget {
  padding-bottom: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .widget {
    margin-bottom: 1.6rem;
  }
}
@media (max-width: 768px) {
  .widget ul {
    margin-top: 30px;
    text-align: center;
  }
}
.widget ul li {
  margin: 3px 6px;
}
@media (max-width: 768px) {
  .widget ul li {
    margin: 3px 4px 8px;
  }
}

/* 選中標籤的樣式 */
/* 預設樣式 */
.widget_tags li a {
  background: linear-gradient(270deg, rgba(0, 255, 177, 0.55) 0%, rgba(0, 255, 177, 0.3) 50%);
}

/* 點擊後的選中樣式 (Active) */
.widget_tags li a.active {
  /* 讓顏色變更亮、漸變更實心 */
  background: linear-gradient(90deg, rgba(0, 255, 177, 0.2) 0%, rgba(0, 255, 177, 0.6) 100%);
  /* 加強外框感 */
  border: 1px solid #00ffb1;
  /* 輕微發光效果 */
  box-shadow: 0 0 10px 4px rgba(0, 255, 177, 0.8);
  /* 字體加粗 */
  font-weight: bold;
}

.property_page {
  padding-top: 180px;
}
.property_page .de-gradient-edge-bottom {
  height: 40%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
}
@media (max-width: 768px) {
  .property_page .de-gradient-edge-bottom {
    height: 55%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 65%, rgba(0, 0, 0, 0) 100%);
  }
}
.property_page h1.ultra-big-2 {
  font-size: 7.2rem;
  text-shadow: 0 10px 20px #000, 2px 2px 2px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .property_page h1.ultra-big-2 {
    font-size: 13.2vw;
    line-height: 4.6rem;
  }
}
.property_page h1.ultra-big-2 .bigger_letter {
  font-size: 140%;
  vertical-align: middle;
  height: 136px;
  text-shadow: none;
}
@media (max-width: 768px) {
  .property_page h1.ultra-big-2 .bigger_letter {
    margin-right: 0rem;
    font-size: 130%;
    height: 73px;
    vertical-align: bottom;
  }
}
.property_page h1.ultra-big-2 .smaller {
  font-size: 85%;
  display: block;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .property_page h1.ultra-big-2 .smaller {
    font-size: 86%;
    margin-top: -1rem;
  }
}
.property_page h5.s2 {
  background: var(--darkblue-light);
}
.property_page h5.s2 i {
  color: var(--cyan-light-active);
}
@media (max-width: 768px) {
  .property_page h5.s2 {
    margin-top: 8px !important;
  }
}

.property_score .de_count {
  width: 88%;
  padding: 1.8rem 0 0 0;
}
@media (max-width: 768px) {
  .property_score .de_count {
    width: 90%;
    padding: 0;
    margin-top: -1rem;
  }
}
.property_score .de_count h2 {
  font-size: 1.8rem;
  line-height: 1;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .property_score .de_count h2 {
    font-size: 1.8rem;
  }
}
.property_score .de_count h2.bigger {
  font-size: 2.1rem;
  line-height: 1.2;
}
.property_score .de_count h3 i {
  font-size: 3.6rem;
}
.property_score .de_count p {
  font-weight: 700;
  line-height: 1.6rem;
  margin-top: 0.4rem;
}
.property_score .de_count .arrow {
  transform: rotate(90deg);
  width: 3rem;
}
.property_score .de_count img {
  animation: spin 2s linear infinite;
}
.property_score .feat_mb {
  margin-bottom: -2rem;
}

/* 1. Define the rotation keyframes */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 2. Apply to your element */
.spinning-element {
  animation: spin 2s linear infinite;
}

.img-fluid.type2 {
  max-width: 20rem;
  margin-left: -6rem;
  width: 240px;
}
@media (max-width: 768px) {
  .img-fluid.type2 {
    max-width: 20rem;
    margin-left: -9rem;
    width: 260px;
    margin-top: -4rem;
  }
}

.c-item_title {
  border-radius: 3rem;
  background: rgba(0, 26, 102, 0.85);
  margin-bottom: -3%;
  padding: 0.4rem 1.2rem 0.4rem;
  line-height: 1.4;
  width: max-content;
  transform: translateX(-50%);
  left: 50%;
  margin-left: 0;
}

.chatbot-btn:hover {
  color: #fff;
}
.chatbot-btn:hover .btn-bg {
  left: -50px;
}

a.btn-main.big.type2 {
  font-size: 18px;
  padding: 8px 20px;
}