@charset "UTF-8";
/* CSS Document */

/*  修改 environment  */

#environment_setup{
	padding-bottom: 2em !important;
	}
.bs-wizard {
	margin: 0 0 2em 0em;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 12em;
    height: 12em;
    display: block;
    background: #FFFFFF;
    top: 50px;
    left: 38%;
    margin-top: -15px;
    margin-left: -2.7em;
    border-radius: 50%;
    border: solid 2em #FAEBD7;
}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #64001B;
    font-size: 3em;
    margin-bottom: 0px;
    margin-top: 0.85em;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #64001B;
    font-size: 1em;
    margin-top: 6em;
	font-weight: 700;
}
.bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 50%;
    margin-top: 7.5em;
}
.bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 1em;
    box-shadow: none;
    margin: 0px 0;
	margin-top: 7.5em;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background: transparent;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: #64001B;
}
.bs-wizard-step > a div:hover {
    border-bottom-color: transparent;
    color: #64001B !important;
    text-decoration: none;
    background-color: transparent !important;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #E2DBD2;
    border: solid 2em #C6C2BD;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot > div > span {
	color: #F4F4F4 !important;
	}
.testbox .alert-info {
	font-size: 1em;
    background-color: #F3F6F9;
    border-color: #bce8f1;
    color: #646464;
    border: 1px solid #B6C0C6;
}
.testbox .btn-default {
    color: #FFF;
    background-color: #64001B;
    border-color: transparent;
	border-radius: 30px;
	margin-left: 0.2em;
    margin-right: 0.2em;
	padding: 0.4em 1.5em;
}

.testbox .btn-danger{
    color: #fff;
    background-color: #C6C2BD;
    border-color: #C6C2BD;
	border-radius: 30px;
	padding: 0.4em 1.5em;
	}
.testbox .btn-default:hover,
.testbox .btn-danger:hover{
    color: #424474;
    background-color: #fff;
    border-color: #424474;
	transition: all 250ms ease-out;
}

.testbox .alert-danger {
    color: #646464;
    background-color: #FAEBD7;
    border: 1px solid #C6C2BD;
	font-size: 1em;
}
.testbox ul {
    list-style: none;
}

.testbox .progress {
	margin-left: 0em;
    margin-right: 0em;
	}
.testbox .progress-bar {
    font-size: 0.8em;
    line-height: 1.4em;
}
.recordbox{
	margin-left: 15px;
    margin-right: 15px;
	}
.recordtext{
	padding-left: 0em;
	text-align: left;
	margin-top: 1em;
	}