
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);


$mq575: 575px;
$mq576: 576px;

$mq767: 767px;
$mq768: 768px;

$mq1200: 1200px;
$mq1400: 1400px;
$mq1600: 1600px;

$mainBlue_or:#b2ece3;
$mainBlue:#7cffe7;
$mainBlueLight:#26bfb5;
$mainBlueLight_trans:rgba(70, 255, 243, 0.2);

$textmain:#666666;
$textmain_dark:#4d4d4d;

$main_light: #ff6f4f;
$main_light_2: #ff3d2f;
$main_light_trans: rgba(255, 164, 79, 0.5);



body {
  // background: #a5a5a5;
  /* background: #111111; */
  font-family:'Microsoft JhengHei', '微軟正黑體', 'Microsoft YaHei', arial, sans-serif;

  // font-family: PingFangSC-Medium, arial, "Hiragino Sans GB", "Microsoft Yahei", 
  /* font-family: "metropolis-regular", sans-serif; */
  // font-family: PingFangSC-Medium;

  // google font:
  // font-family: cwTeXYen, sans-serif; 
  color: $textmain; 
  font-weight: 700;
}

@media (min-width: $mq1600){

}
  .container-fluid.slide0 {
    // padding-left: 0rem;
    // padding-right: 0rem;
  }

@media (min-width: $mq576){

}

@media (min-width: $mq768){

}

// dark-horizontal - fixed
.dark-horizontal .header, 
.dark-horizontal .social-fixed a, 
.dark-horizontal .establised, 
.dark-horizontal .copyright-fixed, 
.dark-horizontal .social-rounded-fixed a, 
.dark-horizontal .navbar-nav > ul > li > a {
  color: $textmain;
}


.dark-horizontal .social-rounded-fixed a {
  border-color: $textmain;
}
.dark-horizontal .stick {
  background: $textmain;
}
.theme-yellow .nav-toggle-btn:hover .stick, 
.theme-yellow .social-rounded a:hover, 
.theme-yellow .btn-play:hover {
  background-color: $main_light_2;
  color: #fff;
}


// section - 1 - fixed
.header-fixed {
  .container-fluid{
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
.social-rounded-fixed {
  right: 2rem;
}
#pp-nav.right {
  right: 2rem;
}
.copyright-fixed {
  left: 2rem;
  font-size: .8rem;
}
.establised {
  left: 3rem;
  font-size: .8rem;
}
.nav-inside{
  .owl-prev {
    left: 2rem;
  }
  .owl-next {
    right: 2rem; 
  }
} 

.brand {
  .brand-name {
    margin-right: .5rem;
    font-family: 'Butler', Serif;
    font-size: 2.875rem;
    font-weight: 900;
    line-height: 1.1;
    &.text-texture {
      width: initial;
      background-image: linear-gradient(to bottom, #4bdda1, #229436);
    }
  }
  .brand-text {
    margin-bottom: .375rem;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -.5px;
    @media (max-width: $mq575){
      display: none;
    }
  }
}

#gradient {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 1;
}

.home-piling .slide0 {
  h1 {
    font-weight: 700;
  }
  // background: $mainBlue;
  .article-carousel-promo {
    .owl-nav [class*=owl-] {
      display: block;
    }
    .owl-dots {
      display: none;
    }
    .article-promo-item {
      min-height: 100vh;
      min-width: 100vw;
      padding: 0;
      // padding: 10.625rem 4.75rem 3rem;
      &:before {
        // display: none;
        z-index: -10;
        opacity: 0;
      }
      .slide-container {
        min-height: 100vh;
        min-width: 100vw;
        .slide-descr {
          color: $textmain;
        }
        @media (max-width: $mq767){
          .slide-content .slide-body .slide-descr br {
            display: none;
          }
        }
      }
    }
    .article-promo-item {
      .slide-video-container{
        .container{
          @media (max-width: $mq575){
            padding-right: 58px;
            padding-top: 3rem;
            padding-bottom: 2.6rem;
            // &.t1_bg {
            //   background: rgba(255, 255, 255, 0);
            // }
            // &.t2_bg {
            //   // background: rgba(90, 197, 166, .6);
            //   background: rgb(255,250,243);
            //   background: linear-gradient(0deg, rgba(255,250,243,0) 0%, rgba(116,255,205,0.5) 30%, rgba(90,197,166,.7) 100%);
            // }
            // &.t3_bg {
            //   // background: rgba(218, 138, 92, 0.5);
            //   background: rgb(255,250,243);
            //   background: linear-gradient(0deg, rgba(255,250,243,0) 0%, rgba(255,224,211,1) 30%, rgba(255, 160, 131, 0.9) 100%);
            // }
          }
        }
      }
    }
  }

  .slide-bg > .inside { 
    &.bg1 {
      background-image: url(../../img/bg-piling0_1.png);
      opacity: .5;
      @media (max-width: $mq575){
        background-position: 70% 60px;
      }
    }
    &.bg2 {
      background-image: url(../../img/bg-piling0_2.jpg);
      opacity: 1;
      @media (max-width: $mq575){
        background-position: 42% 50%;
      }
    }
    &.bg3 {
      background-image: url(../../img/bg-piling0_3.jpg);
      opacity: 1;
      @media (max-width: $mq575){
        background-position: 95% 50%;
        background-image: url(../../img/bg-piling0_3_2.jpg);
      }
    }
  }
}



.home-piling .slide1 {
  font-weight: 700;
  background: #ebd9cd;
  .slide-container {
    .slide-descr {
      color: $textmain;
    }
  }
  .horizontal-service-list {
    margin-top: 0vmin;
    .horizontal-service-item {
      background: rgb(34,195,177);
      background: radial-gradient(circle, rgba(34,195,177,0.5) 0%, rgba(253,125,45,0.3) 100%);    
      // 金色漸層
      // background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
      padding: 3.5vmin 1.125rem 4vmin;
      @media (max-width: $mq767){
        padding: 5vmin 1.8rem 8vmin;
      }
      .num {
        color: #ffffff;
        font-weight: normal;
        margin-bottom: 1rem;
        @media (max-width: $mq767){
          font-size: 8.55555556vmin;
        }
      }
      .horizontal-service-item-descr {
        height: 100%;
        padding-bottom: 0;
        line-height: 1.625rem;
      }
      .horizontal-service-item-title {
        margin-bottom: .8vmin;
        br{
          @media (max-width: $mq767){
            display: none;
          }
          @media (max-width: $mq575){
            display: initial;
          }
        }
      }
      .horizontal-service-item-photo {
        margin-bottom: 0vmin;
        img.photo-position {
          @media (max-width: $mq767){
            top: -6rem;
            left: 60%; 
            max-width: 44%;
            height: auto;
          }
          @media (max-width: $mq575){
            top: -3rem;
            left: 40%; 
            max-width: 64%;
          }
        }
      }
    }
  }
  .flash-video-container {
    position: relative;
    padding-right: 0;
    padding-top: 6.54700855%;
    .video-border {
      position: relative;
      background: linear-gradient(to right, #ffce00, #00ffbf);
      padding: 3px;
      margin-bottom: 1.3rem;
      .flash-video img {
        border: 0px;
      }
    }
  }
}

.home-piling .slide1, 
.home-piling .slide2, 
.home-piling .slide5,
.home-piling .slide6 {
  h1, .h1 {
    margin-left: -.25rem;
    margin-bottom: 2.5vmin;
    font-size: 6vmin;
    line-height: 1.2;
    letter-spacing: -4px;
    font-weight: 700;
    @media (max-width: $mq767){
      letter-spacing: -2px;
      font-size: 8vmin;
      br{
        display: none;
      }
    }
  }
  h2, .h2 {
    margin-bottom: 1.111111vmin;
    line-height: 1.05;
    font-weight: 700;
  }
}

.home-piling {
  .horizontal-service-item {
    .btn-xs {
      border-color: $mainBlue_or;
      padding: 3px 7px 3px;
      font-size: .75rem;
      color: $textmain;
      letter-spacing: .025em;
      margin-bottom: .6rem;
      background: $mainBlueLight_trans;
      &:hover {
        border-color: $mainBlue !important;
        background: $mainBlueLight_trans !important;
        color: $textmain_dark !important;
      }
    }
  }
}

.home-piling .slide2 {
  .solution-num {
    @media (max-width: $mq575){
      font-size: 48.037037vmin;
    }
  }
  .solution-num-title {
    margin-top: -3.6vmin;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  .project-list-metro .project-item {
    height: 19.5rem;
    @media (max-width: $mq767){
      height: 25rem;
    }
    @media (max-width: $mq575){
      height: 30rem;
    }
  }
  .project-item {
    .project-metro-date{
      top: 1.2rem;
      left: 1.4rem;
      @media (max-width: $mq767){
        top: 2.2rem;
        left: 2.4rem;
        font-size: 1.75rem;
      }
    }
    .project-metro-detail {
      padding: 0 1.2rem 1.4rem;
      @media (max-width: $mq767){
        padding: 0 2.2rem 2.4rem;
        font-size: 1.5rem;
        line-height: 1.2;
      }
      h2.project-metro-title {
        font-size: 3.5vmin;
        font-weight: 700;
        @media (max-width: $mq767){
          font-size: 7.5vmin;
          margin-bottom: .6rem;
          line-height: 1.1;
        }
      }
    }
  }
}

.home-piling .slide3 {
  .slide-container {
    // background: #fff;
    @media (min-width: $mq1400){
      padding-top: 15.666667vmin;
    }
  }
  .piling-project-list-title {
    margin-bottom: 2.777778vmin;
    @media (max-width: $mq767){
      font-size: 5.222222vmin;
    }
  }
  .piling-project-item {
    margin-bottom: -0.777778vmin;
    .piling-project-title {
      margin-bottom: 0.375rem;
      font-size: 3.6vmin;
      font-weight: 700;
      line-height: 1.2;
      @media (max-width: $mq767){
        font-size: 5.6vmin;
      }
    }
  }
}

.home-piling .slide-bg-circle{
  .inside {
    // background-image: url(../../img/piling-pic2.png);
    // background-color: #ddcccc;
    // background-color: rgb(232,217,242);
    background-image: linear-gradient(16deg, rgba(255,250,243,.7) 0%, rgba(255, 226, 223, 0.8) 50%, rgba(255, 226, 209, 0.8) 100%), url("../../img/piling-pic2.png");
    // background-color: linear-gradient(16deg, rgba(232,217,242,1) 0%, rgba(255,241,247,1) 50%, rgba(255,250,243,1) 100%), url(../../img/piling-pic2.png);
  }
  &.cir_sec {
    .inside {
      background-image: linear-gradient(180deg, rgba(255, 245, 223, 0.2) 0%, rgba(255, 239, 223, 0.6) 50%, rgba(209, 255, 241, 0.8) 100%), url("../../img/piling-pic2_2.png");
    }
  }
}


.rounded-icon {
  @media (max-width: $mq767){
    min-width: 4rem;
    min-height: 4rem;
  }
  &.down {
    top: -2rem;
    left: -2rem;
    float: right;
    @media (max-width: $mq767){
      top: -2rem;
      left: -8rem;
    }
  }
  .icon-quote {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2.125rem;
    height: 2.125rem;
    background: url("../../img/icon-quote.png") 50% 50% no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%);
    &.flip {
      transform: scaleX(-1);
      left: 23%;
      top: 20%;
    }
  }
}


.tooltip_qr {
  position: relative;
  display: inline-block;
  border-bottom: 0px dotted black;
  .tooltiptext {
    padding: .4rem !important;
    visibility: hidden;
    width: fit-content;
    background: rgba(255, 255, 255, .5);
    color: #fff;
    text-align: center;
    border-radius: 0;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    img {
      max-width: 100%;
      height: auto;
    }
    .control-icon i:before {
      font-size: 1.6rem;
      margin-top: -6px;
      color: $main_light_2;
    }
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 20%;
      margin-left: -8px;
      border-width: 8px;
      border-style: solid;
      border-color: rgb(255, 255, 255) transparent transparent transparent;
    }
  }
  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

.hero-social-warp .tooltip_qr {
  .tooltiptext {
    bottom: -400%;
    left: 90%;
    transform: rotate(-270deg);
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: -10%;
      margin-left: -8px;
      border-width: 8px;
      border-style: solid;
      border-color: rgb(255, 255, 255) transparent transparent transparent;
      transform: rotate(90deg);
    }
    @media screen and (max-width: $mq575) {
      transform: rotate(0deg);
      left: 50%;
      &:after {
        content: "";
        position: absolute;
        top: -10%;
        left: 50%;
        margin-left: -8px;
        border-width: 8px;
        border-style: solid;
        border-color: rgb(255, 255, 255) transparent transparent transparent;
        transform: rotate(-180deg);
      }
    }
  }
}
.header-nav__social .tooltip_qr {
  .tooltiptext{
    background-color: hsla(0, 0%, 0%, 0.7);
    width: 130px;
    padding: 8px;
    img {
      margin-bottom: 0rem;
    }
  }
}


// like button heart
.kalp{
  margin-left: -2.6rem;
  margin-top: -2rem;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transform: scale(.8);
  @media (max-width: $mq767){
    margin-left: -3.2rem;
  }
}
.kalp{
    background-image: url('../img/aM8UN.png');
}
input:checked + .kalp{
    background-position: -2800px 0;
    transition: background 0.8s steps(28);
}




// 改 bootstrap 
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $main_light_2;
  border-color: $main_light_2;
}
.fancybox-show-thumbs .fancybox-thumbs {
  display: block;
  background: rgba(0, 0, 0, .6);
}


// 好像是開頭的
.slide-bg > .inside.bg1 {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition-delay: .8s;
  transition-delay: .8s;
}
.section.active .slide-bg > .inside.bg1 {
  -webkit-transform: scale(1);
  transform: scale(1);
}



