

@media (max-width: 768px){

}
@media (max-width: 480px){

}

h1.big, .h1_big {
  font-size: 5.2rem;
  line-height: 5.6rem;
  .smaller {
    font-size: 3.6rem;
    line-height: 2.6rem;
    @media (max-width: 480px){
      font-size: 1.8rem;
      line-height: 1.8rem;
    }
  }
  @media (max-width: 767px){
    
  }
  
  @media (max-width: 480px){
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
}
h1 {
  &.ultra-big {
    &.smaller{
      font-size: 5.8rem;
      line-height: 6rem;
      .text-line {
        font-size: 5.8rem;
      }
    }
    &.number {
      font-family: "Prompt", Helvetica, Arial, sans-serif;
    }
  }
}


// h1.ultra-big,
// h1.ultra-big .text-line {
//   display: inline-block;
//   font-size: 120px;
//   line-height: 1em;
//   margin-bottom: 0;
// }

header .logo-main {
  width: 148px;
}
.wm-carousel {
  padding-top: 75vh;
}
#de-carousel .mask {
  background: rgba(0, 2, 69, .55);
}

footer .logo img{
  width: 188px;
}


@-webkit-keyframes scaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.wow {
  visibility: hidden;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
@keyframes scaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



.rotate-animation{
   animation: rotate-animation 10s infinite linear;
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
