

@media (max-width: 768px){

}
@media (max-width: 480px){

}


.mobile_bg {
  &.jarallax-img {
    object-fit: none !important;
    object-position: 50% 0 !important;
  }
}
  
h1.big, .h1_big {
  font-size: 5.2rem;
  line-height: 5.6rem;
  .smaller {
    font-size: 3.6rem;
    line-height: 2.6rem;
    @media (max-width: 480px){
      font-size: 1.8rem;
      line-height: 1.8rem;
    }
  }
  @media (max-width: 767px){
    
  }
  
  @media (max-width: 480px){
    font-size: 3.2rem;
    line-height: 3.6rem;
  }
}



h1 {
  &.ultra-big {
    &.smaller{
      font-size: 5.8rem;
      line-height: 6rem;
      @media (max-width: 767px){
        font-size: 3.6rem;
        line-height: 4rem;
      }
      .text-line {
        font-size: 5.8rem;
        @media (max-width: 767px){
          font-size: 3.6rem;
          line-height: 4rem;
        }
      }
      i {
        font-size: 3.6rem;
        color: #0d6efd;
        line-height: 2.5rem;
        vertical-align: super;
        border: 1px solid #fff;
        border-radius: 50%;
        width: 3.6rem;
        height: 3.6rem;
        margin-top: 20px;
        padding: 4px 0 0 8px;
        margin-right: 8px;
        @media (max-width: 767px){
          vertical-align: middle;
          margin-top: 0;
        }
      }
    }
    &.number {
      font-family: "Prompt", Helvetica, Arial, sans-serif;
      span.text-line {
        margin-bottom: 0.5rem;
        @media (max-width: 767px){
          font-size: 5.5rem;
          line-height: 5rem;
          letter-spacing: -0.9rem;
          margin-bottom: 0.8rem;
        }
      }
    }
  }
}

h1, h1.ultra-big, 
  h1.ultra-big .text-line, 
  h1.ultra-big-2 {
    @media only screen and (max-width: 767px) {
      font-size: 10.5vw;
      line-height: 11.5vw;
      padding: 0;
    }
  }
  h2 {
    @media only screen and (max-width: 767px) {
      font-size: 8.5vw;
      line-height: 10vw;
      padding: 0;
    }
  }


p.lead.big{
  font-size: 1.4rem !important;
  @media (max-width: 480px){
    font-size: 1rem !important;
  }
}

.forPhone_br {
  @media (max-width: 767px){
    
  }
  br {
    display: none;
    @media (max-width: 767px){
      display: initial;
    }
  }
}
.forPhone_br_show {
  br {
    @media (max-width: 767px){
      display: none;
    }
  }
}

// h5.s2 {
//   br {
//     display: none;
//     @media (max-width: 767px){
//       display: initial;
//     }
//   }
// }

// h1.ultra-big,
// h1.ultra-big .text-line {
//   display: inline-block;
//   font-size: 120px;
//   line-height: 1em;
//   margin-bottom: 0;
// }

header .logo-main {
  width: 148px;
}
.wm-carousel {
  padding-top: 75vh;
}
#de-carousel .mask {
  background: rgba(0, 0, 0, .75);
}

footer .logo img{
  width: 188px;
}


@-webkit-keyframes scaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.wow {
  visibility: hidden;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
@keyframes scaleIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



.rotate-animation{
   animation: rotate-animation 10s infinite linear;
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bestAI {
    background: linear-gradient(to right,
            var(--primary-color) 20%,
            var(--secondary-color) 30%,
            var(--third-color) 50%,
            var(--primary-color) 70%,
            var(--secondary-color) 80%);
    // background: linear-gradient(to right,
    //         #5C33FF 20%,
    //         #00FFB1 30%,
    //         #5C33FF 70%,
    //         #00FFB1 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    // font-size: 64px;
    font-weight: 700;
    // line-height: 100px;
    background-size: 500% auto;
    animation: gradientMove 10s ease-in-out infinite alternate;
}
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


/* [ btn effect ] */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    position: relative;
    transition: all 0.2s;
    cursor: pointer;
    color: #FFF;
    z-index: 1;
    border-radius: 60px;
    background: linear-gradient(270deg, rgba(0, 255, 177, 0.75) 0%, rgba(0, 255, 177, 0.3) 50%);
    border: 2px solid transparent;
}
.button::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 60px;
    padding: 2px;
    background: linear-gradient(90deg, #5C33FF, #00FFB1);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: -1;
}
.button:active {
    transform: scale(0.97);
}
.hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    overflow: hidden;
    border-radius: 60px;
}
.hoverEffect span {
    background: linear-gradient(90deg, #5C33FF 0%, #00FFB1 100%);
    width: 12rem;
    height: 12rem;
    transition: 0.4s;
    filter: blur(20px);
    animation: effect infinite 3s linear;
    opacity: 0.8;
    overflow: hidden;
}
@keyframes effect {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

//New Material Design Icons 🎉 - Two Tone Color Tint
.material-icons-two-tone {
	// color: blue; // won't work
	// fill: blue; //won't work
	filter: invert(0.5) sepia(1) saturate(20) hue-rotate(180deg);
	font-size: 64px;
}
  
  .material-icons,
  .material-icons-outlined,
  .material-icons-round,
  .material-icons-sharp {
    color: #0072ff;
	// color: var(--primary-color);
	font-size: 64px;
  }

.de-pricing-s1 .d-deco-top{
  position: absolute;
  top:0;
  width: 250px;
  height: 250px;
  background: linear-gradient(135deg, rgba(var(--primary-color-rgb), 0.4) 0%, rgba(var(--primary-color-rgb), 0) 50%);
}

.de-pricing-s1 .d-deco-bottom{
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 0;
  right: 0;
  background: linear-gradient(-45deg, rgba(var(--secondary-color-rgb), 0.2) 0%, rgba(var(--secondary-color-rgb), 0) 50%);
}

.de-pricing-s1 .d-list {
  text-indent: -26px;
  padding-left: 22px;
}

// 取分 6 角 ------------------------
.indicator {
  .de-gradient-edge-top, .de-gradient-edge-bottom{
    z-index: -1;
  }
}

// 取分 3 模組 ------------------------
.module3 {
  .de-gradient-edge-top, .de-gradient-edge-bottom{
    z-index: initial;
  }
  h1 {
    margin-bottom: 0;
  }
  h2.sub_title {
    line-height: 2.2rem !important;
    span {
      font-size: 10rem;
      line-height: 0;
      letter-spacing: -20px;
      font-weight: 900;
      @media (max-width: 767px){
        font-size: 6rem;
        line-height: 0;
        letter-spacing: -12px;
      }
    }
  }
  h3 {
    line-height: 4rem;
    @media (max-width: 767px){
      font-size: 1.28rem;
      line-height: 1rem;
      margin-bottom: 2rem;
    }
    span{
      span{ 
        color: #8800ff;
        font-weight: 300;
      }
      
    }
  }
  .images-deco-1 {
    .d-img-1 {
      @media (max-width: 767px){
        width: 100%;
        margin: 0;
      }
    }
    .d-img-3 {
      width: 200px;
      height: 200px;
      position: absolute;
      bottom: 4rem;
      left: 20px;
      @media (max-width: 767px){
        display: none;
      }
    }
    .d-img-4 {
      width: 200px;
      height: 200px;
      position: absolute;
      z-index: 0;
      top: -3rem;
      right: -2rem;
      @media (max-width: 767px){
        display: none;
      }
    } 
    .d-img-2 {
      left: -3rem;
      @media (max-width: 767px){
        display: none;
      }
    }
    .d-img-5 {
      width: 200px;
      height: 200px;
      position: absolute;
      z-index: 0;
      bottom: 8px;
      left: 20px;
    } 
  }
}

// ４步驟 ------------------------
.features {
  .de_count {
    width: 75%;
    padding: 1.8rem 0 0 0;
    @media (max-width: 767px){
      width: 80%;
      padding: 0;
    }
    h2 {
      font-size: 1.6rem;
      line-height: 1.2;
      margin-bottom: 0.6rem;
      // margin-top: 1.6rem;
      // color: #b2c8ff;
    }
    h3 i {
      font-size: 3.6rem;
    }
    p {
      font-weight: 300;
    }
  }
  &.step4 {
    .de-gradient-edge-top, .de-gradient-edge-bottom{
      z-index: -1;
    }
    h1 {
      margin-bottom: 0;
    }
  }
  .img-fluid {
    &.ro180 {
      @media (max-width: 767px){
        transform: rotate(180deg);
      }
    }
  }
  .feat_mb {
    @media (max-width: 767px){
      margin-bottom: -3rem;
    }
  }
}