body {
  width: 100%;
  height: 100%;
  font-family: 微軟正黑體, 微软正黑体, Montserrat, "Open Sans", sans-serif;
}
.zjy {
  padding-bottom: 1.6rem;
}
.zjy .logo .logoimg {
  margin: 0.5rem auto 0.3rem auto;
  width: auto;
  height: 2rem;
  background: url('img/logo.svg') no-repeat center center;
  background-size: 100% 100%;
  margin-left: -.2rem;
}
.zjy .top-tab {
  position: relative;
  z-index: 11;
}
.zjy .top-tab .tabs-bg {
  display: flex;
  height: 1.4rem;
}
.zjy .top-tab .tabs-bg .left-tab {
  flex: 1;
  height: 1.4rem;
  background-color: #b5ebb7;
}
.zjy .top-tab .tabs-bg .right-tab {
  flex: 1;
  height: 1.4rem;
  background-color: #f4d79d;
}
.zjy .top-tab .tabs {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  font-size: 0.4rem;
  color: #FFFFFFA7;
  width: 100%;
}
.zjy .top-tab .tabs .left-tab {
  padding: 0.44rem 0.4rem;
  flex: 1;
  text-align: right;
}
.zjy .top-tab .tabs .left-tab.active {
  font-size: 0.6rem;
  color: #82715E;
  line-height: 0.6rem;
}
.zjy .top-tab .tabs .right-tab {
  padding: 0.44rem 0.4rem;
  flex: 1;
  text-align: left;
}
.zjy .top-tab .tabs .right-tab.active {
  font-size: 0.6rem;
  color: #82715E;
}
.zjy .top-tab .left-pic {
  position: absolute;
  width: 2.96rem;
  top: -1rem;
  height: 3.12rem;
  background: url('img/bear_left.svg') no-repeat center center;
  background-size: 100% 100%;
}
.zjy .top-tab .right-pic {
  position: absolute;
  right: 0;
  top: -1rem;
  width: 3rem;
  height: 2.8rem;
  background: url('img/bear_right.png') no-repeat center center;
  background-size: 100% 100%;
}
.zjy .top-swiper {
  width: 100%;
  height: 5.8rem;
}
.zjy .top-swiper .swiper-pagination-bullet {
  opacity: 1;
  background-color: #fff;
}
.zjy .top-swiper .swiper-pagination-bullet-active {
  background-color: #FF3F24;
}
.zjy .top-swiper .img-box {
  position: relative;
  width: 100%;
  height: 5.8rem;
  overflow: hidden;
}
.zjy .top-swiper .img-box img {
  width: 100%;
}
.zjy .top-swiper .img-box .time {
  padding: 0 0.16rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 0.36rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.zjy .top-row {
  display: flex;
  padding: 0.4rem 0.6rem;
  align-items: center;
}
.zjy .top-row .icon {
  margin-right: 0.2rem;
  width: 1.1rem;
  height: 0.98rem;
  background: url('../img/icon2.png') no-repeat center center;
  background-size: 100% 100%;
}
.zjy .top-row .icon2 {
  margin-right: 0.2rem;
  width: 1.02rem;
  height: 0.92rem;
  background: url('../img/icon2.svg') no-repeat center center;
  background-size: 100% 100%;
}
.zjy .top-row .icon3 {
  margin-right: 0.2rem;
  width: 1.3rem;
  height: 0.76rem;
  background: url('../img/icon1.png') no-repeat center center;
  background-size: 100% 100%;
}
.zjy .top-row .icon4 {
  margin-right: 0.2rem;
  width: 1rem;
  height: 1.22rem;
  background: url('../img/icon3.svg') no-repeat center center;
  background-size: 100% 100%;
}
.zjy .top-row .icon5 {
  margin-right: 0.2rem;
  width: 1.1rem;
  height: 0.98rem;
  background: url('../img/icon2.png') no-repeat center center;
  background-size: 100% 100%;
}
.zjy .top-row .icon6 {
  margin-right: 0.2rem;
  width: 1.1rem;
  height: 0.98rem;
  background: url('../img/abc.svg') no-repeat center center;
  background-size: 100% 100%;
}
.zjy .top-row .top-tit {
	font-weight:bold;
  flex: 2;
  font-size: 0.6rem;
  color: #FF3F24;
}
.zjy .top-row .more {
	font-weight:bold;
  font-size: 0.26rem;
  color: #5F5F5F;
}
.zjy .top-row .more .arrow {
  display: inline-block;
  margin-left: 0.2rem;
  width: 0.18rem;
  height: 0.34rem;
  background: url('../img/arrow.png') no-repeat center center;
  background-size: 100% 100%;
}
.zjy .videolist {
  padding-right: 0.6rem;
  overflow-x: auto;
  /*添加横向滚动条*/
  white-space: nowrap;
  /*不换行*/
  font-size: 0;
  margin-bottom: 0.56rem;
}
.zjy .videolist .video-contanier {
  margin-left: 0.4rem;
  width: 14.42rem;
  display: inline-block;
}
.zjy .videolist .video-contanier .img-box {
  width: 100%;
  height: 8.08rem;
  position: relative;
  overflow: hidden;
}
.zjy .videolist .video-contanier .img-box img {
  width: 100%;
}
.zjy .videolist .video-contanier .img-box .time {
  padding: 0 0.16rem;
  position: absolute;
  right: 0.4rem;
  bottom: 0.4rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 0.36rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.zjy .videolist .video-contanier .title {
  width: 100%;
  font-size: 0.44rem;
  color: #0D1904;
  padding: 0.36rem 0;
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
}
.zjy .videolist .video-contanier .tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.zjy .videolist .video-contanier .tags .tag {
  margin: 0 0.16rem 0.16rem 0;
  padding: 0.1rem 0.2rem;
  border-radius: 0.6rem;
  color: #fff;
  font-size: 0.3rem;
}
.zjy .videolist .video-contanier .tags .tag1 {
  background-color: #FFA49B;
}
.zjy .videolist .video-contanier .tags .tag2 {
  background-color: #FFB493;
}
.zjy .videolist .video-contanier .tags .tag3 {
  background-color: #FF8B7C;
}
.zjy .videolist .video-contanier .tags .tag4 {
  background-color: #FDBE73;
}
.zjy .videolist .video-contanier .tags .tag5 {
  background-color: #FA624D;
}
.zjy .videos1 .video-contanier {
  width: 7.5rem;
}
.zjy .videos1 .video-contanier .img-box {
  height: 4rem;
}
.bottom-video {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3.04rem;
  z-index: 99;
  background-color: #fff;
}
.bottom-video .progress-bar {
  width: 50%;
  height: 0.08rem;
  background-color: #FF3F24;
}
.bottom-video .content {
  display: flex;
  height: 4rem;
}
.bottom-video .content .imgbox {
  width: 5.2rem;
  height: 2.92rem;
  overflow: hidden;
}
.bottom-video .content .imgbox img {
  width: 100%;
}
.bottom-video .content .video-info {
  display: flex;
}
.bottom-video .content .video-info .info {
  width: 6.72rem;
  padding: 0.4rem;
}
.bottom-video .content .video-info .info .tit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 0.56rem;
  color: #4B4B4B;
}
.bottom-video .content .video-info .info .tit2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 0.4rem;
  color: #54545499;
}
.bottom-video .content .video-info .btns {
  text-align: center;
}
.bottom-video .content .video-info .btns .pause {
  margin-top: 1.3rem;
  margin-right: 0.72rem;
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  background: url('../img/pause.svg') no-repeat center center;
  background-size: 100% 100%;
}
.bottom-video .content .video-info .btns .close {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  background: url('../img/close.svg') no-repeat center center;
  background-size: 100% 100%;
}
.aside,
.aside-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.aside {
  -webkit-transition: visibility .25s;
  transition: visibility .25s;
  z-index: 101;
  visibility: hidden;
  overflow: hidden;
}
.aside.active {
  -webkit-transition: none;
  transition: none;
  visibility: visible;
}
.aside-overlay {
  background-color: #000000;
  opacity: 0;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}
.active > .aside-overlay {
  opacity: .6;
}
.rightContent {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-transition: transform .15s;
  transition: transform .15s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  overflow: auto;
}
.active > .rightContent {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.botContent {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: transform .15s, bottom .15s;
  transition: transform .15s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.active > .botContent {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
#bvideobox {
  position: absolute;
  left: 0;
  top: 0;
}
#bvideobox .tit {
  padding-left: 0.6rem;
  position: absolute;
  top: 0;
  font-size: 0.76rem;
  color: #fff;
}
#topvideobox .back {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  background: url('../img/back.svg') no-repeat center center;
  background-size: 100% 100%;
}
#minibottomvideo {
  display: none;
}
#asideright .video-tit,
.detailsvideo .video-tit {
  display: flex;
  padding: 0.4rem 0.8rem;
}
#asideright .video-tit .tit,
.detailsvideo .video-tit .tit {
  display: inline-block;
  flex: 1;
  font-size: 0.8rem;
  color: #4B4B4B;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#asideright .video-tit .arrow,
.detailsvideo .video-tit .arrow {
  display: inline-block;
  width: 0.96rem;
  height: 0.8rem;
  background: url('../img/arrow1.svg') no-repeat center center;
  background-size: 100% 100%;
}
#asideright .video-tit .arrow2,
.detailsvideo .video-tit .arrow2 {
  position: relative;
  top: -2px;
  transform: rotate(180deg);
}
#asideright .tit-detail,
.detailsvideo .tit-detail {
  padding: 0 0.8rem 0.4rem 0.8rem;
  font-size: 0.52rem;
  color: #4B4B4B;
  border-bottom: 1px solid #eeeeee;
}
#asideright .details,
.detailsvideo .details {
  padding: 0.4rem 0.8rem;
  font-size: 0.44rem;
  color: #26170FA5;
}
#asideright .tags,
.detailsvideo .tags {
  margin-top: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#asideright .tags .tag,
.detailsvideo .tags .tag {
  margin: 0 0.16rem 0.16rem 0;
  padding: 0.1rem 0.2rem;
  border-radius: 0.6rem;
  color: #fff;
  font-size: 0.3rem;
}
#asideright .tags .tag1,
.detailsvideo .tags .tag1 {
  background-color: #FFA49B;
}
#asideright .tags .tag2,
.detailsvideo .tags .tag2 {
  background-color: #FFB493;
}
#asideright .tags .tag3,
.detailsvideo .tags .tag3 {
  background-color: #FF8B7C;
}
#asideright .tags .tag4,
.detailsvideo .tags .tag4 {
  background-color: #FDBE73;
}
#asideright .tags .tag5,
.detailsvideo .tags .tag5 {
  background-color: #FA624D;
}
#asideright .tuijie,
.detailsvideo .tuijie {
  padding: 0.6rem 0.8rem;
  font-size: 0.72rem;
  color: #4B4B4B;
}
#asideright .tuijie-list,
.detailsvideo .tuijie-list {
  overflow: hidden;
  padding: 0.2rem;
}
#asideright .tuijie-list .imgbox,
.detailsvideo .tuijie-list .imgbox {
  position: relative;
  float: left;
  width: 4.52rem;
  height: 4.58rem;
  overflow: hidden;
}
#asideright .tuijie-list .imgbox img,
.detailsvideo .tuijie-list .imgbox img {
  width: 100%;
}
#asideright .tuijie-list .imgbox .time,
.detailsvideo .tuijie-list .imgbox .time {
  padding: 0 0.16rem;
  position: absolute;
  right: 0.2rem;
  bottom: 0.2rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 0.36rem;
  background-color: rgba(0, 0, 0, 0.7);
}
#asideright .tuijie-list .info,
.detailsvideo .tuijie-list .info {
  float: right;
  width: 9.58rem;
  font-size: 0.54rem;
  color: #140F26;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
#asideright .tuijie-list .count,
.detailsvideo .tuijie-list .count {
  font-size: 0.4rem;
  color: #6C7B8A;
}
#asideright #detailstxt,
.detailsvideo #detailstxt {
  display: none;
}
.detail2 .top-row {
  display: flex;
  padding: 0.4rem 0.6rem;
  align-items: center;
}
.detail2 .top-row .back {
  margin-left: 0.6rem;
  width: 0.76rem;
  height: 0.86rem;
  background: url('../img/btn_left.svg') no-repeat center center;
  background-size: 100% 100%;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.detail2 .top-row .share {
  width: 0.8rem;
  height: 0.8rem;
  background: url('../img/btn_more.svg') no-repeat center center;
  background-size: 100% 100%;
}
.detail2 .top-row .icon {
  margin-right: 0.2rem;
  width: 1.1rem;
  height: 0.98rem;
  background: url('../img/icon2.png') no-repeat center center;
  background-size: 100% 100%;
}
.detail2 .top-row .icon2 {
  margin-right: 0.2rem;
  width: 1.02rem;
  height: 0.92rem;
  background: url('../img/icon2.svg') no-repeat center center;
  background-size: 100% 100%;
}
.detail2 .top-row .icon3 {
  margin-right: 0.2rem;
  width: 1.3rem;
  height: 0.76rem;
  background: url('../img/icon1.png') no-repeat center center;
  background-size: 100% 100%;
}
.detail2 .top-row .icon4 {
  margin-right: 0.2rem;
  width: 1rem;
  height: 1.22rem;
  background: url('../img/icon3.svg') no-repeat center center;
  background-size: 100% 100%;
}
.detail2 .top-row .icon5 {
  margin-right: 0.2rem;
  width: 1.1rem;
  height: 0.98rem;
  background: url('../img/icon2.png') no-repeat center center;
  background-size: 100% 100%;
}
.detail2 .top-row .icon6 {
  margin-right: 0.2rem;
  width: 1.1rem;
  height: 0.98rem;
  background: url('../img/abc.svg') no-repeat center center;
  background-size: 100% 100%;
}
.detail2 .top-row .top-tit {
	font-weight:bold;
  flex: 2;
  font-size: 0.6rem;
  color: #FF3F24;
}
.detail2 .top-row .more {
  font-size: 0.56rem;
  color: #5F5F5F;
}
.detail2 .top-row .more .arrow {
  display: inline-block;
  margin-left: 0.2rem;
  width: 0.18rem;
  height: 0.34rem;
  background: url('../img/arrow.png') no-repeat center center;
  background-size: 100% 100%;
}
.detail2 .video-box {
  position: relative;
  width: 100%;
  height: 8.4rem;
  background-color: #000000;
  overflow: hidden;
}
.detail2 .video-box img {
  width: 100%;
}
.detail2 .video-box video {
  width: 100%;
  height: 100%;
}
.detail2 .video-box .time {
  padding: 0 0.16rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 0.36rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.detail2 .details-info {
  padding: 0.4rem 0.8rem;
}
.detail2 .details-info .video-tit {
  color: #4B4B4B;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 0.8rem;
}
.detail2 .details-info .tit-detail {
  font-size: 0.52rem;
  color: #4B4B4B;
}
.detail2 .tags {
  margin-top: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.detail2 .tags .tag {
  margin: 0 0.16rem 0.16rem 0;
  padding: 0.1rem 0.2rem;
  border-radius: 0.6rem;
  color: #fff;
  font-size: 0.3rem;
}
.detail2 .tags .tag1 {
  background-color: #FFA49B;
}
.detail2 .tags .tag2 {
  background-color: #FFB493;
}
.detail2 .tags .tag3 {
  background-color: #FF8B7C;
}
.detail2 .tags .tag4 {
  background-color: #FDBE73;
}
.detail2 .tags .tag5 {
  background-color: #FA624D;
}
