@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,900,900i|Open+Sans:400,700,700i,800,800i&display=swap");
.hhide {
  display: none;
}

@media (min-width: 1024px) {
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px 10px;
    font-size: 18px;
    line-height: 20px;
  }
  nav.navbar.bootsnav ul.nav > li > a {
    padding: 30px 15px 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
  nav.navbar .navbar-brand {
    margin-top: 3px;
  }
  nav.navbar .navbar-brand img.logo.logo-display {
    width: 160px;
  }
  nav.navbar .navbar-brand img.logo.logo-scrolled {
    width: 140px;
    margin-top: -2px;
  }
  nav.navbar.bootsnav.menu-center.navbar-fixed.navbar-transparent .navbar-header {
    position: relative;
    width: 100%;
  }
  nav.navbar.bootsnav.navbar-fixed.navbar-transparent .logo-display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  nav.navbar.bootsnav.navbar-fixed .logo-scrolled {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  nav.navbar.bootsnav.menu-center .attr-nav {
    position: absolute;
    bottom: -68px;
  }
  .attr-nav > ul > li.dropdown ul.dropdown-menu {
    margin-top: 0;
    margin-left: 45px;
    width: 180px;
    left: -180px;
  }
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu .menu_flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.bootsnav .megamenu-content .title {
  margin-top: 16px;
  font-size: 1.6rem;
}

.menu_flex .col-menu a:hover, .menu_flex .col-menu a:hover .title {
  color: #a90300 !important;
  text-decoration: none;
}

.menu_flex .col-menu a:hover .img-fluid {
  opacity: .5;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.menu_flex .col-menu a:hover div:nth-child(1) {
  background: #020024;
  background: linear-gradient(-45deg, #FFD9CC 0%, #ff8484 35%, #ff0000 100%);
}

.navbar {
  padding: 0;
}

.p_n {
  padding-right: 0;
  padding-left: 0;
}

.attr-nav ul li.dropdown .dropdown-toggle::after {
  display: none !important;
}

.attr-nav > ul > li > a {
  padding: 30px 10px 12px;
  font-weight: 600;
}

.attr-nav > ul > li > a span.badge {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 5px;
  font-size: 10px;
  padding: 0;
  width: 15px;
  height: 15px;
  padding-top: 2px;
}

ul.cart-list {
  padding: 0 !important;
  width: 180px !important;
}

ul.cart-list > li {
  position: relative;
  border-bottom: solid 1px #efefef;
  padding: 15px 22px !important;
}

ul.cart-list > li:hover {
  background-color: #ececec;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

ul.cart-list > li:hover a {
  color: #FF3700;
}

ul.cart-list > li > h6 > a {
  color: #6f6f6f;
}

ul.cart-list > li > h6 > a > i {
  vertical-align: middle;
}

.section {
  position: relative;
}

.hot_search {
  margin-top: 122px;
  text-align: center;
  padding-top: 122px;
  color: #9D9081;
  font-weight: 700;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.hot_search .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-left: 10px;
}

.hot_search .tag div {
  margin-left: 5px;
  cursor: pointer;
  color: #F56F4A;
  border: 1px solid #F56F4A;
  border-radius: 50px;
  padding: 0 12px;
  font-size: 11px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.hot_search .tag div:hover, .hot_search .tag div:focus {
  color: #fff;
  background: #F56F4A;
}

/*=========================================================
	POST 修改
===========================================================*/
.hot-post .blog_second .post-title.title-lg {
  font-size: 2.6rem;
  line-height: 2.8rem;
}

.hot-post .post .post-body .post-title {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.55);
}

.hot-post .post:hover .post-body .post-title, .hot-post .post:focus .post-body .post-title {
  color: #fff;
}

.post .btn_play {
  background: #fff;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 15px;
  left: 15px;
  padding-left: 8px;
  color: #392F22;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.post .btn_play:hover, .post .btn_play:focus {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}

.post .btn_play i {
  line-height: 45px;
  font-size: 2.8rem;
}

.smallCard {
  color: #585858;
  font-weight: 700;
  margin-bottom: 25px;
}

.smallCard .post.post-widget .post-title {
  font-size: 1.8rem;
  margin-bottom: 0px;
  line-height: 2rem;
  letter-spacing: 0px;
}

.smallCard .post-category {
  margin-bottom: 10px;
  margin-top: 4px;
}

.smallCard .post-category a {
  color: #96989b;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.smallCard .post-category a:after {
  content: '•';
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.smallCard .post-category a:last-of-type:after {
  content: '';
}

.smallCard .post-category a:hover, .smallCard .post-category a:focus {
  color: #FF3700;
}

.smallCard .post-category .post-meta.tag_box {
  margin-top: 6px;
}

.smallCard .post-category .post-meta.tag_box a {
  color: #fff;
  font-size: 11px;
}

.smallCard .post-category .post-meta.tag_box a:after {
  content: '';
  display: inline-block;
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.smallCard .post .btn_play {
  background: #fff;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 8px;
  left: 8px;
  padding-left: 8px;
  color: #392F22;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.smallCard .post .btn_play i {
  line-height: 40px;
  font-size: 2.4rem;
}

.smallCard .post .btn_play:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}

.actCard {
  color: #585858;
  font-weight: 700;
  margin-bottom: 25px;
}

.actCard .post.post-row .post-title {
  font-size: 2.2rem;
  margin-bottom: 0px;
  line-height: 2.5rem;
  letter-spacing: 0px;
}

.actCard .post.post-row .post-title.title_act:after {
  content: 'S';
  font-family: 'PWSmallIcons';
  color: #C4B7A84D;
  font-size: 25rem;
  font-weight: 100;
  right: 0px;
  position: absolute;
}

.actCard .post.post-row .post-title.title_speech:after {
  content: 'P';
  font-family: 'PWSmallIcons';
  color: #C4B7A84D;
  font-size: 25rem;
  font-weight: 100;
  right: 0px;
  position: absolute;
  top: 60px;
}

.actCard .post-meta.tag_box {
  margin-top: 10px;
}

.actCard .post-category {
  margin-bottom: 10px;
  margin-top: 4px;
}

.actCard .post-category .post-meta a {
  color: #96989b;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.actCard .post-category .post-meta a:after {
  content: '•';
  display: inline-block;
  padding-left: 0px;
  padding-right: 5px;
}

.actCard .post-category .post-meta a:last-of-type:after {
  content: '';
}

.actCard .post-category .post-meta a:hover, .actCard .post-category .post-meta a:focus {
  color: #FF3700 !important;
}

.actCard .post-thumb {
  margin-bottom: 50px;
}

.actCard .post-thumb .post-title {
  font-size: 3rem;
  margin-bottom: 0px;
  line-height: 2.8rem;
  letter-spacing: 0px;
}

.actCard .post-thumb .post-body {
  bottom: 8%;
}

.actCard .post-thumb .post-meta li a:hover, .actCard .post-thumb .post-meta li a:focus {
  color: rgba(255, 255, 255, 0.5) !important;
}

.actCard .post-thumb .post-meta li.tag a {
  padding: 5px 12px;
  font-size: 11px;
}

.actCard .post-thumb.actCard_big .post-body .post-title {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.55);
}

.actCard .post-thumb.actCard_big:hover .post-body .post-title, .actCard .post-thumb.actCard_big:focus .post-body .post-title {
  color: #fff;
}

.tvBox {
  padding: 0 20px 25px;
  border: 1px solid #F7D0CB;
}

.tvBox .section-title {
  padding: 40px 10px 10px;
  text-align: right;
  background: -webkit-gradient(linear, right top, left top, from(#ff8572), to(#ffc3b4));
  background: linear-gradient(-90deg, #ff8572 0%, #ffc3b4 100%);
  overflow: hidden;
  margin-right: -20px;
  margin-left: -20px;
}

.tvBox .section-title:after {
  font-family: 'PWSmallIcons';
  content: "w";
  display: inline-block;
  position: absolute;
  right: 50px;
  color: #fff;
  font-size: 10rem;
  font-weight: 100;
  top: 19px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.tvBox .section-title .title {
  font-size: 1.8rem;
  color: #fff;
  padding-right: 0px;
  line-height: initial;
  padding-right: 11rem;
  font-weight: 700;
}

.tvBox .post.post-widget {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.tvBox .post.post-widget a {
  position: relative;
  width: 80px;
  border-radius: 50%;
}

.tvBox .post.post-widget a.post-img.w100 {
  width: 100% !important;
  border-radius: 0% !important;
}

.tvBox .post.post-widget .post-body {
  position: relative;
  background: transparent;
  margin: 0px 0px 0px 95px;
  padding: 0;
}

.tvBox .post.post-widget .post-body .post-title {
  font-size: 16px;
  margin-bottom: 0px;
  position: absolute;
  margin: auto;
  top: 28px;
  bottom: 0px;
  line-height: 2.2rem;
}

.tvBox .post.post-widget:hover .post-body .post-title {
  color: #FF3700;
}

.related .post.post-sm .post-title.title-sm {
  font-size: 1.7rem;
  line-height: 2.1rem;
}

.related .post.post-sm .post-meta a {
  color: #96989b;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.related .post.post-sm .post-meta a:hover, .related .post.post-sm .post-meta a:focus {
  color: #FF3700 !important;
}

.related .post-meta.tag_box {
  margin-top: 10px;
}

.related .post-meta.tag_box li.tag a {
  font-size: 1.1rem;
  border-radius: 30px;
  margin-right: 3px;
  padding: 5px 12px;
  color: #fff;
}

.related .post-meta.tag_box li.tag a:hover, .related .post-meta.tag_box li.tag a:focus {
  color: rgba(255, 255, 255, 0.5) !important;
}

.related .post-meta.tag_box li.tag a:after {
  display: none;
}

blockquote.blockquote {
  margin: 20px 0px 20px;
}

blockquote.blockquote p {
  font-size: 1.7rem;
  line-height: 2.6rem;
}

blockquote.blockquote:before {
  content: '*';
  font-family: 'PWSmallIcons';
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  border-radius: 50%;
  color: #FF3700;
  font-size: 8rem;
  background: #fff;
  border: 2px solid #e8eaed;
  float: left;
  margin-right: 18px;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

@media screen and (max-width: 576px) {
  blockquote.blockquote {
    margin: 0px 0px 0px;
  }
}

/*=========================================================
  button Sacnite
===========================================================*/
.button_round {
  float: left;
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.button_round i {
  text-align: center;
  font-size: 4rem;
  line-height: 6.8rem;
  width: 80px;
  color: #FF3700;
}

.button_round i:hover {
  color: #fff;
}

.button--round-l {
  border-radius: 40px;
}

.button_round.button--sacnite {
  width: 80px;
  height: 80px;
  min-width: 0;
  padding: 0;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.button--scanite.button--round-l {
  border-radius: 50%;
}

.button--sacnite.button--inverted {
  color: #37474f;
}

.button--sacnite::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
  -webkit-box-shadow: inset 0 0 0 35px rgba(255, 255, 255, 0.6);
          box-shadow: inset 0 0 0 35px rgba(255, 255, 255, 0.6);
  -webkit-transform: scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1);
  -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
  -webkit-transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  border: 5px solid #fff;
}

.button--sacnite.button--inverted::before {
  -webkit-box-shadow: inset 0 0 0 35px #fff;
          box-shadow: inset 0 0 0 35px #fff;
}

.button--sacnite .button__icon {
  font-size: 22px;
  width: 22px;
}

.button--sacnite > span {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.button--sacnite:hover {
  color: #37474f;
}

.button--sacnite.button--inverted:hover {
  color: #fff;
}

.button--sacnite:hover::before {
  -webkit-box-shadow: inset 0 0 0 4px #fe8874;
          box-shadow: inset 0 0 0 4px #fe8874;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.button--sacnite.button--inverted:hover::before {
  -webkit-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
}

/*=========================================================
  footer
===========================================================*/
.contact-social li a i {
  border-radius: 50%;
  margin: 0;
  padding: 20px;
  font-size: 2rem;
  margin-top: -9px;
  margin-left: -9px;
}

.footer-widget .footer-title {
  color: #392F22;
  font-size: 1.2rem;
}

.footer-copyright {
  font-size: 1.2rem;
}

#footer .mr {
  margin-left: 3.5rem;
}

/*=========================================================
  修改 Modal
===========================================================*/
.signIn .modal-content .modal-header {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 0px solid #e5e5e5;
}

.signIn .nav-tabs {
  border-bottom: 1px solid #ddd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signIn .modal-body {
  position: relative;
  padding: 0px 30px 30px;
  margin-top: -20px;
}

.signIn .nav > li > a:focus,
.signIn .nav > li > a:hover {
  text-decoration: none;
  background-color: #fff;
}

.signIn .nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
  color: #FF3700;
}

.signIn .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 0px solid transparent;
  border-radius: 0px 0px 0 0;
  font-size: 1.6rem;
}

.signIn .nav-tabs > li.active > a,
.signIn .nav-tabs > li.active > a:focus,
.signIn .nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 0px solid #ddd;
  border-bottom-color: transparent;
  border-bottom: 5px solid #FF3700;
  font-weight: 700;
}

.signIn .tab-content {
  text-align: center;
}

.signIn .login_content {
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 28px;
  margin-bottom: -4px;
}

.signIn .login_content img {
  height: 175px;
  width: 175px;
  float: none;
  margin: auto;
}

.signIn .login_content .login_info {
  display: block;
}

.signIn .login_content .login_info a {
  color: #FF3700;
  cursor: pointer;
  font-weight: 700;
}

.signIn .login_content .login_info .pw {
  float: right;
}

.signIn .login_content input {
  margin-bottom: 20px;
}

.signIn .login_content .mt_70 {
  margin-top: 80px;
}

.signIn .login_sign_box .modal-title {
  border-bottom: 1px solid #ddd;
  color: #96989b;
  padding-bottom: 6px;
}

.signIn .login_sign_box .login_sign {
  margin-top: 30px;
}

.signIn .login_sign_box .login_sign .form-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
  .signIn .login_sign_box .login_sign .form-horizontal {
    display: contents;
  }
}

.signIn .login_sign_box .login_sign .form-horizontal label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 12px;
}

@media screen and (max-width: 576px) {
  .signIn .login_sign_box .login_sign .form-horizontal label {
    margin-top: 10px;
    padding-left: 0px;
  }
}

.signIn .login_sign_box .login_sign .form-horizontal input {
  width: 100%;
}

.signIn .login_sign_box .login_sign .form-horizontal .iti {
  position: relative;
  display: inline-block;
  width: 100%;
}

.signIn .login_sign_box .login_sign .text_s {
  text-align: center;
}

.signIn .login_sign_box .login_sign .text_s .login_info {
  display: block;
}

.signIn .login_sign_box .login_sign .text_s .login_info a {
  color: #FF3700;
  cursor: pointer;
  font-weight: 700;
}

.signIn .login_sign_box .login_sign .text_s .login_info .pw {
  float: right;
}

.signIn .login_sign_box .login_sign .text_s .login_info.mt_70 {
  margin-top: 80px;
}

.signIn .login_sign_box .login_sign .text_s .login_info.pw {
  float: right;
}

.signIn .login_info_box .login_sign {
  margin-top: 30px;
}

.signIn .login_info_box .login_sign .form-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
  .signIn .login_info_box .login_sign .form-horizontal {
    display: contents;
  }
}

.signIn .login_info_box .login_sign .form-horizontal .checkbox .checkbox-btn {
  margin-right: 20px;
}

.signIn .login_info_box .login_sign .form-horizontal .checkbox .checkbox-btn label {
  font-size: 100%;
  padding-left: 8px;
}

.signIn .login_info_box .login_sign .form-horizontal label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 12px;
  padding-left: 0px;
}

@media screen and (max-width: 576px) {
  .signIn .login_info_box .login_sign .form-horizontal label {
    margin-top: 10px;
    padding-left: 0px;
  }
}

.signIn .login_info_box .login_sign .form-horizontal input {
  width: 100%;
}

.signIn .login_info_box .login_sign .form-horizontal input.fix_content {
  width: initial;
}

.signIn .login_info_box .login_sign .form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  width: 100% !important;
}

.signIn .login_info_box .login_sign .form-horizontal .form-group .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}

.signIn .login_info_box .login_sign .form-horizontal .form-group .btn {
  border-radius: 2px;
}

.signIn .login_info_box .login_sign .form-horizontal .form-group .btn .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 6px dashed;
  border-top: 4px solid\9;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  color: #FF3700;
}

.signIn .login_info_box .login_sign .form-horizontal .form-group .btn.dropdown-toggle::after {
  display: none;
}

.signIn .login_info_box .login_sign .form-horizontal .form-group .form-control {
  border-radius: 0px;
}

.signIn .login_info_box .login_sign .form-horizontal .form-group .form-control:focus {
  border-color: #fe9384;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 152, 137, 0.5);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 152, 137, 0.5);
}

.signIn .login_info_box .login_sign .form-horizontal .form-group .dropdown-menu > .active > a, .signIn .login_info_box .login_sign .form-horizontal .form-group .dropdown-menu > .active > a:focus, .signIn .login_info_box .login_sign .form-horizontal .form-group .dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ff7e6c;
  outline: 0;
}

.signIn .login_info_box .login_sign .text_s {
  text-align: left;
}

.signIn .login_info_box .login_sign .text_s .login_info {
  display: block;
}

.signIn .login_info_box .login_sign .text_s .login_info a {
  color: #FF3700;
  cursor: pointer;
  font-weight: 700;
}

.signIn .login_info_box .login_sign .text_s .login_info .pw {
  float: right;
}

.signIn .login_info_box .login_sign .text_s .login_info.mt_70 {
  margin-top: 80px;
}

.signIn .login_info_box .login_sign .text_s .login_info.pw {
  float: right;
}

/*=========================================================
  category  
===========================================================*/
.category .category_title {
  font-size: 2.8rem;
  line-height: 36px;
  text-align: center;
  margin: 15px;
  color: #392F22;
  font-weight: 700;
}

.category.blog3 .post .post-title.title-lg {
  font-size: 2.3rem;
  color: #fff;
  line-height: 2.6rem;
  margin-bottom: 0;
}

.category.blog3 .post-category .photo {
  float: left;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 20px;
}

/*=========================================================
  修改 slideShow    
===========================================================*/
.single-slide .blog-thumbnail {
  display: block;
  overflow: hidden;
}

.single-slide .blog-thumbnail a > img {
  -webkit-transition: 1.6s -webkit-transform;
  transition: 1.6s -webkit-transform;
  transition: 1.6s transform;
  transition: 1.6s transform, 1.6s -webkit-transform;
}

.single-slide .blog-thumbnail:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 28, 30, 0)), color-stop(90%, rgba(27, 28, 30, 0.6)));
  background: linear-gradient(180deg, rgba(27, 28, 30, 0) 0%, rgba(27, 28, 30, 0.6) 90%);
}

.single-slide .blog-thumbnail:hover a > img {
  -webkit-transition: 1.6s -webkit-transform;
  transition: 1.6s -webkit-transform;
  transition: 1.6s transform;
  transition: 1.6s transform, 1.6s -webkit-transform;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.single-slide .post-body {
  position: absolute;
  left: 0;
  bottom: 3%;
  margin: 0px;
  padding: 0px 5%;
  color: #fff;
}

.single-slide .post-body .post-meta li {
  display: inline-block;
  color: inherit;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.single-slide .post-body h3 {
  margin-top: 10px;
  color: inherit;
}

.responsive {
  width: 100%;
  height: auto;
}

.slideW100 .carousel-inner .post_body_text.sty_a {
  background: -webkit-gradient(linear, left bottom, left top, from(#ff8572), to(#ffc3b4));
  background: linear-gradient(0deg, #ff8572 0%, #ffc3b4 100%);
}

.slideW100 .carousel-inner .post_body_text.sty_b {
  background: -webkit-gradient(linear, left bottom, left top, from(#7CCED5), to(#BEFCFF));
  background: linear-gradient(0deg, #7CCED5 0%, #BEFCFF 100%);
}

.slideW100 .carousel-inner .post_body_text.sty_c {
  background: -webkit-gradient(linear, left bottom, left top, from(#ffb939), to(#ffeeb4));
  background: linear-gradient(0deg, #ffb939 0%, #ffeeb4 100%);
}

.slideW100 .carousel-inner .post_body_text.sty_d {
  background: -webkit-gradient(linear, left bottom, left top, from(#72b954), to(#c9ecad));
  background: linear-gradient(0deg, #72b954 0%, #c9ecad 100%);
}

.slideW100 .carousel-inner .post_body_text .post-body {
  padding: 8rem 6rem 6rem 10rem;
  position: absolute;
  bottom: 0;
  color: #fff;
}

@media screen and (max-width: 576px) {
  .slideW100 .carousel-inner .post_body_text .post-body {
    padding: 3rem 4rem 2rem 4rem;
    position: relative;
    bottom: 0;
    color: #fff;
    height: 22rem;
  }
}

.slideW100 .carousel-inner .post_body_text .post-body h3 {
  margin-top: 16px;
  color: inherit;
  font-size: 3.6rem;
  line-height: 3.8rem;
}

@media screen and (max-width: 576px) {
  .slideW100 .carousel-inner .post_body_text .post-body h3 {
    font-size: 3rem;
    line-height: 3.2rem;
  }
}

.slideW100 .carousel-inner .post_body_text .post-body .post-meta li {
  color: inherit;
}

.slideW100 .carousel-indicators li {
  margin-right: 10px;
}

.slideW100 .carousel-indicators li.active {
  margin-right: 10px;
}

.slideW100 .carousel-control {
  width: 10%;
  opacity: .3;
}

.slideW100 .carousel-control:focus, .slideW100 .carousel-control:hover {
  opacity: .8;
}

.slideW100 .carousel-control i {
  font-size: 4rem;
  line-height: 4rem;
  color: #392F22;
  font-family: 'Font Awesome 5 Free';
  width: 75px;
  height: 75px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
}

.slideW100 .carousel-control.left {
  background-image: none;
  text-shadow: none;
}

.slideW100 .carousel-control.left i {
  left: 0;
}

.slideW100 .carousel-control.left i:before {
  left: 22px;
  position: absolute;
  top: 14px;
}

.slideW100 .carousel-control.right {
  background-image: none;
  text-shadow: none;
}

.slideW100 .carousel-control.right i {
  right: 0;
}

.slideW100 .carousel-control.right i:before {
  right: 22px;
  position: absolute;
  top: 14px;
}

/*=========================================================
	修改 PAGE HEADER
===========================================================*/
#post-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.page-header {
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-bottom: 2rem;
  min-height: calc(100vh - 185px);
  position: relative;
}

.page-header .page-header-bg {
  background: url(../images/article_img_c_main_2.jpg) no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 576px) {
  .page-header .page-header-bg {
    background-position: center !important;
    background-size: cover;
  }
}

.page-header .page-header-bg:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 28, 30, 0)), color-stop(90%, rgba(0, 0, 0, 0.4)));
  background: linear-gradient(180deg, rgba(27, 28, 30, 0) 0%, rgba(0, 0, 0, 0.4) 90%);
  height: 35%;
  margin: auto;
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .page-header .page-header-bg:after {
    height: 45%;
  }
}

.page-header .container {
  position: absolute;
  margin: auto;
  left: 0;
  bottom: 4rem;
  right: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .page-header .container {
    bottom: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .page-header h1 {
    font-size: 2.8rem;
    line-height: 3rem;
  }
}

.author .post-category .post-meta.author_box {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 576px) {
  .author .post-category .post-meta.author_box {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

.author .post-category .post-meta.author_box a {
  font-size: 2.2rem;
}

@media screen and (max-width: 576px) {
  .author .post-category .post-meta.author_box a {
    font-size: 1.6rem;
  }
}

.author .post-category .post-meta.author_box li:after {
  content: '•';
  display: inline-block;
  padding-left: 8px;
  padding-right: 5px;
  vertical-align: top;
}

.author .post-category .post-meta.author_box li:last-child:after {
  display: none;
}

.author .post-category .post-meta.tag_box {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 576px) {
  .author .post-category .post-meta.tag_box {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

.author .post-category .post-meta.tag_box a {
  font-size: 1.4rem;
}

@media screen and (max-width: 576px) {
  .author .post-category .post-meta.tag_box a {
    font-size: 11px;
  }
}

.author .post-category .post-meta.tag_box li:after {
  display: none;
}

.author .post-category .post-meta.tag_box li:first-child:after {
  content: '•';
  display: inline-block;
  padding-left: 8px;
  padding-right: 5px;
  vertical-align: top;
}

.author .post-category .post-meta.tag_box li.btn_like:after {
  content: ' ┃ ';
  display: inline-block;
  padding-left: 5px;
  padding-right: 8px;
}

.author .post-category .author-social {
  margin-top: 2rem;
}

@media screen and (max-width: 576px) {
  .author .post-category .author-social {
    margin-top: 1rem;
  }
}

.author .post-category .author-social li {
  display: inline-block;
  margin-right: 16px;
}

.author .post-category .author-social li a:hover, .author .post-category .author-social li a:focus {
  color: #FF3700;
}

@media screen and (max-width: 576px) {
  .author .author-img {
    width: 60px;
  }
}

/*=========================================================
	修改 Content - article
===========================================================*/
.article h3 {
  font-size: 3rem;
  line-height: 3.5rem;
}

.article h5 span {
  color: #FF3700;
  margin-left: 10px;
}

.article .blockquote:before {
  content: 'o';
  font-family: 'PWSmallIcons';
  width: 90px;
  height: 90px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  color: #FF3700;
  font-size: 8rem;
  background: #fff;
  border: 2px solid #e8eaed;
  float: left;
  margin-right: 15px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  padding-left: 3px;
}

@media screen and (max-width: 576px) {
  .article .post-tags li {
    margin-bottom: 8px;
  }
}

.article .post-tags li:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 576px) {
  .article .post-tags li:first-child {
    display: none;
  }
}

.article .post-tags li:after {
  display: none;
}

.article .post-tags li a {
  border-radius: 30px;
  margin-right: 3px;
  background: #616161;
  padding: 5px 12px;
  font-size: 11px;
  color: #fff;
}

.article .post-tags li a:hover, .article .post-tags li a:focus {
  color: rgba(255, 255, 255, 0.5);
}

.article .post-tags li a.sty_1 {
  background: #003a65;
}

.article .post-tags li a.sty_2 {
  background: #FF3700;
}

.article .post-tags li a.sty_3 {
  background: #FE979C;
}

.article .post-tags li a.sty_4 {
  background: #3E90A8;
}

.article .post-tags li a.sty_5 {
  background: #F56F4A;
}

@media screen and (max-width: 576px) {
  .article .author {
    float: left !important;
    margin-left: 10px;
  }
}

.prev-post .post-title, .next-post .post-title {
  line-height: 18px;
}

.prev-post .post-title a:hover, .prev-post .post-title a:focus, .next-post .post-title a:hover, .next-post .post-title a:focus {
  color: #FF3700;
}

/*=========================================================
	Shopping List
===========================================================*/
#sidebar {
  float: right;
}

#scroller {
  width: 300px;
  z-index: 1;
}

@media screen and (max-width: 576px) {
  #scroller {
    width: 360px;
    z-index: 109;
  }
}

.shopBox {
  padding: 0 20px 25px;
  border: 1px solid #F7D0CB;
  background: white;
}

.shopBox .section-title {
  padding: 20px 10px 10px;
  text-align: right;
  background: -webkit-gradient(linear, right top, left top, from(#ff8572), to(#ffc3b4));
  background: linear-gradient(-90deg, #ff8572 0%, #ffc3b4 100%);
  overflow: hidden;
  margin-right: -20px;
  margin-left: -20px;
  margin-bottom: 28px;
}

.shopBox .section-title:after {
  font-family: 'PWSmallIcons';
  content: "4";
  display: inline-block;
  position: absolute;
  right: 0px;
  color: #fff;
  font-size: 17rem;
  font-weight: 100;
  top: 16px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.shopBox .section-title .title {
  font-size: 1.8rem;
  color: #fff;
  padding-right: 0px;
  line-height: initial;
  padding-left: 18px;
  font-weight: 700;
  text-align: left;
}

.shopBox .post.post-widget {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.shopBox .post.post-widget a {
  position: relative;
  width: 110px;
  border-radius: 0%;
  font-size: 1.4rem;
}

.shopBox .post.post-widget a.post-img.w100 {
  width: 100% !important;
  border-radius: 0% !important;
}

.shopBox .post.post-widget a:hover {
  color: #392F22;
}

.shopBox .post.post-widget .post-body {
  position: relative;
  background: transparent;
  margin: 0px 0px 0px 125px;
  padding: 0;
}

.shopBox .post.post-widget .post-body .post-title {
  font-size: 16px;
  margin-bottom: 0px;
  line-height: 1.8rem;
}

.shopBox .post.post-widget .post-body .post-category {
  margin-bottom: 8px;
  line-height: 0.6rem;
}

.shopBox .post.post-widget .post-body .post-category a {
  color: #FF3700;
  font-size: 1rem;
}

.shopBox .post.post-widget .post-body .post-category a:hover {
  color: #392F22;
}

/*=========================================================
	置頂 btn - Back top btn
===========================================================*/
#back-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 110;
}

@media screen and (max-width: 576px) {
  #back-top {
    right: 28px;
  }
}

#back-top a {
  width: 4.2rem;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;
  -webkit-transition: 1s;
  transition: 1s;
}

#back-top a:hover {
  color: #000;
}

/* arrow icon (span tag) */
#back-top span {
  width: 5rem;
  height: 5rem;
  display: block;
  background-color: #fe9384;
  -webkit-transition: 1s;
  transition: 1s;
  color: #fff;
  -webkit-box-shadow: 0 0px 16px 5px rgba(254, 147, 132, 0.4);
          box-shadow: 0 0px 16px 5px rgba(254, 147, 132, 0.4);
  border-radius: 50%;
}

#back-top a:hover span {
  background-color: rgba(211, 131, 120, 0.4);
}

.iconbi {
  font-size: 3.4rem;
  line-height: 4.8rem;
}

/*=========================================================
	accountBox 個人帳戶
===========================================================*/
.sidebar .userid {
  padding: 20px 30px;
}

@media screen and (max-width: 576px) {
  .sidebar .userid {
    margin-top: -58px;
    padding: 20px 30px 0px;
    border-bottom: 1px solid #eee;
  }
}

.sidebar .userid .userinfo {
  margin-top: 20px;
  color: #989898;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.25);*/
  padding-bottom: 15px;
  /*margin-bottom: 20px;*/
  font-weight: 700;
}

.sidebar .userid .userinfo div {
  margin-bottom: 8px;
}

.sidebar .userid .userinfo div span {
  color: #FF3700;
  position: absolute;
  left: 100px;
}

.sidebar .userphoto {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #ffbbb1;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  -webkit-box-shadow: 0px 8px 10px rgba(126, 74, 74, 0.15);
          box-shadow: 0px 8px 10px rgba(126, 74, 74, 0.15);
}

.sidebar .userphoto i {
  line-height: 64px;
  font-size: 60px;
}

.sidebar .userphoto .badge {
  display: inline-block;
  min-width: 10px;
  padding: 5px 6px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #F56F4A;
  border-radius: 50%;
  position: absolute;
  margin-top: 3.4rem;
  margin-left: -1rem;
}

.sidebar .userphoto .badge i {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.accountBox .container {
  overflow-y: hidden;
  position: relative;
}

.menu_toggle_btn {
  position: absolute;
  border-radius: 50%;
  background: #fff;
  top: 20px;
  right: 0px;
  border: 1px solid #FE979C;
}

@media screen and (max-width: 576px) {
  .menu_toggle_btn {
    top: 0px;
    right: 15px;
    z-index: 100;
  }
}

.accountBox {
  margin-top: 125px;
}

@media screen and (max-width: 576px) {
  .accountBox {
    margin-top: 46px;
  }
}

.accountBox .infoBox .login_sign {
  margin-top: 30px;
}

.accountBox .infoBox .login_sign .form-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
  .accountBox .infoBox .login_sign .form-horizontal {
    display: contents;
  }
}

.accountBox .infoBox .login_sign .form-horizontal .checkbox .checkbox-btn {
  margin-right: 20px;
}

.accountBox .infoBox .login_sign .form-horizontal .checkbox .checkbox-btn label {
  font-size: 100%;
  padding-left: 8px;
}

.accountBox .infoBox .login_sign .form-horizontal label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 12px;
  padding-left: 0px;
}

@media screen and (max-width: 576px) {
  .accountBox .infoBox .login_sign .form-horizontal label {
    margin-top: 10px;
    padding-left: 0px;
  }
}

.accountBox .infoBox .login_sign .form-horizontal input {
  width: 100%;
}

.accountBox .infoBox .login_sign .form-horizontal input.fix_content {
  width: initial;
}

.accountBox .infoBox .login_sign .form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  width: 100% !important;
}

.accountBox .infoBox .login_sign .form-horizontal .form-group .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}

.accountBox .infoBox .login_sign .form-horizontal .form-group .btn {
  border-radius: 2px;
}

.accountBox .infoBox .login_sign .form-horizontal .form-group .btn .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 6px dashed;
  border-top: 4px solid\9;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  color: #FF3700;
}

.accountBox .infoBox .login_sign .form-horizontal .form-group .btn.dropdown-toggle::after {
  display: none;
}

.accountBox .infoBox .login_sign .form-horizontal .form-group .form-control {
  border-radius: 0px;
}

.accountBox .infoBox .login_sign .form-horizontal .form-group .form-control:focus {
  border-color: #fe9384;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 152, 137, 0.5);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 152, 137, 0.5);
}

.accountBox .infoBox .login_sign .form-horizontal .form-group .dropdown-menu > .active > a, .accountBox .infoBox .login_sign .form-horizontal .form-group .dropdown-menu > .active > a:focus, .accountBox .infoBox .login_sign .form-horizontal .form-group .dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ff7e6c;
  outline: 0;
}

.accountBox .infoBox .login_sign .text_s {
  text-align: left;
}

.accountBox .infoBox .login_sign .text_s .login_info {
  display: block;
}

.accountBox .infoBox .login_sign .text_s .login_info a {
  color: #FF3700;
  cursor: pointer;
  font-weight: 700;
}

.accountBox .infoBox .login_sign .text_s .login_info .pw {
  float: right;
}

.accountBox .infoBox .login_sign .text_s .login_info.mt_70 {
  margin-top: 80px;
}

.accountBox .infoBox .login_sign .text_s .login_info.pw {
  float: right;
}

.accountBox .pointsTable #example_length {
  display: none !important;
}

.accountBox .pointsTable .dataTables_wrapper, .accountBox .pointsTable table.dataTable {
  clear: initial;
}

@media screen and (max-width: 576px) {
  .accountBox .pointsTable .dataTables_wrapper, .accountBox .pointsTable table.dataTable {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    clear: left;
  }
}

.accountBox .pointsTable .dataTables_wrapper .dataTables_filter {
  float: left;
  text-align: left;
}

.accountBox .pointsTable .dataTables_wrapper .dataTables_filter label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1.2rem;
  font-weight: 700;
}

.accountBox .pointsTable table.dataTable thead th,
.accountBox .pointsTable table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #F56F4A;
  position: relative;
}

@media screen and (max-width: 576px) {
  .accountBox .pointsTable table.dataTable thead th,
  .accountBox .pointsTable table.dataTable thead td {
    padding: 10px 44px 10px 18px;
  }
}

.accountBox .pointsTable table.dataTable.no-footer {
  border-bottom: 3px solid #F56F4A;
}

.accountBox .pointsTable table.dataTable.stripe tbody tr.odd,
.accountBox .pointsTable table.dataTable.display tbody tr.odd {
  background-color: #fff6f6;
}

.accountBox .pointsTable table.dataTable.display tbody tr.odd > .sorting_1,
.accountBox .pointsTable table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #ffe7e4;
}

.accountBox .pointsTable table.dataTable.display tbody tr.even > .sorting_1,
.accountBox .pointsTable table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #fef6f5;
}

.accountBox .pointsTable table.dataTable.hover tbody tr:hover,
.accountBox .pointsTable table.dataTable.display tbody tr:hover {
  background-color: #ffebe9 !important;
}

.accountBox .pointsTable table.dataTable thead .sorting_asc,
.accountBox .pointsTable table.dataTable thead .sorting_desc,
.accountBox .pointsTable table.dataTable thead .sorting {
  background-image: none;
}

.accountBox .pointsTable table.dataTable thead .sorting_asc:after {
  content: "\E313";
  font-family: 'Material Icons';
  color: #FF3700;
  vertical-align: middle;
  position: absolute;
  right: 15px;
  font-size: 2rem;
}

@media screen and (max-width: 576px) {
  .accountBox .pointsTable table.dataTable thead .sorting_asc:after {
    right: 0px;
  }
}

.accountBox .pointsTable table.dataTable thead .sorting_desc:after {
  content: "\E316";
  font-family: 'Material Icons';
  color: #FF3700;
  vertical-align: middle;
  position: absolute;
  right: 15px;
  font-size: 2rem;
}

.accountBox .pointsTable table.dataTable thead .sorting:after {
  content: "\E313";
  font-family: 'Material Icons';
  color: #FF3700;
  vertical-align: middle;
  position: absolute;
  right: 15px;
  font-size: 2rem;
}

@media screen and (max-width: 576px) {
  .accountBox .pointsTable table.dataTable thead .sorting:after {
    right: 0px;
  }
}

.accountBox .pointsTable .dataTables_wrapper .dataTables_paginate .paginate_button {
  border-radius: 12px;
}

.accountBox .pointsTable .dataTables_wrapper .dataTables_paginate .paginate_button.next, .accountBox .pointsTable .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
  border: 0px solid #FF3700 !important;
  background: none !important;
  color: #333 !important;
}

.accountBox .pointsTable .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover, .accountBox .pointsTable .dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover {
  color: #FF3700 !important;
}

.accountBox .pointsTable .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 1px solid #FF3700;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF3700), to(#FE979C));
  background: linear-gradient(to bottom, #FF3700 0%, #FE979C 100%);
}

.accountBox .pointsTable .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.accountBox .pointsTable .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #FF3700 !important;
  border: 1px solid #FF3700;
  background: none;
}

.accountBox .pointsTable .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.accountBox .pointsTable .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.accountBox .pointsTable .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accountBox .pointsTable .dataTables_wrapper .dataTables_paginate {
  padding-top: 0.8rem;
}

@media screen and (max-width: 767px) {
  .accountBox .pointsTable .dataTables_wrapper .dataTables_paginate {
    padding-top: 1.2rem;
    float: left;
  }
}

.accountBox .id_classCard .related .post.post-sm .post-title.title-sm {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 10px;
}

.accountBox .id_classCard .related .post.post-sm .post-meta a {
  color: #96989b;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.accountBox .id_classCard .related .post.post-sm .post-meta a:hover, .accountBox .id_classCard .related .post.post-sm .post-meta a:focus {
  color: #FF3700 !important;
}

.accountBox .id_classCard .related .post.post-sm .post-body {
  margin: 0px 0px 0px;
  background: transparent;
  padding: 20px 15px 30px;
  border: 1px solid #ddd;
}

.accountBox .id_classCard .related .post-meta.tag_box {
  margin-top: 6px;
}

.accountBox .id_classCard .related .post-meta.tag_box li.tag a {
  font-size: 10px;
  border-radius: 30px;
  margin-right: 3px;
  padding: 5px 12px;
  color: #fff;
}

.accountBox .id_classCard .related .post-meta.tag_box li.tag a:hover, .accountBox .id_classCard .related .post-meta.tag_box li.tag a:focus {
  color: rgba(255, 255, 255, 0.5) !important;
}

.accountBox .id_classCard .related .post-meta.tag_box li.tag a:after {
  display: none;
}

.accountBox .id_classCard .related .post-meta.act_info {
  margin-top: 10px;
}

.accountBox .id_classCard .related .post-meta.act_info li {
  display: block;
  color: #96989b;
  font-weight: bold;
}

.accountBox .id_classCard .related .post-meta.act_info li span {
  color: #333;
  margin-left: 6px;
}

.accountBox .id_classCard .related .post-meta.act_info li:after {
  content: '';
}

.accountBox .id_classCard .isOpen {
  overflow-x: hidden;
}

.accountBox .id_classCard .isOpen:after {
  content: '開放報名';
  position: absolute;
  line-height: 32px;
  width: 150px;
  height: 32px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: #fff;
  background-color: #FF3700;
  text-align: center;
  right: -38px;
  top: 18px;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 0px 5px 10px 0px #a3a3a3;
          box-shadow: 0px 5px 10px 0px #a3a3a3;
}

.accountBox .id_classCard .overDue {
  overflow-x: hidden;
}

.accountBox .id_classCard .overDue:after {
  content: '報名截止';
  position: absolute;
  line-height: 32px;
  width: 150px;
  height: 32px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: #fff;
  background-color: #96989b;
  text-align: center;
  right: -38px;
  top: 18px;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 0px 5px 10px 0px #a3a3a3;
          box-shadow: 0px 5px 10px 0px #a3a3a3;
}

.accountBox .id_classCard .overDue .act_book {
  display: none;
}

.accountBox .id_classCard .isBooked {
  overflow-x: hidden;
}

.accountBox .id_classCard .isBooked:after {
  content: '已報名';
  position: absolute;
  line-height: 32px;
  width: 150px;
  height: 32px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: #fff;
  background-color: #FE979C;
  text-align: center;
  right: -38px;
  top: 18px;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 0px 5px 10px 0px #a3a3a3;
          box-shadow: 0px 5px 10px 0px #a3a3a3;
}

.accountBox .id_classCard .isBooked .act_book {
  display: none;
}

@media (max-width: 992px) {
  nav.navbar.bootsnav.no-full .navbar-collapse {
    max-height: calc(100vh - 57px);
    overflow-y: auto !important;
  }
  nav.navbar .navbar-brand img.logo {
    width: 120px;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .attr-nav {
    right: 30px;
    top: 0;
  }
  .attr-nav > ul > li > a {
    padding: 18px 15px;
  }
  .attr-nav > ul > li > a span.badge {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    right: 9px;
    font-size: 10px;
    padding: 0;
    width: 15px;
    height: 15px;
    padding-top: 2px;
  }
  .attr-nav > ul > li.dropdown ul.dropdown-menu {
    left: -200px;
    margin-top: -10px;
  }
  nav.bootsnav .megamenu-content .content {
    display: none !important;
  }
  nav.bootsnav .megamenu-content .title {
    margin-top: 0px;
    font-size: 1.6rem;
  }
  .p_n_xs {
    padding-right: 0;
    padding-left: 0;
  }
  .xs_hidden {
    display: none !important;
  }
  .hot_search {
    margin-top: 58px;
  }
  .hot_search .tag {
    margin: 0 10px;
  }
  .hot_search .tag div {
    margin-top: 8px;
  }
  .actCard .post.post-row .post-img {
    width: 100%;
    float: none;
  }
  .actCard .post.post-row .post-body {
    margin: 0;
    padding: 15px;
  }
  .related .post.post-sm .post-body {
    margin: 0px 0px 0px;
    background: transparent;
    padding: 15px;
  }
  nav.navbar.bootsnav {
    z-index: 200;
  }
}
