@charset "UTF-8";
/* CSS Document */


@font-face {
  font-family: 'Chalk';
  src: url('../fonts/Right Chalk.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PWChalk';
  src: url('../fonts/PWChalk.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josh';
  src: url('../fonts/Josh Handwriting.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nymphs';
  src: url('../fonts/NymphsHandwriting.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PWSmallIcons';
  src: url('../fonts/PWSmallIcons.ttf');
  font-weight: normal;
  font-style: normal;
}